  1.3668 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (11,20)]
  1.8055 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (11,20)]
  1.8214 /work/lpdi/databases/maps/h7/3h79_A.pds [(93,100), (103,112)]
  1.8344 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (14,23)]
  1.9057 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (15,24)]
  1.9284 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (15,24)]
  1.9381 /work/lpdi/databases/maps/b4/2b4a_A.pds [(92,99), (102,111)]
  1.9651 /work/lpdi/databases/maps/ii/1iib_A.pds [(49,56), (58,67)]
  1.9809 /work/lpdi/databases/maps/wz/2wz9_A.pds [(84,91), (94,103)]
  1.9879 /work/lpdi/databases/maps/f3/1f37_A.pds [(69,76), (78,87)]
  2.0381 /work/lpdi/databases/maps/f5/2f51_A.pds [(89,96), (99,108)]
  2.0433 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (13,22)]
  2.0465 /work/lpdi/databases/maps/d2/3d21_A.pds [(86,93), (96,105)]
  2.0586 /work/lpdi/databases/maps/y8/1y81_A.pds [(57,64), (69,78)]
  2.0864 /work/lpdi/databases/maps/tt/1ttz_A.pds [(53,60), (63,72)]
  2.0898 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (10,19)]
  2.0909 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (11,20)]
  2.1229 /work/lpdi/databases/maps/wz/2wz9_A.pds [(85,92), (94,103)]
  2.1245 /work/lpdi/databases/maps/gm/1gmx_A.pds [(58,65), (67,76)]
  2.1366 /work/lpdi/databases/maps/y8/1y81_A.pds [(57,64), (66,75)]
  2.1467 /work/lpdi/databases/maps/eo/3eod_A.pds [(50,57), (59,68)]
  2.2006 /work/lpdi/databases/maps/ii/1iib_A.pds [(48,55), (58,67)]
  2.2095 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (14,23)]
  2.2195 /work/lpdi/databases/maps/ii/1iib_A.pds [(2,9), (11,20)]
  2.2296 /work/lpdi/databases/maps/d2/3d21_A.pds [(87,94), (96,105)]
  2.2642 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (12,21)]
  2.2646 /work/lpdi/databases/maps/b4/2b4a_A.pds [(91,98), (102,111)]
  2.2723 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (10,19)]
  2.2906 /work/lpdi/databases/maps/eo/3eod_A.pds [(93,100), (102,111)]
  2.2917 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (15,24)]
   2.313 /work/lpdi/databases/maps/gm/1gmx_A.pds [(57,64), (70,79)]
  2.3132 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (69,78)]
  2.3158 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (97,106)]
  2.3176 /work/lpdi/databases/maps/gm/1gmx_A.pds [(57,64), (67,76)]
  2.3286 /work/lpdi/databases/maps/f5/2f51_A.pds [(1,8), (10,19)]
  2.3313 /work/lpdi/databases/maps/h7/3h79_A.pds [(94,101), (103,112)]
  2.3423 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (12,21)]
  2.3463 /work/lpdi/databases/maps/hx/3hxs_A.pds [(94,101), (104,113)]
  2.3484 /work/lpdi/databases/maps/r4/2r48_A.pds [(76,83), (86,95)]
   2.357 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (14,23)]
  2.3613 /work/lpdi/databases/maps/xg/1xg8_A.pds [(82,89), (93,102)]
  2.3678 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (65,74)]
  2.3739 /work/lpdi/databases/maps/f5/2f51_A.pds [(88,95), (99,108)]
  2.3756 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (96,105)]
  2.3757 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (32,41)]
  2.3785 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (15,24)]
  2.3819 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (96,105)]
  2.3842 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (10,19)]
  2.3902 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (15,24)]
  2.4074 /work/lpdi/databases/maps/eo/3eod_A.pds [(74,81), (83,92)]
  2.4095 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (18,27)]
  2.4129 /work/lpdi/databases/maps/eo/3eod_A.pds [(49,56), (59,68)]
  2.4199 /work/lpdi/databases/maps/tt/1ttz_A.pds [(54,61), (63,72)]
  2.4236 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (14,23)]
  2.4282 /work/lpdi/databases/maps/ku/4kun_A.pds [(5,12), (14,23)]
  2.4288 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (83,92)]
  2.4325 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (12,21)]
  2.4333 /work/lpdi/databases/maps/tt/1ttz_A.pds [(0,7), (9,18)]
  2.4527 /work/lpdi/databases/maps/oj/2ojl_A.pds [(3,10), (12,21)]
  2.4801 /work/lpdi/databases/maps/ku/4kun_A.pds [(5,12), (18,27)]
