  1.7796 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (18,27)]
   1.868 /work/lpdi/databases/maps/tt/1ttz_A.pds [(53,60), (63,72)]
  1.8742 /work/lpdi/databases/maps/ii/1iib_A.pds [(72,79), (86,95)]
  1.9473 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (83,92)]
  2.1408 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (15,24)]
  2.1831 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (97,106)]
  2.2459 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (15,24)]
  2.2591 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (15,24)]
  2.2638 /work/lpdi/databases/maps/vf/3vfi_A.pds [(82,89), (92,101)]
  2.2657 /work/lpdi/databases/maps/gn/3gnj_A.pds [(85,92), (101,110)]
  2.2662 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (15,24)]
  2.2681 /work/lpdi/databases/maps/ii/1iib_A.pds [(71,78), (86,95)]
  2.2684 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (18,27)]
  2.2708 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (18,27)]
  2.2728 /work/lpdi/databases/maps/gn/3gnj_A.pds [(87,94), (97,106)]
  2.2811 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (18,27)]
    2.33 /work/lpdi/databases/maps/r4/2r48_A.pds [(74,81), (90,99)]
  2.3644 /work/lpdi/databases/maps/eo/3eod_A.pds [(73,80), (83,92)]
  2.3716 /work/lpdi/databases/maps/b4/2b4a_A.pds [(92,99), (102,111)]
  2.3904 /work/lpdi/databases/maps/hx/3hxs_A.pds [(93,100), (104,113)]
  2.4067 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (16,25)]
  2.4095 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (90,99)]
  2.4194 /work/lpdi/databases/maps/hx/3hxs_A.pds [(94,101), (104,113)]
  2.4292 /work/lpdi/databases/maps/oj/2ojl_A.pds [(51,58), (67,76)]
   2.434 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (19,28)]
   2.473 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (69,78)]
  2.4765 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (70,79)]
  2.4796 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (16,25)]
  2.4908 /work/lpdi/databases/maps/y8/1y81_A.pds [(81,88), (92,101)]
  2.4951 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (96,105)]
  2.5005 /work/lpdi/databases/maps/oj/2ojl_A.pds [(52,59), (67,76)]
  2.5027 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (101,110)]
  2.5057 /work/lpdi/databases/maps/ku/4kun_A.pds [(69,76), (80,89)]
  2.5096 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (100,109)]
  2.5191 /work/lpdi/databases/maps/hz/3hz4_A.pds [(84,91), (100,109)]
  2.5799 /work/lpdi/databases/maps/ii/1iib_A.pds [(73,80), (86,95)]
  2.5864 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (89,98)]
  2.5875 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (17,26)]
  2.5876 /work/lpdi/databases/maps/r4/2r48_A.pds [(76,83), (89,98)]
  2.5927 /work/lpdi/databases/maps/hx/3hxs_A.pds [(92,99), (104,113)]
  2.6027 /work/lpdi/databases/maps/y8/1y81_A.pds [(79,86), (92,101)]
  2.6103 /work/lpdi/databases/maps/ii/1iib_A.pds [(72,79), (87,96)]
  2.6197 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (12,21)]
  2.6258 /work/lpdi/databases/maps/eo/3eod_A.pds [(71,78), (83,92)]
  2.6279 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (17,26)]
  2.6342 /work/lpdi/databases/maps/tt/1ttz_A.pds [(52,59), (63,72)]
   2.646 /work/lpdi/databases/maps/y8/1y81_A.pds [(57,64), (69,78)]
  2.6518 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (36,45)]
  2.6545 /work/lpdi/databases/maps/vf/3vfi_A.pds [(81,88), (92,101)]
  2.6548 /work/lpdi/databases/maps/y8/1y81_A.pds [(80,87), (92,101)]
  2.6598 /work/lpdi/databases/maps/r4/2r48_A.pds [(76,83), (90,99)]
   2.665 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (12,21)]
  2.6657 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (69,78)]
   2.674 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (16,25)]
  2.6799 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (19,28)]
    2.68 /work/lpdi/databases/maps/wo/1wou_A.pds [(97,104), (109,118)]
  2.6837 /work/lpdi/databases/maps/ii/1iib_A.pds [(71,78), (87,96)]
  2.6954 /work/lpdi/databases/maps/r4/2r48_A.pds [(74,81), (89,98)]
  2.7007 /work/lpdi/databases/maps/ii/1iib_A.pds [(49,56), (62,71)]
  2.7035 /work/lpdi/databases/maps/b4/2b4a_A.pds [(46,53), (62,71)]
