   1.576 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (102,109)]
  1.6853 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (54,61)]
  1.7368 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (91,98)]
  1.8474 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (103,110)]
   1.893 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (92,99)]
  1.9058 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (75,82)]
   1.909 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (45,52)]
  2.0033 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (55,62)]
   2.017 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (46,53)]
  2.0305 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (92,99)]
  2.0815 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (77,84)]
  2.0938 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (104,111)]
  2.1294 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (73,80)]
  2.1319 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (40,47)]
  2.1447 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (74,81)]
  2.1964 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (93,100)]
  2.2084 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (39,46)]
   2.215 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (53,60)]
  2.2611 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (39,46)]
  2.2703 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (92,99)]
  2.2793 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (72,79)]
  2.3184 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (71,78)]
  2.3257 /work/lpdi/databases/maps/bk/2bkf_A.pds [(59,75), (77,84)]
  2.3396 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (76,83)]
  2.3469 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (40,47)]
  2.3546 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (72,79)]
  2.3944 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (102,109)]
  2.4194 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (38,45)]
  2.4673 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (26,33)]
  2.4777 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (91,98)]
  2.4897 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (41,48)]
  2.4931 /work/lpdi/databases/maps/hz/1hz5_A.pds [(36,52), (54,61)]
   2.554 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (71,78)]
  2.5674 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (101,108)]
  2.6083 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (70,77)]
  2.6262 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (47,54)]
  2.6816 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (103,110)]
  2.6829 /work/lpdi/databases/maps/bk/2bkf_A.pds [(59,75), (78,85)]
  2.7165 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (104,111)]
  2.7282 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (75,82)]
  2.7615 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (27,34)]
  2.7697 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (25,32)]
  2.7926 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (74,81)]
  2.8324 /work/lpdi/databases/maps/hz/1hz5_A.pds [(35,51), (53,60)]
  2.8355 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (41,48)]
  2.8362 /work/lpdi/databases/maps/hz/1hz5_A.pds [(35,51), (54,61)]
  2.8464 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (103,110)]
  2.8999 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (93,100)]
  2.9087 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (104,111)]
  2.9251 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (62,69)]
  2.9826 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (102,109)]
  2.9903 /work/lpdi/databases/maps/vr/1vr7_A.pds [(82,98), (104,111)]
   2.995 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (42,49)]
  3.0016 /work/lpdi/databases/maps/hz/1hz5_A.pds [(36,52), (55,62)]
  3.0093 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (91,98)]
  3.0151 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (61,68)]
  3.0392 /work/lpdi/databases/maps/hz/1hz5_A.pds [(33,49), (54,61)]
  3.0458 /work/lpdi/databases/maps/vr/1vr7_A.pds [(82,98), (103,110)]
  3.0628 /work/lpdi/databases/maps/wm/1wmh_A.pds [(55,71), (75,82)]
  3.0721 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (73,80)]
