   1.234 /work/lpdi/databases/maps/of/1ofu_X.pds [(95,104), (110,117)]
  1.2462 /work/lpdi/databases/maps/wm/1wmh_B.pds [(60,69), (72,79)]
  1.3158 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (23,30)]
  1.3307 /work/lpdi/databases/maps/vm/1vm0_A.pds [(13,22), (28,35)]
  1.3468 /work/lpdi/databases/maps/of/1ofu_X.pds [(95,104), (109,116)]
  1.3825 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (21,28)]
  1.4108 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (22,29)]
  1.4602 /work/lpdi/databases/maps/bk/2bkf_A.pds [(61,70), (76,83)]
  1.4961 /work/lpdi/databases/maps/w1/3w1y_A.pds [(13,22), (24,31)]
  1.5536 /work/lpdi/databases/maps/ti/1tid_B.pds [(63,72), (77,84)]
  1.5539 /work/lpdi/databases/maps/pp/2ppi_A.pds [(71,80), (84,91)]
  1.5565 /work/lpdi/databases/maps/h0/1h0x_A.pds [(10,19), (26,33)]
  1.5708 /work/lpdi/databases/maps/pp/2ppi_A.pds [(71,80), (85,92)]
  1.5769 /work/lpdi/databases/maps/of/1ofu_X.pds [(20,29), (32,39)]
  1.5773 /work/lpdi/databases/maps/nb/1nbw_B.pds [(14,23), (29,36)]
  1.5986 /work/lpdi/databases/maps/n6/1n6j_A.pds [(24,33), (39,46)]
  1.6038 /work/lpdi/databases/maps/hz/1hz5_A.pds [(38,47), (52,59)]
  1.6083 /work/lpdi/databases/maps/l1/1l1s_A.pds [(50,59), (62,69)]
  1.6083 /work/lpdi/databases/maps/r5/1r5x_A.pds [(9,18), (22,29)]
  1.6136 /work/lpdi/databases/maps/oq/3oq2_A.pds [(51,60), (66,73)]
  1.6145 /work/lpdi/databases/maps/l1/1l1s_A.pds [(19,28), (30,37)]
  1.6285 /work/lpdi/databases/maps/oe/1oey_A.pds [(60,69), (73,80)]
  1.6388 /work/lpdi/databases/maps/nn/2nn2_A.pds [(68,77), (82,89)]
  1.6394 /work/lpdi/databases/maps/er/3erj_A.pds [(57,66), (71,78)]
  1.6404 /work/lpdi/databases/maps/ff/2ffg_A.pds [(6,15), (21,28)]
  1.6458 /work/lpdi/databases/maps/gs/3gsd_A.pds [(66,75), (79,86)]
  1.6669 /work/lpdi/databases/maps/ti/1tid_B.pds [(63,72), (76,83)]
  1.6689 /work/lpdi/databases/maps/yl/1ylq_A.pds [(4,13), (15,22)]
  1.6698 /work/lpdi/databases/maps/td/3td3_A.pds [(26,35), (40,47)]
  1.6742 /work/lpdi/databases/maps/wm/1wmh_A.pds [(58,67), (74,81)]
  1.6799 /work/lpdi/databases/maps/hz/2hz5_A.pds [(0,9), (11,18)]
  1.6804 /work/lpdi/databases/maps/sk/1sko_A.pds [(3,12), (19,26)]
  1.6827 /work/lpdi/databases/maps/xm/1xmt_A.pds [(50,59), (65,72)]
   1.707 /work/lpdi/databases/maps/ft/2ftr_A.pds [(25,34), (36,43)]
  1.7111 /work/lpdi/databases/maps/xm/1xmt_A.pds [(50,59), (63,70)]
  1.7169 /work/lpdi/databases/maps/ti/1tig_A.pds [(16,25), (31,38)]
  1.7175 /work/lpdi/databases/maps/no/1no5_A.pds [(9,18), (20,27)]
  1.7343 /work/lpdi/databases/maps/d1/2d1p_B.pds [(18,27), (32,39)]
  1.7403 /work/lpdi/databases/maps/yy/2yy9_A.pds [(58,67), (72,79)]
  1.7416 /work/lpdi/databases/maps/wo/1wou_A.pds [(8,17), (21,28)]
  1.7442 /work/lpdi/databases/maps/r7/1r7l_A.pds [(48,57), (59,66)]
  1.7468 /work/lpdi/databases/maps/rs/2rsl_A.pds [(65,74), (78,85)]
  1.7474 /work/lpdi/databases/maps/dn/3dnj_A.pds [(28,37), (42,49)]
   1.748 /work/lpdi/databases/maps/ln/1ln4_A.pds [(33,42), (44,51)]
  1.7505 /work/lpdi/databases/maps/dh/3dhh_E.pds [(23,32), (34,41)]
  1.7507 /work/lpdi/databases/maps/wc/2wci_A.pds [(33,42), (44,51)]
  1.7524 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (22,29)]
  1.7525 /work/lpdi/databases/maps/mn/1mnm_A.pds [(26,35), (41,48)]
  1.7633 /work/lpdi/databases/maps/nn/1nn7_A.pds [(46,55), (60,67)]
  1.7784 /work/lpdi/databases/maps/ff/2ffm_A.pds [(38,47), (49,56)]
  1.7849 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (21,28)]
  1.7872 /work/lpdi/databases/maps/fm/1fm5_A.pds [(44,53), (56,63)]
  1.7881 /work/lpdi/databases/maps/yq/1yqh_A.pds [(27,36), (38,45)]
  1.7888 /work/lpdi/databases/maps/r5/1r5x_A.pds [(9,18), (21,28)]
  1.7891 /work/lpdi/databases/maps/bk/2bkf_A.pds [(61,70), (75,82)]
   1.791 /work/lpdi/databases/maps/bj/2bjd_A.pds [(54,63), (70,77)]
  1.7942 /work/lpdi/databases/maps/vm/1vm0_A.pds [(14,23), (28,35)]
  1.7984 /work/lpdi/databases/maps/td/3td3_A.pds [(29,38), (40,47)]
   1.799 /work/lpdi/databases/maps/ti/1tig_A.pds [(17,26), (31,38)]
  1.7994 /work/lpdi/databases/maps/h9/2h9u_A.pds [(15,24), (31,38)]
