  1.4892 /work/lpdi/databases/maps/y7/1y7p_A.pds [(139,146), (150,162)]
  1.5069 /work/lpdi/databases/maps/ei/2ei9_A.pds [(85,92), (98,110)]
   1.568 /work/lpdi/databases/maps/wd/1wdu_A.pds [(94,101), (107,119)]
   1.627 /work/lpdi/databases/maps/wd/1wdu_A.pds [(3,10), (13,25)]
  1.6286 /work/lpdi/databases/maps/fi/2fiu_A.pds [(3,10), (18,30)]
  1.6403 /work/lpdi/databases/maps/u8/1u8s_A.pds [(44,51), (58,70)]
  1.6403 /work/lpdi/databases/maps/u8/1u8s_A.pds [(44,51), (58,70)]
  1.7182 /work/lpdi/databases/maps/ca/2ca9_A.pds [(51,58), (62,74)]
  1.7617 /work/lpdi/databases/maps/mr/3mr7_A.pds [(10,17), (25,37)]
  1.7634 /work/lpdi/databases/maps/go/2go8_A.pds [(11,18), (22,34)]
  1.7705 /work/lpdi/databases/maps/u8/1u8s_A.pds [(5,12), (15,27)]
  1.7705 /work/lpdi/databases/maps/u8/1u8s_A.pds [(5,12), (15,27)]
  1.7808 /work/lpdi/databases/maps/j9/2j9c_A.pds [(58,65), (72,84)]
  1.8094 /work/lpdi/databases/maps/ei/2ei9_A.pds [(3,10), (13,25)]
  1.8097 /work/lpdi/databases/maps/pa/3pac_A.pds [(132,139), (146,158)]
  1.8097 /work/lpdi/databases/maps/pa/3pac_A.pds [(132,139), (146,158)]
  1.8345 /work/lpdi/databases/maps/om/2omo_A.pds [(10,17), (22,34)]
  1.8458 /work/lpdi/databases/maps/gf/2gff_A.pds [(3,10), (15,27)]
   1.851 /work/lpdi/databases/maps/lo/3lo3_A.pds [(4,11), (19,31)]
  1.8569 /work/lpdi/databases/maps/u8/1u8s_A.pds [(92,99), (102,114)]
  1.8569 /work/lpdi/databases/maps/u8/1u8s_A.pds [(92,99), (102,114)]
  1.8606 /work/lpdi/databases/maps/o6/2o66_A.pds [(51,58), (65,77)]
  1.8815 /work/lpdi/databases/maps/oz/4ozj_A.pds [(48,55), (62,74)]
  1.8821 /work/lpdi/databases/maps/nz/2nzc_A.pds [(4,11), (18,30)]
  1.8849 /work/lpdi/databases/maps/nz/2nzc_A.pds [(4,11), (14,26)]
  1.8902 /work/lpdi/databases/maps/y0/1y0h_A.pds [(7,14), (19,31)]
  1.8932 /work/lpdi/databases/maps/oq/3oq2_A.pds [(5,12), (19,31)]
  1.9133 /work/lpdi/databases/maps/a1/2a10_A.pds [(38,45), (52,64)]
  1.9181 /work/lpdi/databases/maps/x7/1x7v_A.pds [(7,14), (19,31)]
  1.9229 /work/lpdi/databases/maps/u8/1u8s_A.pds [(131,138), (146,158)]
  1.9229 /work/lpdi/databases/maps/u8/1u8s_A.pds [(131,138), (146,158)]
  1.9279 /work/lpdi/databases/maps/q5/1q5v_A.pds [(77,84), (88,100)]
  1.9372 /work/lpdi/databases/maps/j5/2j5a_A.pds [(62,69), (73,85)]
  1.9418 /work/lpdi/databases/maps/si/1si9_A.pds [(8,15), (21,33)]
  1.9426 /work/lpdi/databases/maps/y3/2y3y_A.pds [(6,13), (17,29)]
  1.9507 /work/lpdi/databases/maps/y7/1y7p_A.pds [(79,86), (92,104)]
  1.9625 /work/lpdi/databases/maps/ca/2ca9_A.pds [(92,99), (103,115)]
  1.9632 /work/lpdi/databases/maps/mw/1mwq_A.pds [(4,11), (19,31)]
  1.9637 /work/lpdi/databases/maps/o6/2o66_A.pds [(52,59), (65,77)]
   1.968 /work/lpdi/databases/maps/fm/3fmb_A.pds [(8,15), (20,32)]
  1.9721 /work/lpdi/databases/maps/ei/2ei9_A.pds [(84,91), (98,110)]
  1.9749 /work/lpdi/databases/maps/ok/2okq_A.pds [(14,21), (26,38)]
  1.9882 /work/lpdi/databases/maps/pe/2peb_A.pds [(9,16), (21,33)]
  1.9898 /work/lpdi/databases/maps/bj/2bjd_A.pds [(2,9), (15,27)]
  2.0039 /work/lpdi/databases/maps/v0/2v0r_A.pds [(4,11), (15,27)]
  2.0047 /work/lpdi/databases/maps/u0/1u0s_A.pds [(4,11), (18,30)]
  2.0071 /work/lpdi/databases/maps/j9/2j9c_A.pds [(59,66), (72,84)]
  2.0098 /work/lpdi/databases/maps/wd/1wdu_A.pds [(93,100), (107,119)]
  2.0139 /work/lpdi/databases/maps/o6/2o66_A.pds [(53,60), (65,77)]
  2.0154 /work/lpdi/databases/maps/qy/2qyc_A.pds [(6,13), (18,30)]
  2.0161 /work/lpdi/databases/maps/fm/3fmb_A.pds [(9,16), (20,32)]
  2.0269 /work/lpdi/databases/maps/nz/2nzc_A.pds [(45,52), (56,68)]
  2.0294 /work/lpdi/databases/maps/q4/1q4r_A.pds [(3,10), (16,28)]
  2.0336 /work/lpdi/databases/maps/fy/2fyx_A.pds [(103,110), (116,128)]
   2.045 /work/lpdi/databases/maps/pa/3pac_A.pds [(38,45), (52,64)]
   2.045 /work/lpdi/databases/maps/pa/3pac_A.pds [(38,45), (52,64)]
  2.0504 /work/lpdi/databases/maps/pg/2pgc_A.pds [(7,14), (19,31)]
   2.057 /work/lpdi/databases/maps/u8/1u8s_A.pds [(133,140), (146,158)]
   2.057 /work/lpdi/databases/maps/u8/1u8s_A.pds [(133,140), (146,158)]
  2.0592 /work/lpdi/databases/maps/za/1zav_A.pds [(23,30), (34,46)]
