  1.6711 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (18,27)]
  1.7639 /work/lpdi/databases/maps/tt/1ttz_A.pds [(53,60), (63,72)]
  1.7902 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (83,92)]
  1.8238 /work/lpdi/databases/maps/ii/1iib_A.pds [(72,79), (86,95)]
   2.036 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (15,24)]
  2.0685 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (97,106)]
  2.0724 /work/lpdi/databases/maps/ii/1iib_A.pds [(71,78), (86,95)]
   2.166 /work/lpdi/databases/maps/vf/3vfi_A.pds [(82,89), (92,101)]
  2.2254 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (18,27)]
  2.2342 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (15,24)]
   2.235 /work/lpdi/databases/maps/r4/2r48_A.pds [(74,81), (90,99)]
  2.2624 /work/lpdi/databases/maps/hx/3hxs_A.pds [(93,100), (104,113)]
  2.2734 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (18,27)]
  2.2793 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (15,24)]
  2.2873 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (15,24)]
  2.3213 /work/lpdi/databases/maps/gn/3gnj_A.pds [(85,92), (101,110)]
  2.3258 /work/lpdi/databases/maps/gn/3gnj_A.pds [(87,94), (97,106)]
  2.3258 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (19,28)]
  2.3341 /work/lpdi/databases/maps/oj/2ojl_A.pds [(51,58), (67,76)]
  2.3458 /work/lpdi/databases/maps/eo/3eod_A.pds [(73,80), (83,92)]
  2.3467 /work/lpdi/databases/maps/b4/2b4a_A.pds [(92,99), (102,111)]
  2.3765 /work/lpdi/databases/maps/hx/3hxs_A.pds [(92,99), (104,113)]
  2.3873 /work/lpdi/databases/maps/hx/3hxs_A.pds [(94,101), (104,113)]
  2.3996 /work/lpdi/databases/maps/eo/3eod_A.pds [(71,78), (83,92)]
  2.3997 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (69,78)]
   2.414 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (70,79)]
  2.4175 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (12,21)]
  2.4264 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (17,26)]
  2.4348 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (18,27)]
  2.4375 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (16,25)]
  2.4458 /work/lpdi/databases/maps/vf/3vfi_A.pds [(81,88), (92,101)]
  2.4806 /work/lpdi/databases/maps/tt/1ttz_A.pds [(52,59), (63,72)]
  2.4821 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (96,105)]
  2.4826 /work/lpdi/databases/maps/hz/3hz4_A.pds [(84,91), (100,109)]
  2.4826 /work/lpdi/databases/maps/ku/4kun_A.pds [(69,76), (80,89)]
   2.503 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (16,25)]
   2.522 /work/lpdi/databases/maps/r4/2r48_A.pds [(74,81), (89,98)]
  2.5258 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (90,99)]
  2.5663 /work/lpdi/databases/maps/oj/2ojl_A.pds [(52,59), (67,76)]
  2.5729 /work/lpdi/databases/maps/h7/3h79_A.pds [(93,100), (103,112)]
  2.5737 /work/lpdi/databases/maps/y8/1y81_A.pds [(79,86), (92,101)]
  2.5831 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (15,24)]
  2.5958 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (12,21)]
  2.6002 /work/lpdi/databases/maps/ii/1iib_A.pds [(71,78), (87,96)]
  2.6025 /work/lpdi/databases/maps/ku/4kun_A.pds [(68,75), (80,89)]
  2.6044 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (89,98)]
  2.6054 /work/lpdi/databases/maps/ii/1iib_A.pds [(73,80), (86,95)]
  2.6077 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (14,23)]
  2.6132 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (36,45)]
  2.6167 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (11,20)]
  2.6229 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (16,25)]
  2.6328 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (32,41)]
  2.6337 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (100,109)]
  2.6365 /work/lpdi/databases/maps/gn/3gnj_A.pds [(85,92), (97,106)]
  2.6471 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (96,105)]
  2.6515 /work/lpdi/databases/maps/b4/2b4a_A.pds [(46,53), (62,71)]
  2.6546 /work/lpdi/databases/maps/ii/1iib_A.pds [(72,79), (87,96)]
  2.6725 /work/lpdi/databases/maps/y8/1y81_A.pds [(81,88), (92,101)]
  2.6765 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (15,24)]
  2.6916 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (69,78)]
