  1.1321 /work/lpdi/databases/maps/nz/2nzc_A.pds [(14,26), (32,39)]
  1.2553 /work/lpdi/databases/maps/y7/1y7p_A.pds [(122,134), (139,146)]
  1.2838 /work/lpdi/databases/maps/iy/2iyg_A.pds [(18,30), (38,45)]
  1.3452 /work/lpdi/databases/maps/by/2byc_A.pds [(19,31), (39,46)]
  1.3871 /work/lpdi/databases/maps/cc/1cc7_A.pds [(14,26), (32,39)]
  1.3962 /work/lpdi/databases/maps/vk/1vk8_A.pds [(49,61), (69,76)]
  1.4161 /work/lpdi/databases/maps/hf/2hfn_A.pds [(16,28), (36,43)]
  1.4328 /work/lpdi/databases/maps/tu/1tuw_A.pds [(15,27), (36,43)]
  1.4561 /work/lpdi/databases/maps/ok/2okq_A.pds [(26,38), (45,52)]
  1.4824 /work/lpdi/databases/maps/qu/1qup_A.pds [(16,28), (33,40)]
  1.4985 /work/lpdi/databases/maps/iu/1iuj_A.pds [(15,27), (35,42)]
  1.5096 /work/lpdi/databases/maps/by/2byc_A.pds [(19,31), (38,45)]
  1.5323 /work/lpdi/databases/maps/hf/2hfn_A.pds [(16,28), (35,42)]
   1.534 /work/lpdi/databases/maps/s7/1s7i_A.pds [(28,40), (48,55)]
  1.5478 /work/lpdi/databases/maps/lx/1lxj_A.pds [(53,65), (74,81)]
  1.5686 /work/lpdi/databases/maps/yq/1yqh_A.pds [(54,66), (75,82)]
  1.5891 /work/lpdi/databases/maps/s7/1s7h_A.pds [(153,165), (173,180)]
  1.6046 /work/lpdi/databases/maps/pe/2peb_A.pds [(17,29), (37,44)]
  1.6149 /work/lpdi/databases/maps/oq/3oq2_A.pds [(47,59), (66,73)]
  1.6244 /work/lpdi/databases/maps/q5/1q5v_A.pds [(88,100), (104,111)]
  1.6404 /work/lpdi/databases/maps/oq/3oq2_A.pds [(47,59), (68,75)]
  1.6453 /work/lpdi/databases/maps/ek/2eky_A.pds [(50,62), (70,77)]
   1.648 /work/lpdi/databases/maps/pi/3pim_A.pds [(113,125), (134,141)]
  1.6635 /work/lpdi/databases/maps/o5/1o51_A.pds [(60,72), (77,84)]
  1.6638 /work/lpdi/databases/maps/pg/2pgc_A.pds [(19,31), (39,46)]
  1.6853 /work/lpdi/databases/maps/ny/2nyh_A.pds [(65,77), (82,89)]
  1.6917 /work/lpdi/databases/maps/vm/1vmb_A.pds [(70,82), (87,94)]
  1.6921 /work/lpdi/databases/maps/iy/2iyg_A.pds [(18,30), (37,44)]
  1.7025 /work/lpdi/databases/maps/pe/2peb_A.pds [(60,72), (77,84)]
   1.705 /work/lpdi/databases/maps/tu/1tuw_A.pds [(15,27), (35,42)]
  1.7207 /work/lpdi/databases/maps/om/2omo_A.pds [(22,34), (42,49)]
  1.7227 /work/lpdi/databases/maps/o5/1o51_A.pds [(60,72), (76,83)]
  1.7272 /work/lpdi/databases/maps/s7/1s7h_A.pds [(48,60), (68,75)]
  1.7307 /work/lpdi/databases/maps/nz/2nzc_A.pds [(14,26), (33,40)]
  1.7447 /work/lpdi/databases/maps/by/2byc_A.pds [(19,31), (40,47)]
  1.7505 /work/lpdi/databases/maps/oq/3oq2_A.pds [(47,59), (67,74)]
   1.753 /work/lpdi/databases/maps/cs/1cs4_A.pds [(83,95), (104,111)]
  1.7602 /work/lpdi/databases/maps/p7/4p7v_A.pds [(48,60), (68,75)]
  1.7745 /work/lpdi/databases/maps/gf/2gff_A.pds [(15,27), (35,42)]
  1.7758 /work/lpdi/databases/maps/j5/2j5a_A.pds [(73,85), (90,97)]
   1.781 /work/lpdi/databases/maps/pc/2pc6_A.pds [(13,25), (29,36)]
   1.781 /work/lpdi/databases/maps/pc/2pc6_A.pds [(13,25), (29,36)]
  1.7921 /work/lpdi/databases/maps/ng/3ngk_A.pds [(48,60), (68,75)]
   1.795 /work/lpdi/databases/maps/pc/2pc6_A.pds [(13,25), (30,37)]
   1.795 /work/lpdi/databases/maps/pc/2pc6_A.pds [(13,25), (30,37)]
  1.7956 /work/lpdi/databases/maps/r5/3r5g_A.pds [(82,94), (102,109)]
  1.7999 /work/lpdi/databases/maps/ab/1ab8_A.pds [(39,51), (57,64)]
  1.8025 /work/lpdi/databases/maps/za/1zav_A.pds [(93,105), (111,118)]
  1.8028 /work/lpdi/databases/maps/cz/2czv_C.pds [(29,41), (50,57)]
  1.8032 /work/lpdi/databases/maps/iy/2iyg_A.pds [(18,30), (39,46)]
  1.8036 /work/lpdi/databases/maps/si/1si9_A.pds [(24,36), (41,48)]
  1.8039 /work/lpdi/databases/maps/cz/2cz4_A.pds [(63,75), (83,90)]
  1.8054 /work/lpdi/databases/maps/i8/2i8e_A.pds [(45,57), (64,71)]
  1.8058 /work/lpdi/databases/maps/ee/2eey_A.pds [(117,129), (136,143)]
  1.8097 /work/lpdi/databases/maps/hx/3hx9_A.pds [(15,27), (35,42)]
  1.8098 /work/lpdi/databases/maps/pa/3pac_A.pds [(49,61), (67,74)]
  1.8098 /work/lpdi/databases/maps/pa/3pac_A.pds [(49,61), (67,74)]
  1.8102 /work/lpdi/databases/maps/wd/1wdu_A.pds [(106,118), (125,132)]
  1.8111 /work/lpdi/databases/maps/s7/1s7i_A.pds [(28,40), (47,54)]
  1.8113 /work/lpdi/databases/maps/ei/2ei9_A.pds [(97,109), (116,123)]
