 0.97512 /work/lpdi/databases/maps/oj/2ojl_A.pds [(1,8), (14,26)]
  1.2186 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (16,28)]
  1.2356 /work/lpdi/databases/maps/t1/1t1j_A.pds [(3,10), (17,29)]
  1.2439 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (9,21)]
  1.3181 /work/lpdi/databases/maps/h7/3h79_A.pds [(21,28), (34,46)]
  1.3422 /work/lpdi/databases/maps/wz/2wz9_A.pds [(21,28), (34,46)]
  1.4724 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (10,22)]
  1.5747 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (12,24)]
  1.6023 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (13,25)]
  1.6831 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (13,25)]
  1.7128 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (17,29)]
  1.7311 /work/lpdi/databases/maps/vf/3vfi_A.pds [(17,24), (30,42)]
  1.7556 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (13,25)]
  1.7633 /work/lpdi/databases/maps/hx/3hxs_A.pds [(29,36), (42,54)]
  1.7815 /work/lpdi/databases/maps/hz/3hz4_A.pds [(21,28), (34,46)]
  1.7815 /work/lpdi/databases/maps/b4/2b4a_A.pds [(91,98), (100,112)]
  1.8172 /work/lpdi/databases/maps/gn/3gnj_A.pds [(22,29), (35,47)]
  1.8385 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (15,27)]
  1.8553 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (16,28)]
  1.8753 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (14,26)]
  1.8822 /work/lpdi/databases/maps/f5/2f51_A.pds [(22,29), (35,47)]
  1.8854 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (14,26)]
  1.9057 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (34,46)]
  1.9097 /work/lpdi/databases/maps/d2/3d21_A.pds [(23,30), (36,48)]
  2.0071 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (16,28)]
  2.0846 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (15,27)]
  2.0868 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (17,29)]
  2.1182 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (67,79)]
  2.1383 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,26)]
  2.1501 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (30,42)]
  2.1714 /work/lpdi/databases/maps/oj/2ojl_A.pds [(0,7), (14,26)]
  2.1751 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (12,24)]
  2.1806 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (34,46)]
  2.1814 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (95,107)]
  2.1885 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (34,46)]
  2.1896 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (67,79)]
  2.2191 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (65,77)]
  2.2661 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (94,106)]
  2.2759 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (35,47)]
  2.2888 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (16,28)]
  2.2924 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (17,29)]
  2.2986 /work/lpdi/databases/maps/fz/3fz4_A.pds [(0,7), (13,25)]
  2.3014 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (81,93)]
   2.313 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (10,22)]
  2.3405 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (84,96)]
  2.3464 /work/lpdi/databases/maps/d2/3d21_A.pds [(24,31), (36,48)]
  2.3539 /work/lpdi/databases/maps/hx/3hxs_A.pds [(30,37), (42,54)]
  2.3634 /work/lpdi/databases/maps/b4/2b4a_A.pds [(47,54), (60,72)]
  2.3642 /work/lpdi/databases/maps/hx/3hxs_A.pds [(93,100), (102,114)]
  2.3751 /work/lpdi/databases/maps/ku/4kun_A.pds [(2,9), (16,28)]
  2.3877 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (64,76)]
  2.3985 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (9,21)]
  2.4117 /work/lpdi/databases/maps/gn/3gnj_A.pds [(85,92), (95,107)]
  2.4117 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (13,25)]
  2.4122 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (12,24)]
  2.4127 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (9,21)]
   2.425 /work/lpdi/databases/maps/b4/2b4a_A.pds [(46,53), (60,72)]
   2.431 /work/lpdi/databases/maps/wz/2wz9_A.pds [(20,27), (34,46)]
  2.4355 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (68,80)]
  2.4391 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (11,23)]
