  1.3537 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (102,109)]
  1.9653 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (101,108)]
  1.9864 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (39,46)]
  2.0894 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (54,61)]
  2.1879 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (53,60)]
  2.2246 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (38,45)]
  2.2476 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (40,47)]
  2.3087 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (45,52)]
  2.3179 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (91,98)]
  2.3428 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (103,110)]
  2.4062 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (55,62)]
  2.4392 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (39,46)]
  2.4986 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (102,109)]
  2.5176 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (92,99)]
  2.5263 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (91,98)]
  2.5519 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (74,81)]
  2.5967 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (92,99)]
  2.6168 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (71,78)]
  2.6175 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (70,77)]
  2.6247 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (52,59)]
  2.6505 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (102,109)]
  2.6654 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (90,97)]
  2.6702 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (91,98)]
  2.6721 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (75,82)]
  2.7538 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (60,67)]
  2.7662 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (25,32)]
  2.8343 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (46,53)]
  2.8408 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (76,83)]
  2.8535 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (101,108)]
  2.8694 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (75,82)]
  2.8931 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (72,79)]
  2.9191 /work/lpdi/databases/maps/vr/1vr7_A.pds [(82,98), (102,109)]
   2.941 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (59,66)]
  2.9587 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (71,78)]
  2.9845 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (93,100)]
  3.0159 /work/lpdi/databases/maps/r2/2r2o_A.pds [(24,40), (42,49)]
  3.0178 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (103,110)]
  3.0368 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (41,48)]
  3.0466 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (26,33)]
  3.0502 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (104,111)]
   3.064 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (40,47)]
  3.1115 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (77,84)]
  3.1523 /work/lpdi/databases/maps/ii/2iii_A.pds [(80,96), (102,109)]
  3.1661 /work/lpdi/databases/maps/vr/1vr7_A.pds [(17,33), (40,47)]
  3.1676 /work/lpdi/databases/maps/re/2rex_A.pds [(31,47), (49,56)]
  3.1698 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (93,100)]
  3.1771 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (103,110)]
  3.1797 /work/lpdi/databases/maps/bk/2bkf_A.pds [(59,75), (77,84)]
  3.1805 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (90,97)]
  3.1918 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (101,108)]
  3.1997 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (73,80)]
