    1.87 /work/lpdi/databases/maps/ii/2iii_A.pds [(73,80), (83,99)]
   2.217 /work/lpdi/databases/maps/ii/2iii_A.pds [(74,81), (83,99)]
  2.2754 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (36,52)]
  2.5325 /work/lpdi/databases/maps/mg/1mg4_A.pds [(15,22), (29,45)]
  2.5453 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (36,52)]
  2.5672 /work/lpdi/databases/maps/ii/2iii_A.pds [(72,79), (83,99)]
  2.5711 /work/lpdi/databases/maps/vr/1vr7_A.pds [(73,80), (83,99)]
  2.5744 /work/lpdi/databases/maps/hz/1hz5_A.pds [(21,28), (36,52)]
  2.5966 /work/lpdi/databases/maps/mg/1mg4_A.pds [(16,23), (29,45)]
  2.8128 /work/lpdi/databases/maps/vr/1vr7_A.pds [(74,81), (83,99)]
  2.8153 /work/lpdi/databases/maps/pg/1pgx_A.pds [(18,25), (27,43)]
  2.8413 /work/lpdi/databases/maps/pg/1pgx_A.pds [(17,24), (27,43)]
  2.8429 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (32,48)]
  2.8957 /work/lpdi/databases/maps/mg/1mg4_A.pds [(14,21), (29,45)]
   2.947 /work/lpdi/databases/maps/vr/1vr7_A.pds [(5,12), (20,36)]
  2.9656 /work/lpdi/databases/maps/wm/1wmh_A.pds [(47,54), (56,72)]
  2.9921 /work/lpdi/databases/maps/mg/1mg4_A.pds [(17,24), (29,45)]
  3.0241 /work/lpdi/databases/maps/r2/2r2o_A.pds [(13,20), (23,39)]
  3.0242 /work/lpdi/databases/maps/pg/1pgx_A.pds [(16,23), (27,43)]
  3.0846 /work/lpdi/databases/maps/np/2npt_A.pds [(57,64), (66,82)]
  3.0943 /work/lpdi/databases/maps/r2/2r2o_A.pds [(14,21), (23,39)]
  3.0979 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (36,52)]
  3.1288 /work/lpdi/databases/maps/vr/1vr7_A.pds [(72,79), (83,99)]
  3.1531 /work/lpdi/databases/maps/t0/1t0q_C.pds [(13,20), (23,39)]
   3.155 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (35,51)]
  3.1791 /work/lpdi/databases/maps/ny/3ny5_A.pds [(13,20), (22,38)]
  3.1979 /work/lpdi/databases/maps/np/2npt_A.pds [(21,28), (32,48)]
  3.1992 /work/lpdi/databases/maps/h6/3h6n_A.pds [(16,23), (26,42)]
