  1.1119 /work/lpdi/databases/maps/sm/1smo_A.pds [(55,59), (65,69)]
  1.1787 /work/lpdi/databases/maps/fh/1fhg_A.pds [(55,59), (62,66)]
  1.2504 /work/lpdi/databases/maps/iu/1iu1_A.pds [(93,97), (103,107)]
  1.2596 /work/lpdi/databases/maps/qp/3qp3_A.pds [(55,59), (61,65)]
  1.2736 /work/lpdi/databases/maps/gq/3gqs_A.pds [(82,86), (92,96)]
  1.2804 /work/lpdi/databases/maps/po/3po8_A.pds [(45,49), (51,55)]
  1.2839 /work/lpdi/databases/maps/qo/3qor_A.pds [(76,80), (86,90)]
  1.2905 /work/lpdi/databases/maps/dp/2dpf_A.pds [(11,15), (21,25)]
  1.2977 /work/lpdi/databases/maps/ej/1ejf_A.pds [(25,29), (35,39)]
  1.2991 /work/lpdi/databases/maps/rm/1rm1_B.pds [(64,68), (70,74)]
  1.3017 /work/lpdi/databases/maps/gl/1gl4_B.pds [(47,51), (53,57)]
  1.3029 /work/lpdi/databases/maps/wa/1waa_A.pds [(48,52), (58,62)]
  1.3159 /work/lpdi/databases/maps/v7/2v76_A.pds [(53,57), (62,66)]
   1.321 /work/lpdi/databases/maps/js/1jsg_A.pds [(91,95), (100,104)]
  1.3271 /work/lpdi/databases/maps/po/3po8_A.pds [(78,82), (88,92)]
  1.3311 /work/lpdi/databases/maps/hk/1hkf_A.pds [(49,53), (59,63)]
  1.3349 /work/lpdi/databases/maps/ib/1iby_A.pds [(15,19), (21,25)]
  1.3394 /work/lpdi/databases/maps/da/1dan_U.pds [(23,27), (32,36)]
  1.3441 /work/lpdi/databases/maps/nj/1njh_A.pds [(56,60), (66,70)]
  1.3441 /work/lpdi/databases/maps/xc/2xcm_C.pds [(26,30), (36,40)]
  1.3529 /work/lpdi/databases/maps/fa/1fao_A.pds [(23,27), (29,33)]
  1.3538 /work/lpdi/databases/maps/p5/1p5t_A.pds [(56,60), (65,69)]
  1.3559 /work/lpdi/databases/maps/kh/3khq_A.pds [(50,54), (60,64)]
   1.357 /work/lpdi/databases/maps/cd/4cdd_A.pds [(67,71), (73,77)]
   1.358 /work/lpdi/databases/maps/cd/4cdd_A.pds [(57,61), (67,71)]
  1.3652 /work/lpdi/databases/maps/bo/3bov_A.pds [(82,86), (89,93)]
  1.3731 /work/lpdi/databases/maps/gd/4gd9_A.pds [(89,93), (99,103)]
  1.3742 /work/lpdi/databases/maps/ft/3ft1_A.pds [(66,70), (73,77)]
  1.3786 /work/lpdi/databases/maps/xi/1xiw_A.pds [(41,45), (47,51)]
  1.3821 /work/lpdi/databases/maps/xi/1xiw_A.pds [(4,8), (10,14)]
  1.3841 /work/lpdi/databases/maps/im/1im3_D.pds [(6,10), (16,20)]
  1.3872 /work/lpdi/databases/maps/qo/3qor_A.pds [(44,48), (50,54)]
  1.3902 /work/lpdi/databases/maps/h1/1h10_A.pds [(26,30), (33,37)]
  1.3991 /work/lpdi/databases/maps/qp/3qp3_A.pds [(53,57), (63,67)]
  1.4086 /work/lpdi/databases/maps/aa/3aab_A.pds [(86,90), (92,96)]
   1.416 /work/lpdi/databases/maps/j0/1j0w_A.pds [(50,54), (59,63)]
  1.4185 /work/lpdi/databases/maps/yf/1yfn_A.pds [(59,63), (66,70)]
  1.4193 /work/lpdi/databases/maps/rm/1rm1_B.pds [(63,67), (72,76)]
  1.4207 /work/lpdi/databases/maps/go/4gos_A.pds [(95,99), (102,106)]
  1.4211 /work/lpdi/databases/maps/j1/2j12_B.pds [(101,105), (107,111)]
  1.4225 /work/lpdi/databases/maps/ib/1iby_A.pds [(59,63), (67,71)]
  1.4225 /work/lpdi/databases/maps/ww/1wwc_A.pds [(76,80), (86,90)]
   1.426 /work/lpdi/databases/maps/xc/2xcm_C.pds [(63,67), (72,76)]
  1.4289 /work/lpdi/databases/maps/f3/1f3u_A.pds [(42,46), (48,52)]
  1.4291 /work/lpdi/databases/maps/qc/1qc6_A.pds [(71,75), (81,85)]
  1.4291 /work/lpdi/databases/maps/fh/1fhg_A.pds [(81,85), (88,92)]
  1.4296 /work/lpdi/databases/maps/f3/1f3u_A.pds [(40,44), (50,54)]
  1.4317 /work/lpdi/databases/maps/ej/1ejf_A.pds [(63,67), (72,76)]
  1.4345 /work/lpdi/databases/maps/jn/1jnp_A.pds [(85,89), (94,98)]
  1.4348 /work/lpdi/databases/maps/hk/1hkf_A.pds [(51,55), (57,61)]
  1.4358 /work/lpdi/databases/maps/nc/1nc7_A.pds [(95,99), (101,105)]
  1.4375 /work/lpdi/databases/maps/aa/3aab_A.pds [(12,16), (22,26)]
  1.4394 /work/lpdi/databases/maps/rj/1rjl_C.pds [(55,59), (62,66)]
  1.4404 /work/lpdi/databases/maps/wa/1waa_A.pds [(73,77), (79,83)]
  1.4432 /work/lpdi/databases/maps/nj/1njh_A.pds [(47,51), (56,60)]
  1.4435 /work/lpdi/databases/maps/ej/1ejf_A.pds [(27,31), (33,37)]
  1.4435 /work/lpdi/databases/maps/r4/1r4p_B.pds [(8,12), (18,22)]
   1.446 /work/lpdi/databases/maps/qp/3qp3_A.pds [(80,84), (87,91)]
  1.4478 /work/lpdi/databases/maps/nm/2nms_A.pds [(90,94), (97,101)]
  1.4501 /work/lpdi/databases/maps/io/4ios_A.pds [(2,6), (12,16)]
