  1.1793 /work/lpdi/databases/maps/oj/2ojl_A.pds [(1,8), (14,26)]
  1.1887 /work/lpdi/databases/maps/h7/3h79_A.pds [(21,28), (34,46)]
  1.2899 /work/lpdi/databases/maps/wz/2wz9_A.pds [(21,28), (34,46)]
   1.328 /work/lpdi/databases/maps/t1/1t1j_A.pds [(3,10), (17,29)]
  1.3577 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (16,28)]
  1.4283 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (9,21)]
  1.5061 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (10,22)]
  1.6314 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (12,24)]
  1.6343 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (13,25)]
  1.6744 /work/lpdi/databases/maps/hx/3hxs_A.pds [(29,36), (42,54)]
  1.6771 /work/lpdi/databases/maps/vf/3vfi_A.pds [(17,24), (30,42)]
  1.6834 /work/lpdi/databases/maps/hz/3hz4_A.pds [(21,28), (34,46)]
  1.7957 /work/lpdi/databases/maps/f5/2f51_A.pds [(22,29), (35,47)]
   1.798 /work/lpdi/databases/maps/gn/3gnj_A.pds [(22,29), (35,47)]
  1.8291 /work/lpdi/databases/maps/b4/2b4a_A.pds [(91,98), (100,112)]
   1.847 /work/lpdi/databases/maps/d2/3d21_A.pds [(23,30), (36,48)]
  1.8708 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (14,26)]
  1.9085 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (17,29)]
  1.9273 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (34,46)]
  1.9492 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (13,25)]
  2.0339 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (13,25)]
  2.0394 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (15,27)]
  2.1435 /work/lpdi/databases/maps/oj/2ojl_A.pds [(0,7), (14,26)]
  2.1565 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (14,26)]
  2.1765 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (16,28)]
  2.1996 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (65,77)]
  2.2088 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (30,42)]
  2.2127 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (34,46)]
   2.235 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (16,28)]
  2.2548 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (34,46)]
  2.2741 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (9,21)]
  2.2745 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (67,79)]
  2.2977 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (64,76)]
  2.3022 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (9,21)]
  2.3096 /work/lpdi/databases/maps/wz/2wz9_A.pds [(20,27), (34,46)]
  2.3123 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (12,24)]
  2.3278 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (14,26)]
  2.3305 /work/lpdi/databases/maps/ku/4kun_A.pds [(2,9), (16,28)]
  2.3309 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (27,39)]
  2.3455 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (35,47)]
  2.3632 /work/lpdi/databases/maps/d2/3d21_A.pds [(24,31), (36,48)]
  2.3636 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (17,29)]
  2.3636 /work/lpdi/databases/maps/hx/3hxs_A.pds [(30,37), (42,54)]
  2.3656 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (31,43)]
  2.3734 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (13,25)]
  2.3847 /work/lpdi/databases/maps/ct/3ctf_A.pds [(15,22), (24,36)]
  2.3882 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (17,29)]
  2.3952 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (12,24)]
  2.4005 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,26)]
  2.4018 /work/lpdi/databases/maps/wc/2wci_A.pds [(15,22), (28,40)]
  2.4125 /work/lpdi/databases/maps/b4/2b4a_A.pds [(90,97), (100,112)]
   2.416 /work/lpdi/databases/maps/fz/3fz4_A.pds [(1,8), (10,22)]
  2.4172 /work/lpdi/databases/maps/fz/3fz4_A.pds [(0,7), (13,25)]
  2.4206 /work/lpdi/databases/maps/rh/3rhb_A.pds [(13,20), (22,34)]
  2.4234 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (95,107)]
   2.428 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (32,44)]
  2.4316 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (15,27)]
  2.4366 /work/lpdi/databases/maps/ht/2ht9_A.pds [(15,22), (24,36)]
  2.4481 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (31,43)]
  2.4489 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (94,106)]
