  1.4542 /work/lpdi/databases/maps/ku/4kun_A.pds [(16,28), (36,43)]
   1.732 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (61,68)]
   1.832 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (32,39)]
  1.9262 /work/lpdi/databases/maps/wo/1wou_A.pds [(45,57), (59,66)]
  1.9654 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (22,29)]
  1.9743 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (54,61)]
  1.9933 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (46,53)]
  2.0109 /work/lpdi/databases/maps/f5/2f51_A.pds [(8,20), (23,30)]
  2.0196 /work/lpdi/databases/maps/wo/1wou_A.pds [(44,56), (59,66)]
  2.0251 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (60,67)]
  2.0271 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (24,31)]
  2.0415 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (51,58)]
  2.0716 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (22,29)]
  2.0836 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (20,27)]
  2.0893 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (40,47)]
  2.0914 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (49,56)]
  2.0932 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (22,29)]
  2.0955 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (21,28)]
  2.1016 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (23,30)]
  2.1345 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (53,60)]
  2.1394 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (50,57)]
  2.1461 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (53,60)]
  2.1538 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (20,27)]
  2.1586 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (33,40)]
   2.161 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (21,28)]
  2.1745 /work/lpdi/databases/maps/f5/2f51_A.pds [(8,20), (22,29)]
  2.1816 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (55,62)]
  2.2088 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (52,59)]
  2.2145 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (54,61)]
  2.2222 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (48,55)]
  2.2426 /work/lpdi/databases/maps/xg/1xg8_A.pds [(30,42), (44,51)]
  2.2564 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (62,69)]
  2.2704 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (59,66)]
  2.2713 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (53,60)]
  2.2742 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (41,48)]
  2.2794 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (55,62)]
  2.3117 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (61,68)]
  2.3206 /work/lpdi/databases/maps/tt/1ttz_A.pds [(11,23), (25,32)]
  2.3514 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (45,52)]
  2.3552 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (52,59)]
  2.3673 /work/lpdi/databases/maps/gm/1gmx_A.pds [(42,54), (57,64)]
  2.3776 /work/lpdi/databases/maps/ku/4kun_A.pds [(16,28), (35,42)]
  2.3777 /work/lpdi/databases/maps/wc/2wci_A.pds [(31,43), (45,52)]
  2.3813 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (54,61)]
  2.3898 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (60,67)]
  2.4102 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (53,60)]
  2.4307 /work/lpdi/databases/maps/oj/2ojl_A.pds [(17,29), (32,39)]
  2.4378 /work/lpdi/databases/maps/aa/1aaz_A.pds [(11,23), (29,36)]
  2.4415 /work/lpdi/databases/maps/y8/1y81_A.pds [(63,75), (80,87)]
  2.4509 /work/lpdi/databases/maps/f5/2f51_A.pds [(35,47), (54,61)]
   2.452 /work/lpdi/databases/maps/h7/3h79_A.pds [(37,49), (57,64)]
  2.4544 /work/lpdi/databases/maps/ii/1iib_A.pds [(12,24), (30,37)]
  2.4642 /work/lpdi/databases/maps/f5/2f51_A.pds [(35,47), (52,59)]
  2.4669 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (39,46)]
  2.4693 /work/lpdi/databases/maps/oj/2ojl_A.pds [(14,26), (33,40)]
  2.4736 /work/lpdi/databases/maps/b4/2b4a_A.pds [(60,72), (74,81)]
  2.4784 /work/lpdi/databases/maps/xg/1xg8_A.pds [(60,72), (75,82)]
  2.4857 /work/lpdi/databases/maps/oj/2ojl_A.pds [(17,29), (33,40)]
  2.4959 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (31,38)]
  2.5216 /work/lpdi/databases/maps/r4/2r48_A.pds [(15,27), (32,39)]
