  1.3385 /work/lpdi/databases/maps/ku/4kun_A.pds [(16,28), (36,43)]
  1.8004 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (32,39)]
  1.9113 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (22,29)]
  1.9587 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (61,68)]
  1.9731 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (51,58)]
  2.0262 /work/lpdi/databases/maps/wo/1wou_A.pds [(44,56), (59,66)]
  2.0316 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (60,67)]
   2.032 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (20,27)]
  2.0496 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (53,60)]
  2.0503 /work/lpdi/databases/maps/wo/1wou_A.pds [(45,57), (59,66)]
  2.0658 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (46,53)]
  2.0761 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (59,66)]
  2.0761 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (20,27)]
  2.0938 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (40,47)]
  2.1062 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (48,55)]
  2.1398 /work/lpdi/databases/maps/ku/4kun_A.pds [(16,28), (35,42)]
  2.1774 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (49,56)]
  2.1917 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (21,28)]
  2.2012 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (53,60)]
  2.2079 /work/lpdi/databases/maps/f5/2f51_A.pds [(8,20), (22,29)]
  2.2111 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (23,30)]
  2.2162 /work/lpdi/databases/maps/f5/2f51_A.pds [(8,20), (23,30)]
  2.2174 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (21,28)]
  2.2245 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (54,61)]
  2.2285 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (52,59)]
   2.248 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (45,52)]
  2.2887 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (24,31)]
  2.2905 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (60,67)]
  2.2946 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (22,29)]
  2.3085 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (53,60)]
  2.3221 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (31,38)]
  2.3252 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (22,29)]
  2.3369 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (54,61)]
  2.3389 /work/lpdi/databases/maps/xg/1xg8_A.pds [(30,42), (44,51)]
  2.3402 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (52,59)]
  2.3439 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (33,40)]
  2.3786 /work/lpdi/databases/maps/f5/2f51_A.pds [(35,47), (52,59)]
  2.3974 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (61,68)]
  2.4036 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (50,57)]
  2.4062 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (39,46)]
  2.4213 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (55,62)]
  2.4292 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (41,48)]
  2.4323 /work/lpdi/databases/maps/oj/2ojl_A.pds [(14,26), (33,40)]
  2.4542 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (54,61)]
  2.4608 /work/lpdi/databases/maps/wo/1wou_A.pds [(44,56), (58,65)]
  2.4684 /work/lpdi/databases/maps/y8/1y81_A.pds [(63,75), (80,87)]
  2.4813 /work/lpdi/databases/maps/oj/2ojl_A.pds [(17,29), (32,39)]
  2.4936 /work/lpdi/databases/maps/gm/1gmx_A.pds [(42,54), (57,64)]
  2.5099 /work/lpdi/databases/maps/h7/3h79_A.pds [(37,49), (57,64)]
  2.5102 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (62,69)]
  2.5243 /work/lpdi/databases/maps/r4/2r48_A.pds [(15,27), (32,39)]
   2.541 /work/lpdi/databases/maps/aa/1aaz_A.pds [(11,23), (29,36)]
  2.5428 /work/lpdi/databases/maps/f3/1f37_A.pds [(25,37), (45,52)]
  2.5477 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (44,51)]
  2.5552 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (50,57)]
  2.5649 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (55,62)]
  2.5659 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (53,60)]
   2.566 /work/lpdi/databases/maps/ii/1iib_A.pds [(12,24), (30,37)]
  2.5707 /work/lpdi/databases/maps/h7/3h79_A.pds [(37,49), (56,63)]
  2.5715 /work/lpdi/databases/maps/r4/2r48_A.pds [(15,27), (31,38)]
