  1.5412 /work/lpdi/databases/maps/wc/2wci_A.pds [(4,13), (15,22)]
  1.6446 /work/lpdi/databases/maps/ht/2ht9_A.pds [(5,14), (16,23)]
   1.669 /work/lpdi/databases/maps/ct/3ctf_A.pds [(5,14), (16,23)]
  1.6801 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (23,30)]
   1.686 /work/lpdi/databases/maps/l4/3l4n_A.pds [(3,12), (14,21)]
  1.7915 /work/lpdi/databases/maps/rh/3rhb_A.pds [(3,12), (14,21)]
  1.8449 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (21,28)]
   1.867 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (22,29)]
  1.9006 /work/lpdi/databases/maps/wc/2wci_A.pds [(33,42), (44,51)]
  1.9587 /work/lpdi/databases/maps/rd/3rdw_A.pds [(13,22), (24,31)]
  1.9598 /work/lpdi/databases/maps/f5/2f51_A.pds [(11,20), (22,29)]
  1.9958 /work/lpdi/databases/maps/eo/3eod_A.pds [(83,92), (94,101)]
  2.0838 /work/lpdi/databases/maps/b4/2b4a_A.pds [(62,71), (73,80)]
  2.1721 /work/lpdi/databases/maps/r5/1r5p_A.pds [(64,73), (79,86)]
  2.1805 /work/lpdi/databases/maps/r5/1r5p_A.pds [(19,28), (31,38)]
  2.1924 /work/lpdi/databases/maps/rw/1rw1_A.pds [(13,22), (24,31)]
  2.2029 /work/lpdi/databases/maps/h7/3h79_A.pds [(9,18), (21,28)]
   2.229 /work/lpdi/databases/maps/wz/2wz9_A.pds [(36,45), (52,59)]
  2.2359 /work/lpdi/databases/maps/fz/3fz4_A.pds [(15,24), (26,33)]
  2.2433 /work/lpdi/databases/maps/ht/2ht9_A.pds [(29,38), (40,47)]
  2.2612 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (23,30)]
  2.2651 /work/lpdi/databases/maps/d2/3d21_A.pds [(12,21), (23,30)]
  2.2996 /work/lpdi/databases/maps/aa/1aaz_A.pds [(17,26), (28,35)]
  2.3011 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (22,29)]
  2.3072 /work/lpdi/databases/maps/r5/1r5p_A.pds [(64,73), (80,87)]
  2.3107 /work/lpdi/databases/maps/y8/1y81_A.pds [(69,78), (80,87)]
  2.3148 /work/lpdi/databases/maps/b4/2b4a_A.pds [(15,24), (26,33)]
  2.3222 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (24,31)]
  2.3265 /work/lpdi/databases/maps/hs/4hs1_A.pds [(13,22), (24,31)]
  2.3268 /work/lpdi/databases/maps/y8/1y81_A.pds [(14,23), (28,35)]
  2.3279 /work/lpdi/databases/maps/rh/3rhb_A.pds [(27,36), (38,45)]
  2.3289 /work/lpdi/databases/maps/wo/1wou_A.pds [(8,17), (21,28)]
   2.345 /work/lpdi/databases/maps/r5/1r5p_A.pds [(64,73), (78,85)]
  2.3517 /work/lpdi/databases/maps/hz/3hz4_A.pds [(40,49), (53,60)]
  2.3527 /work/lpdi/databases/maps/z3/1z3e_A.pds [(14,23), (25,32)]
  2.3541 /work/lpdi/databases/maps/hz/3hz4_A.pds [(40,49), (52,59)]
  2.3557 /work/lpdi/databases/maps/rd/3rdw_A.pds [(10,19), (24,31)]
  2.3586 /work/lpdi/databases/maps/h7/1h75_A.pds [(14,23), (25,32)]
    2.36 /work/lpdi/databases/maps/r5/1r5p_A.pds [(67,76), (78,85)]
  2.3769 /work/lpdi/databases/maps/eo/3eod_A.pds [(18,27), (29,36)]
  2.3783 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (20,27)]
  2.3885 /work/lpdi/databases/maps/y8/1y81_A.pds [(17,26), (28,35)]
  2.3911 /work/lpdi/databases/maps/hz/3hz4_A.pds [(40,49), (51,58)]
  2.4126 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (21,28)]
  2.4147 /work/lpdi/databases/maps/vf/3vfi_A.pds [(36,45), (48,55)]
  2.4192 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (22,29)]
  2.4323 /work/lpdi/databases/maps/tt/1ttz_A.pds [(13,22), (25,32)]
  2.4437 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (19,26)]
  2.4476 /work/lpdi/databases/maps/d2/3d21_A.pds [(42,51), (53,60)]
  2.4488 /work/lpdi/databases/maps/vf/3vfi_A.pds [(36,45), (47,54)]
  2.4563 /work/lpdi/databases/maps/rh/3rhb_A.pds [(24,33), (38,45)]
  2.4631 /work/lpdi/databases/maps/h7/3h79_A.pds [(43,52), (56,63)]
  2.4634 /work/lpdi/databases/maps/hx/3hxs_A.pds [(48,57), (59,66)]
  2.4638 /work/lpdi/databases/maps/t1/1t1j_A.pds [(90,99), (104,111)]
  2.4707 /work/lpdi/databases/maps/d2/3d21_A.pds [(42,51), (54,61)]
  2.4759 /work/lpdi/databases/maps/hz/3hz4_A.pds [(10,19), (21,28)]
  2.4764 /work/lpdi/databases/maps/tt/1ttz_A.pds [(13,22), (24,31)]
  2.4802 /work/lpdi/databases/maps/t1/1t1j_A.pds [(91,100), (104,111)]
  2.5033 /work/lpdi/databases/maps/vf/3vfi_A.pds [(36,45), (49,56)]
  2.5099 /work/lpdi/databases/maps/h7/3h79_A.pds [(9,18), (22,29)]
