  1.8868 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (36,52)]
  1.9444 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (36,52)]
  2.0627 /work/lpdi/databases/maps/ii/2iii_A.pds [(74,81), (83,99)]
  2.0856 /work/lpdi/databases/maps/ii/2iii_A.pds [(73,80), (83,99)]
  2.2225 /work/lpdi/databases/maps/pg/1pgx_A.pds [(18,25), (27,43)]
  2.2572 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (36,52)]
  2.3224 /work/lpdi/databases/maps/mg/1mg4_A.pds [(16,23), (29,45)]
  2.5054 /work/lpdi/databases/maps/mg/1mg4_A.pds [(17,24), (29,45)]
  2.5689 /work/lpdi/databases/maps/mg/1mg4_A.pds [(15,22), (29,45)]
  2.6603 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (32,48)]
   2.682 /work/lpdi/databases/maps/t0/1t0q_C.pds [(13,20), (23,39)]
  2.6834 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (35,51)]
  2.6879 /work/lpdi/databases/maps/h6/3h6n_A.pds [(16,23), (26,42)]
  2.6933 /work/lpdi/databases/maps/r2/2r2o_A.pds [(13,20), (23,39)]
  2.7294 /work/lpdi/databases/maps/vr/1vr7_A.pds [(74,81), (83,99)]
  2.7391 /work/lpdi/databases/maps/r2/2r2o_A.pds [(14,21), (23,39)]
  2.7641 /work/lpdi/databases/maps/vr/1vr7_A.pds [(7,14), (20,36)]
  2.7825 /work/lpdi/databases/maps/pg/1pgx_A.pds [(17,24), (27,43)]
  2.7889 /work/lpdi/databases/maps/t0/1t0q_C.pds [(14,21), (23,39)]
  2.8005 /work/lpdi/databases/maps/vr/1vr7_A.pds [(73,80), (83,99)]
  2.8007 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (35,51)]
  2.8029 /work/lpdi/databases/maps/h6/3h6n_A.pds [(17,24), (26,42)]
  2.8779 /work/lpdi/databases/maps/vr/1vr7_A.pds [(9,16), (20,36)]
  2.8997 /work/lpdi/databases/maps/t0/1t0q_C.pds [(12,19), (23,39)]
  2.9038 /work/lpdi/databases/maps/vr/1vr7_A.pds [(6,13), (20,36)]
   2.906 /work/lpdi/databases/maps/h6/3h6n_A.pds [(15,22), (26,42)]
  2.9094 /work/lpdi/databases/maps/vr/1vr7_A.pds [(8,15), (20,36)]
  2.9203 /work/lpdi/databases/maps/re/2rex_A.pds [(21,28), (30,46)]
  2.9777 /work/lpdi/databases/maps/np/2npt_A.pds [(23,30), (32,48)]
  2.9784 /work/lpdi/databases/maps/r2/2r2o_A.pds [(12,19), (23,39)]
  2.9816 /work/lpdi/databases/maps/re/2rex_A.pds [(20,27), (30,46)]
  3.0377 /work/lpdi/databases/maps/c5/2c5l_C.pds [(16,23), (26,42)]
   3.079 /work/lpdi/databases/maps/np/2npt_A.pds [(22,29), (32,48)]
  3.0808 /work/lpdi/databases/maps/ny/3ny5_A.pds [(13,20), (22,38)]
  3.0846 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (33,49)]
  3.0977 /work/lpdi/databases/maps/ii/2iii_A.pds [(72,79), (83,99)]
  3.1124 /work/lpdi/databases/maps/ii/2iii_A.pds [(7,14), (21,37)]
  3.1345 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (35,51)]
  3.1422 /work/lpdi/databases/maps/w1/3w1y_A.pds [(49,56), (61,77)]
  3.1606 /work/lpdi/databases/maps/mg/1mg4_A.pds [(17,24), (28,44)]
  3.1616 /work/lpdi/databases/maps/ii/2iii_A.pds [(8,15), (21,37)]
  3.1743 /work/lpdi/databases/maps/c5/2c5l_C.pds [(15,22), (26,42)]
  3.1787 /work/lpdi/databases/maps/np/2npt_A.pds [(58,65), (70,86)]
  3.1963 /work/lpdi/databases/maps/pk/2pko_A.pds [(18,25), (32,48)]
