  1.2437 /work/lpdi/databases/maps/t1/1t1j_A.pds [(3,10), (17,29)]
  1.2623 /work/lpdi/databases/maps/ti/1tig_A.pds [(0,7), (15,27)]
  1.2767 /work/lpdi/databases/maps/ii/2iii_A.pds [(73,80), (83,95)]
   1.282 /work/lpdi/databases/maps/l1/1l1s_A.pds [(0,7), (14,26)]
  1.4504 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (16,28)]
  1.4621 /work/lpdi/databases/maps/oj/2ojl_A.pds [(1,8), (14,26)]
  1.4655 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (10,22)]
  1.4866 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (13,25)]
  1.5383 /work/lpdi/databases/maps/h7/3h79_A.pds [(21,28), (34,46)]
  1.5472 /work/lpdi/databases/maps/kc/1kcq_A.pds [(35,42), (50,62)]
  1.5936 /work/lpdi/databases/maps/fh/2fhz_A.pds [(62,69), (76,88)]
  1.6267 /work/lpdi/databases/maps/wz/2wz9_A.pds [(21,28), (34,46)]
  1.6331 /work/lpdi/databases/maps/rs/2rsl_A.pds [(1,8), (11,23)]
  1.6419 /work/lpdi/databases/maps/rs/2rsl_A.pds [(0,7), (14,26)]
  1.6805 /work/lpdi/databases/maps/r4/2r48_A.pds [(0,7), (15,27)]
  1.6977 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (12,24)]
  1.7131 /work/lpdi/databases/maps/oq/3oq2_A.pds [(4,11), (17,29)]
   1.722 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (9,21)]
  1.7296 /work/lpdi/databases/maps/ih/3ihs_A.pds [(60,67), (72,84)]
   1.733 /work/lpdi/databases/maps/ti/1tid_B.pds [(13,20), (28,40)]
  1.7378 /work/lpdi/databases/maps/sv/1svy_A.pds [(37,44), (52,64)]
  1.7585 /work/lpdi/databases/maps/x9/2x9a_B.pds [(42,49), (51,63)]
  1.7609 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (13,25)]
  1.7803 /work/lpdi/databases/maps/yp/2yps_A.pds [(60,67), (75,87)]
  1.7808 /work/lpdi/databases/maps/em/1em8_B.pds [(73,80), (86,98)]
  1.8023 /work/lpdi/databases/maps/x9/2x9a_B.pds [(41,48), (51,63)]
  1.8452 /work/lpdi/databases/maps/ex/3exc_X.pds [(1,8), (10,22)]
   1.856 /work/lpdi/databases/maps/hx/3hxs_A.pds [(29,36), (42,54)]
  1.8672 /work/lpdi/databases/maps/vf/3vfi_A.pds [(17,24), (30,42)]
  1.8804 /work/lpdi/databases/maps/hz/3hz4_A.pds [(21,28), (34,46)]
   1.908 /work/lpdi/databases/maps/ii/2iii_A.pds [(72,79), (83,95)]
   1.913 /work/lpdi/databases/maps/qn/2qn6_B.pds [(50,57), (59,71)]
  1.9147 /work/lpdi/databases/maps/ti/1tig_A.pds [(32,39), (46,58)]
  1.9214 /work/lpdi/databases/maps/ii/2iii_A.pds [(71,78), (86,98)]
  1.9385 /work/lpdi/databases/maps/a6/1a6f_A.pds [(43,50), (54,66)]
  1.9409 /work/lpdi/databases/maps/t6/1t6t_1.pds [(57,64), (70,82)]
  1.9786 /work/lpdi/databases/maps/i8/2i8e_A.pds [(2,9), (11,23)]
  1.9814 /work/lpdi/databases/maps/vr/1vr7_A.pds [(71,78), (86,98)]
  1.9861 /work/lpdi/databases/maps/ex/3exc_X.pds [(0,7), (13,25)]
  1.9914 /work/lpdi/databases/maps/nz/1nz0_A.pds [(36,43), (47,59)]
  1.9938 /work/lpdi/databases/maps/j2/1j27_A.pds [(53,60), (62,74)]
  2.0085 /work/lpdi/databases/maps/os/3ose_A.pds [(73,80), (82,94)]
  2.0099 /work/lpdi/databases/maps/ih/3ihs_A.pds [(59,66), (72,84)]
  2.0166 /work/lpdi/databases/maps/ti/1tig_A.pds [(2,9), (11,23)]
  2.0275 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (12,24)]
  2.0324 /work/lpdi/databases/maps/t1/1t1j_A.pds [(2,9), (17,29)]
  2.0329 /work/lpdi/databases/maps/d2/3d21_A.pds [(23,30), (36,48)]
  2.0366 /work/lpdi/databases/maps/h0/1h0x_A.pds [(25,32), (36,48)]
  2.0385 /work/lpdi/databases/maps/ti/1tig_A.pds [(1,8), (11,23)]
  2.0419 /work/lpdi/databases/maps/h4/1h4x_A.pds [(8,15), (23,35)]
  2.0429 /work/lpdi/databases/maps/os/3ose_A.pds [(72,79), (82,94)]
  2.0475 /work/lpdi/databases/maps/kc/1kcq_A.pds [(36,43), (46,58)]
  2.0509 /work/lpdi/databases/maps/sv/1svy_A.pds [(38,45), (48,60)]
   2.051 /work/lpdi/databases/maps/pe/2peb_A.pds [(8,15), (19,31)]
  2.0521 /work/lpdi/databases/maps/v3/1v3z_A.pds [(40,47), (49,61)]
  2.0572 /work/lpdi/databases/maps/ar/2ar5_A.pds [(63,70), (75,87)]
   2.059 /work/lpdi/databases/maps/d1/2d1p_B.pds [(2,9), (12,24)]
  2.0609 /work/lpdi/databases/maps/le/3le5_A.pds [(57,64), (69,81)]
  2.0711 /work/lpdi/databases/maps/qv/3qvg_B.pds [(15,22), (25,37)]
  2.0725 /work/lpdi/databases/maps/rs/2rsl_A.pds [(1,8), (14,26)]
