  1.1248 /work/lpdi/databases/maps/ex/3exc_X.pds [(1,8), (13,25)]
  1.1655 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (13,25)]
  1.2106 /work/lpdi/databases/maps/d1/2d1p_B.pds [(2,9), (16,28)]
  1.2246 /work/lpdi/databases/maps/i8/2i8e_A.pds [(2,9), (14,26)]
  1.2717 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (16,28)]
   1.275 /work/lpdi/databases/maps/l1/1l1s_A.pds [(2,9), (14,26)]
  1.3784 /work/lpdi/databases/maps/qv/3qvg_B.pds [(15,22), (28,40)]
  1.3941 /work/lpdi/databases/maps/sv/1svy_A.pds [(38,45), (52,64)]
  1.4802 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (17,29)]
  1.4816 /work/lpdi/databases/maps/dn/3dnj_A.pds [(2,9), (12,24)]
  1.4854 /work/lpdi/databases/maps/kc/1kcq_A.pds [(36,43), (50,62)]
  1.5176 /work/lpdi/databases/maps/sv/1svy_A.pds [(37,44), (52,64)]
  1.5328 /work/lpdi/databases/maps/ti/1tid_B.pds [(15,22), (28,40)]
  1.5372 /work/lpdi/databases/maps/l1/1l1s_A.pds [(1,8), (14,26)]
  1.5661 /work/lpdi/databases/maps/k3/1k3s_A.pds [(75,82), (88,100)]
  1.5692 /work/lpdi/databases/maps/of/1ofu_X.pds [(83,90), (97,109)]
  1.5762 /work/lpdi/databases/maps/h4/1h4x_A.pds [(8,15), (23,35)]
  1.5817 /work/lpdi/databases/maps/j9/2j9c_A.pds [(59,66), (70,82)]
  1.5884 /work/lpdi/databases/maps/rs/2rsl_A.pds [(1,8), (14,26)]
  1.5991 /work/lpdi/databases/maps/vc/1vc1_A.pds [(13,20), (26,38)]
  1.6026 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (67,79)]
   1.614 /work/lpdi/databases/maps/o6/2o66_A.pds [(52,59), (63,75)]
  1.6157 /work/lpdi/databases/maps/h9/2h9u_A.pds [(4,11), (13,25)]
  1.6214 /work/lpdi/databases/maps/w9/2w9r_A.pds [(17,24), (27,39)]
  1.6247 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,26)]
  1.6316 /work/lpdi/databases/maps/fh/2fhz_A.pds [(63,70), (76,88)]
  1.6354 /work/lpdi/databases/maps/lv/3lvj_C.pds [(5,12), (17,29)]
  1.6488 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (16,28)]
    1.65 /work/lpdi/databases/maps/h4/1h4x_A.pds [(10,17), (19,31)]
  1.6821 /work/lpdi/databases/maps/od/2od0_A.pds [(73,80), (88,100)]
  1.6886 /work/lpdi/databases/maps/oz/4ozj_A.pds [(49,56), (60,72)]
  1.6947 /work/lpdi/databases/maps/s1/1s12_A.pds [(9,16), (21,33)]
   1.707 /work/lpdi/databases/maps/kc/1kcq_A.pds [(37,44), (50,62)]
  1.7083 /work/lpdi/databases/maps/cz/2cz4_A.pds [(5,12), (16,28)]
  1.7107 /work/lpdi/databases/maps/fh/2fhz_A.pds [(62,69), (76,88)]
  1.7189 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (14,26)]
  1.7196 /work/lpdi/databases/maps/ti/1tig_A.pds [(1,8), (15,27)]
  1.7205 /work/lpdi/databases/maps/kc/1kcq_A.pds [(35,42), (50,62)]
  1.7215 /work/lpdi/databases/maps/qv/3qvg_A.pds [(12,19), (23,35)]
  1.7353 /work/lpdi/databases/maps/h4/1h4x_A.pds [(9,16), (23,35)]
  1.7547 /work/lpdi/databases/maps/fh/2fhz_A.pds [(64,71), (76,88)]
    1.76 /work/lpdi/databases/maps/ti/1tig_A.pds [(32,39), (46,58)]
  1.7608 /work/lpdi/databases/maps/ti/1tig_A.pds [(2,9), (15,27)]
  1.7645 /work/lpdi/databases/maps/nb/1nbw_B.pds [(2,9), (13,25)]
  1.7735 /work/lpdi/databases/maps/ku/4kun_A.pds [(5,12), (16,28)]
  1.7794 /work/lpdi/databases/maps/os/3ose_A.pds [(73,80), (82,94)]
   1.789 /work/lpdi/databases/maps/sv/1svy_A.pds [(39,46), (52,64)]
  1.7919 /work/lpdi/databases/maps/l1/1l1s_A.pds [(0,7), (14,26)]
   1.793 /work/lpdi/databases/maps/ii/2iii_A.pds [(73,80), (86,98)]
  1.7951 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (67,79)]
  1.8009 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (16,28)]
  1.8024 /work/lpdi/databases/maps/nz/2nzc_A.pds [(3,10), (16,28)]
  1.8136 /work/lpdi/databases/maps/b4/2b4a_A.pds [(47,54), (60,72)]
  1.8205 /work/lpdi/databases/maps/wz/2wz9_A.pds [(21,28), (34,46)]
  1.8235 /work/lpdi/databases/maps/i7/3i7t_A.pds [(63,70), (75,87)]
  1.8289 /work/lpdi/databases/maps/oj/2ojl_A.pds [(3,10), (14,26)]
  1.8318 /work/lpdi/databases/maps/t3/1t3u_A.pds [(7,14), (18,30)]
  1.8435 /work/lpdi/databases/maps/oj/2ojl_A.pds [(1,8), (14,26)]
  1.8437 /work/lpdi/databases/maps/p1/4p1m_A.pds [(8,15), (19,31)]
  1.8562 /work/lpdi/databases/maps/sv/1svy_A.pds [(39,46), (48,60)]
