  1.1324 /work/lpdi/databases/maps/vr/1vr7_A.pds [(62,69), (72,79)]
  1.1357 /work/lpdi/databases/maps/ii/2iii_A.pds [(62,69), (72,79)]
   1.143 /work/lpdi/databases/maps/vr/1vr7_A.pds [(50,57), (62,69)]
  1.1545 /work/lpdi/databases/maps/go/2go8_A.pds [(39,46), (48,55)]
  1.1962 /work/lpdi/databases/maps/ii/2iii_A.pds [(51,58), (62,69)]
  1.3012 /work/lpdi/databases/maps/i5/2i52_A.pds [(80,87), (92,99)]
  1.3218 /work/lpdi/databases/maps/it/2it9_A.pds [(85,92), (97,104)]
   1.358 /work/lpdi/databases/maps/ie/2iec_A.pds [(76,83), (88,95)]
  1.3646 /work/lpdi/databases/maps/aj/2aj6_A.pds [(53,60), (66,73)]
  1.4254 /work/lpdi/databases/maps/nz/2nzc_A.pds [(33,40), (43,50)]
  1.4329 /work/lpdi/databases/maps/pz/1pz4_A.pds [(30,37), (43,50)]
  1.4648 /work/lpdi/databases/maps/eg/3egn_A.pds [(67,74), (80,87)]
  1.4812 /work/lpdi/databases/maps/ik/1ikt_A.pds [(26,33), (39,46)]
  1.4902 /work/lpdi/databases/maps/gr/2gr7_A.pds [(77,84), (90,97)]
  1.5158 /work/lpdi/databases/maps/hw/4hwx_A.pds [(76,83), (88,95)]
  1.5231 /work/lpdi/databases/maps/gr/2gr8_A.pds [(54,61), (67,74)]
   1.541 /work/lpdi/databases/maps/nv/2nvm_A.pds [(28,35), (38,45)]
  1.5479 /work/lpdi/databases/maps/mn/1mnm_A.pds [(43,50), (52,59)]
  1.5645 /work/lpdi/databases/maps/vr/1vr7_A.pds [(41,48), (50,57)]
  1.6033 /work/lpdi/databases/maps/dl/3dlu_A.pds [(48,55), (58,65)]
  1.6119 /work/lpdi/databases/maps/ii/2iii_A.pds [(42,49), (51,58)]
  1.6225 /work/lpdi/databases/maps/in/2inw_A.pds [(82,89), (94,101)]
  1.6416 /work/lpdi/databases/maps/ql/2qlx_A.pds [(43,50), (53,60)]
  1.6421 /work/lpdi/databases/maps/ql/2qlw_A.pds [(43,50), (53,60)]
  1.6481 /work/lpdi/databases/maps/f4/2f41_A.pds [(86,93), (99,106)]
  1.6507 /work/lpdi/databases/maps/ea/2ea9_A.pds [(71,78), (83,90)]
  1.6567 /work/lpdi/databases/maps/g0/2g0i_A.pds [(1,8), (14,21)]
  1.6612 /work/lpdi/databases/maps/tb/1tbu_A.pds [(73,80), (86,93)]
  1.6772 /work/lpdi/databases/maps/dm/2dm9_A.pds [(79,86), (89,96)]
  1.6779 /work/lpdi/databases/maps/go/2go8_A.pds [(37,44), (50,57)]
  1.6866 /work/lpdi/databases/maps/qw/1qw2_A.pds [(6,13), (18,25)]
  1.6921 /work/lpdi/databases/maps/tr/3trg_A.pds [(37,44), (46,53)]
  1.7036 /work/lpdi/databases/maps/gr/2gr7_A.pds [(65,72), (75,82)]
  1.7093 /work/lpdi/databases/maps/wz/1wz7_A.pds [(5,12), (16,23)]
   1.711 /work/lpdi/databases/maps/gr/2gr8_A.pds [(42,49), (52,59)]
  1.7116 /work/lpdi/databases/maps/jf/4jfn_A.pds [(8,15), (17,24)]
  1.7137 /work/lpdi/databases/maps/n6/1n6j_A.pds [(41,48), (50,57)]
  1.7192 /work/lpdi/databases/maps/un/1unn_C.pds [(45,52), (54,61)]
  1.7232 /work/lpdi/databases/maps/fg/2fgg_A.pds [(20,27), (32,39)]
  1.7251 /work/lpdi/databases/maps/it/2it9_A.pds [(73,80), (85,92)]
  1.7253 /work/lpdi/databases/maps/go/1gou_A.pds [(83,90), (92,99)]
  1.7333 /work/lpdi/databases/maps/mb/1mby_A.pds [(15,22), (24,31)]
  1.7434 /work/lpdi/databases/maps/vk/3vke_A.pds [(34,41), (43,50)]
  1.7533 /work/lpdi/databases/maps/fg/2fgg_A.pds [(8,15), (20,27)]
  1.7562 /work/lpdi/databases/maps/i7/2i7r_A.pds [(94,101), (107,114)]
   1.758 /work/lpdi/databases/maps/ci/3ci0_I.pds [(30,37), (42,49)]
  1.7645 /work/lpdi/databases/maps/bk/3bkr_A.pds [(26,33), (39,46)]
  1.7657 /work/lpdi/databases/maps/j1/1j1y_A.pds [(92,99), (105,112)]
   1.769 /work/lpdi/databases/maps/mw/1mwp_A.pds [(3,10), (12,19)]
  1.7704 /work/lpdi/databases/maps/vr/1vr7_A.pds [(39,46), (52,59)]
  1.7812 /work/lpdi/databases/maps/dj/2dj6_A.pds [(88,95), (97,104)]
  1.7869 /work/lpdi/databases/maps/qw/1qw2_A.pds [(18,25), (30,37)]
  1.7943 /work/lpdi/databases/maps/cc/1cc7_A.pds [(31,38), (41,48)]
  1.7975 /work/lpdi/databases/maps/it/2it9_A.pds [(63,70), (75,82)]
  1.8061 /work/lpdi/databases/maps/it/2it9_A.pds [(8,15), (20,27)]
  1.8073 /work/lpdi/databases/maps/ia/2iay_A.pds [(57,64), (67,74)]
  1.8195 /work/lpdi/databases/maps/gr/2gr7_A.pds [(79,86), (88,95)]
  1.8213 /work/lpdi/databases/maps/gr/2gr7_A.pds [(49,56), (61,68)]
  1.8225 /work/lpdi/databases/maps/ii/2iii_A.pds [(40,47), (53,60)]
  1.8309 /work/lpdi/databases/maps/y3/2y3y_A.pds [(36,43), (45,52)]
