  1.2134 /work/lpdi/databases/maps/o9/1o91_A.pds [(73,77), (83,90)]
  1.2432 /work/lpdi/databases/maps/gr/1gr3_A.pds [(74,78), (84,91)]
  1.2438 /work/lpdi/databases/maps/f3/4f3j_A.pds [(75,79), (86,93)]
  1.2967 /work/lpdi/databases/maps/q8/2q87_A.pds [(2,6), (12,19)]
  1.3085 /work/lpdi/databases/maps/ik/1iko_P.pds [(71,75), (78,85)]
  1.4001 /work/lpdi/databases/maps/f3/4f3j_A.pds [(77,81), (84,91)]
  1.4414 /work/lpdi/databases/maps/ib/1iby_A.pds [(67,71), (77,84)]
  1.4678 /work/lpdi/databases/maps/gu/1gu3_A.pds [(82,86), (91,98)]
  1.4758 /work/lpdi/databases/maps/st/1stm_A.pds [(44,48), (52,59)]
  1.4783 /work/lpdi/databases/maps/dg/1dg6_A.pds [(92,96), (104,111)]
  1.4836 /work/lpdi/databases/maps/dg/1dg6_A.pds [(93,97), (104,111)]
  1.4995 /work/lpdi/databases/maps/qe/2qe3_A.pds [(86,90), (95,102)]
  1.5055 /work/lpdi/databases/maps/fc/3fc0_A.pds [(69,73), (78,85)]
  1.5148 /work/lpdi/databases/maps/qu/2quo_A.pds [(77,81), (87,94)]
  1.5294 /work/lpdi/databases/maps/vn/2vnv_A.pds [(13,17), (23,30)]
   1.534 /work/lpdi/databases/maps/vn/2vnv_A.pds [(37,41), (46,53)]
  1.5389 /work/lpdi/databases/maps/p4/1p4p_A.pds [(66,70), (77,84)]
  1.5406 /work/lpdi/databases/maps/u5/1u5x_A.pds [(77,81), (87,94)]
  1.5484 /work/lpdi/databases/maps/rj/1rjl_C.pds [(21,25), (32,39)]
  1.5501 /work/lpdi/databases/maps/iu/1iu1_A.pds [(47,51), (54,61)]
  1.5712 /work/lpdi/databases/maps/dw/2dwx_A.pds [(49,53), (56,63)]
  1.5836 /work/lpdi/databases/maps/cu/2cua_A.pds [(75,79), (85,92)]
  1.6117 /work/lpdi/databases/maps/cu/2cua_A.pds [(77,81), (83,90)]
   1.619 /work/lpdi/databases/maps/bw/4bww_A.pds [(79,83), (90,97)]
  1.6298 /work/lpdi/databases/maps/rj/1rj8_A.pds [(81,85), (93,100)]
  1.6301 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,13), (20,27)]
  1.6361 /work/lpdi/databases/maps/g1/1g1c_A.pds [(9,13), (20,27)]
  1.6407 /work/lpdi/databases/maps/bi/1bii_B.pds [(23,27), (33,40)]
  1.6419 /work/lpdi/databases/maps/xe/1xed_A.pds [(7,11), (13,20)]
  1.6444 /work/lpdi/databases/maps/ov/1ov8_A.pds [(44,48), (52,59)]
  1.6573 /work/lpdi/databases/maps/r3/2r32_A.pds [(87,91), (96,103)]
  1.6593 /work/lpdi/databases/maps/al/1aly_A.pds [(93,97), (102,109)]
  1.6593 /work/lpdi/databases/maps/ib/1iby_A.pds [(69,73), (75,82)]
   1.662 /work/lpdi/databases/maps/st/1stm_A.pds [(42,46), (54,61)]
   1.664 /work/lpdi/databases/maps/pk/1pko_A.pds [(10,14), (16,23)]
  1.6643 /work/lpdi/databases/maps/a3/1a3z_A.pds [(69,73), (76,83)]
  1.6647 /work/lpdi/databases/maps/pm/1pm4_A.pds [(32,36), (43,50)]
   1.668 /work/lpdi/databases/maps/jh/2jh2_A.pds [(49,53), (59,66)]
  1.6701 /work/lpdi/databases/maps/cj/2cjt_A.pds [(34,38), (46,53)]
  1.6801 /work/lpdi/databases/maps/or/2or8_A.pds [(5,9), (11,18)]
  1.6881 /work/lpdi/databases/maps/v6/2v6h_A.pds [(9,13), (20,27)]
  1.6911 /work/lpdi/databases/maps/bo/3bov_A.pds [(9,13), (15,22)]
   1.695 /work/lpdi/databases/maps/q8/2q87_A.pds [(4,8), (10,17)]
  1.6961 /work/lpdi/databases/maps/rj/1rj8_A.pds [(58,62), (65,72)]
  1.6977 /work/lpdi/databases/maps/oz/2ozj_A.pds [(17,21), (23,30)]
  1.6984 /work/lpdi/databases/maps/u5/1u5x_A.pds [(50,54), (57,64)]
  1.6989 /work/lpdi/databases/maps/pm/1pm4_A.pds [(60,64), (66,73)]
  1.7038 /work/lpdi/databases/maps/dg/1dg6_A.pds [(58,62), (68,75)]
  1.7069 /work/lpdi/databases/maps/no/4nob_A.pds [(8,12), (14,21)]
   1.707 /work/lpdi/databases/maps/o9/1o91_A.pds [(50,54), (59,66)]
  1.7085 /work/lpdi/databases/maps/wa/1waa_A.pds [(12,16), (18,25)]
  1.7103 /work/lpdi/databases/maps/iu/1iu1_A.pds [(46,50), (56,63)]
  1.7111 /work/lpdi/databases/maps/oz/2ozn_A.pds [(49,53), (59,66)]
  1.7128 /work/lpdi/databases/maps/qp/3qp3_A.pds [(13,17), (24,31)]
  1.7241 /work/lpdi/databases/maps/fh/1fhg_A.pds [(16,20), (22,29)]
  1.7282 /work/lpdi/databases/maps/gr/1gr3_A.pds [(76,80), (82,89)]
  1.7314 /work/lpdi/databases/maps/ay/3ay2_A.pds [(30,34), (41,48)]
  1.7318 /work/lpdi/databases/maps/en/4en0_A.pds [(90,94), (100,107)]
  1.7331 /work/lpdi/databases/maps/j1/2j12_B.pds [(9,13), (15,22)]
  1.7337 /work/lpdi/databases/maps/bw/4bww_A.pds [(81,85), (88,95)]
