   1.485 /work/lpdi/databases/maps/sp/1spp_B.pds [(86,93), (100,107)]
  1.6169 /work/lpdi/databases/maps/o4/1o4t_A.pds [(92,99), (106,113)]
   1.638 /work/lpdi/databases/maps/yh/1yhf_A.pds [(91,98), (103,110)]
  1.6755 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (27,34)]
   1.689 /work/lpdi/databases/maps/pm/1pm4_A.pds [(80,87), (94,101)]
  1.7267 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (28,35)]
  1.7417 /work/lpdi/databases/maps/v7/1v70_A.pds [(81,88), (95,102)]
  1.7558 /work/lpdi/databases/maps/sp/1spp_B.pds [(86,93), (101,108)]
  1.7666 /work/lpdi/databases/maps/pm/1pm4_A.pds [(68,75), (78,85)]
  1.7774 /work/lpdi/databases/maps/jv/4jvu_A.pds [(74,81), (87,94)]
  1.8002 /work/lpdi/databases/maps/sp/1spp_B.pds [(15,22), (28,35)]
  1.8108 /work/lpdi/databases/maps/tu/1tul_A.pds [(23,30), (33,40)]
  1.8202 /work/lpdi/databases/maps/nq/2nqc_A.pds [(23,30), (33,40)]
  1.8368 /work/lpdi/databases/maps/oz/2ozj_A.pds [(89,96), (101,108)]
  1.8718 /work/lpdi/databases/maps/j1/2j12_B.pds [(21,28), (31,38)]
   1.879 /work/lpdi/databases/maps/ou/3oug_A.pds [(84,91), (97,104)]
  1.8997 /work/lpdi/databases/maps/dj/3dj9_A.pds [(67,74), (80,87)]
  1.9078 /work/lpdi/databases/maps/jv/4jvw_A.pds [(69,76), (82,89)]
  1.9102 /work/lpdi/databases/maps/pm/1pm4_A.pds [(68,75), (77,84)]
  1.9104 /work/lpdi/databases/maps/nq/2nqc_A.pds [(56,63), (68,75)]
   1.918 /work/lpdi/databases/maps/x9/1x9r_A.pds [(68,75), (80,87)]
   1.926 /work/lpdi/databases/maps/b1/2b1y_A.pds [(4,11), (15,22)]
  1.9275 /work/lpdi/databases/maps/ll/4lld_B.pds [(67,74), (80,87)]
  1.9307 /work/lpdi/databases/maps/sp/1spp_B.pds [(66,73), (77,84)]
  1.9326 /work/lpdi/databases/maps/ib/1iby_A.pds [(46,53), (58,65)]
  1.9328 /work/lpdi/databases/maps/sp/1spp_B.pds [(86,93), (99,106)]
  1.9352 /work/lpdi/databases/maps/vn/2vnv_A.pds [(11,18), (24,31)]
  1.9355 /work/lpdi/databases/maps/zc/2zcz_A.pds [(0,7), (11,18)]
  1.9459 /work/lpdi/databases/maps/zc/2zcz_A.pds [(34,41), (46,53)]
  1.9494 /work/lpdi/databases/maps/nc/1nc7_A.pds [(76,83), (90,97)]
  1.9548 /work/lpdi/databases/maps/pm/1pm4_A.pds [(67,74), (78,85)]
  1.9584 /work/lpdi/databases/maps/ej/1ejf_A.pds [(13,20), (25,32)]
  1.9609 /work/lpdi/databases/maps/b8/2b8m_A.pds [(80,87), (94,101)]
  1.9703 /work/lpdi/databases/maps/pm/1pm4_A.pds [(66,73), (80,87)]
  1.9716 /work/lpdi/databases/maps/pp/1ppy_A.pds [(84,91), (98,105)]
  1.9845 /work/lpdi/databases/maps/v7/1v70_A.pds [(83,90), (93,100)]
  1.9849 /work/lpdi/databases/maps/gl/1gl4_B.pds [(52,59), (65,72)]
  1.9852 /work/lpdi/databases/maps/ne/1neu_A.pds [(79,86), (92,99)]
  1.9857 /work/lpdi/databases/maps/vn/2vnv_A.pds [(11,18), (23,30)]
  1.9865 /work/lpdi/databases/maps/sp/1spp_B.pds [(40,47), (55,62)]
  1.9899 /work/lpdi/databases/maps/pm/1pm4_A.pds [(30,37), (43,50)]
  1.9902 /work/lpdi/databases/maps/pt/1pt0_A.pds [(87,94), (101,108)]
   1.992 /work/lpdi/databases/maps/jq/3jqw_A.pds [(22,29), (35,42)]
  1.9935 /work/lpdi/databases/maps/nq/1nqd_A.pds [(79,86), (90,97)]
  2.0002 /work/lpdi/databases/maps/je/1jer_A.pds [(72,79), (84,91)]
  2.0011 /work/lpdi/databases/maps/pm/1pm4_A.pds [(66,73), (79,86)]
  2.0073 /work/lpdi/databases/maps/rg/3rgh_A.pds [(25,32), (35,42)]
  2.0087 /work/lpdi/databases/maps/gi/3gin_A.pds [(71,78), (81,88)]
  2.0169 /work/lpdi/databases/maps/bb/3bb6_A.pds [(71,78), (81,88)]
  2.0321 /work/lpdi/databases/maps/jq/3jqw_A.pds [(47,54), (59,66)]
  2.0331 /work/lpdi/databases/maps/bi/1bii_B.pds [(64,71), (74,81)]
  2.0374 /work/lpdi/databases/maps/id/1id2_A.pds [(64,71), (77,84)]
  2.0516 /work/lpdi/databases/maps/g1/1g1c_A.pds [(59,66), (72,79)]
  2.0526 /work/lpdi/databases/maps/jp/1jpe_A.pds [(70,77), (85,92)]
  2.0571 /work/lpdi/databases/maps/c7/3c75_A.pds [(64,71), (77,84)]
  2.0585 /work/lpdi/databases/maps/r7/1r75_A.pds [(69,76), (81,88)]
  2.0618 /work/lpdi/databases/maps/j1/2j12_B.pds [(83,90), (96,103)]
  2.0622 /work/lpdi/databases/maps/q8/2q87_A.pds [(0,7), (12,19)]
  2.0622 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (26,33)]
  2.0632 /work/lpdi/databases/maps/jq/3jqw_A.pds [(81,88), (93,100)]
