  1.0381 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (18,27)]
  1.1219 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (15,24)]
  1.2567 /work/lpdi/databases/maps/b4/2b4a_A.pds [(92,99), (102,111)]
  1.2888 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (18,27)]
  1.4554 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (36,45)]
   1.461 /work/lpdi/databases/maps/tt/1ttz_A.pds [(53,60), (63,72)]
  1.4722 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (18,27)]
  1.4977 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (16,25)]
  1.5024 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (83,92)]
  1.5825 /work/lpdi/databases/maps/gn/3gnj_A.pds [(87,94), (97,106)]
  1.6197 /work/lpdi/databases/maps/y8/1y81_A.pds [(57,64), (69,78)]
  1.6243 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (18,27)]
  1.6358 /work/lpdi/databases/maps/b4/2b4a_A.pds [(48,55), (62,71)]
  1.6489 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (19,28)]
  1.6622 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (15,24)]
  1.6752 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (32,41)]
  1.6795 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (36,45)]
  1.7005 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (37,46)]
  1.7052 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (15,24)]
  1.7267 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (97,106)]
  1.7292 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (11,20)]
  1.7416 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (69,78)]
  1.7472 /work/lpdi/databases/maps/wo/1wou_A.pds [(97,104), (109,118)]
  1.7549 /work/lpdi/databases/maps/hx/3hxs_A.pds [(94,101), (104,113)]
  1.7559 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (15,24)]
  1.7587 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (14,23)]
  1.7657 /work/lpdi/databases/maps/y8/1y81_A.pds [(81,88), (92,101)]
  1.7683 /work/lpdi/databases/maps/hx/3hxs_A.pds [(30,37), (44,53)]
  1.7701 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (96,105)]
  1.8109 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (17,26)]
  1.8264 /work/lpdi/databases/maps/eo/3eod_A.pds [(73,80), (83,92)]
  1.8278 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (36,45)]
  1.8659 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (14,23)]
  1.8865 /work/lpdi/databases/maps/eo/3eod_A.pds [(74,81), (83,92)]
  1.8881 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (69,78)]
  1.8919 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (16,25)]
  1.8986 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (19,28)]
  1.8992 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (14,23)]
  1.9099 /work/lpdi/databases/maps/ku/4kun_A.pds [(5,12), (18,27)]
  1.9109 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (19,28)]
  1.9295 /work/lpdi/databases/maps/f5/2f51_A.pds [(23,30), (37,46)]
  1.9345 /work/lpdi/databases/maps/ii/1iib_A.pds [(72,79), (86,95)]
  1.9352 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (17,26)]
   1.961 /work/lpdi/databases/maps/d2/3d21_A.pds [(24,31), (38,47)]
  1.9794 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (70,79)]
  1.9911 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (15,24)]
   1.996 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (100,109)]
  1.9972 /work/lpdi/databases/maps/b4/2b4a_A.pds [(47,54), (62,71)]
  2.0243 /work/lpdi/databases/maps/f5/2f51_A.pds [(89,96), (99,108)]
  2.0346 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (101,110)]
  2.0464 /work/lpdi/databases/maps/wz/2wz9_A.pds [(85,92), (94,103)]
  2.0504 /work/lpdi/databases/maps/fz/3fz4_A.pds [(1,8), (15,24)]
  2.0524 /work/lpdi/databases/maps/hx/3hxs_A.pds [(93,100), (104,113)]
  2.0539 /work/lpdi/databases/maps/vf/3vfi_A.pds [(82,89), (92,101)]
  2.0588 /work/lpdi/databases/maps/vf/3vfi_A.pds [(19,26), (32,41)]
  2.0648 /work/lpdi/databases/maps/y8/1y81_A.pds [(80,87), (92,101)]
  2.0698 /work/lpdi/databases/maps/y8/1y81_A.pds [(79,86), (92,101)]
  2.0835 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (14,23)]
  2.0847 /work/lpdi/databases/maps/d2/3d21_A.pds [(87,94), (96,105)]
  2.0906 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (12,21)]
