 0.94834 /work/lpdi/databases/maps/nj/1njh_A.pds [(82,89), (94,101)]
  1.0537 /work/lpdi/databases/maps/ej/1ejf_A.pds [(24,31), (34,41)]
  1.0958 /work/lpdi/databases/maps/nc/1nc7_A.pds [(92,99), (102,109)]
   1.167 /work/lpdi/databases/maps/ej/1ejf_A.pds [(34,41), (46,53)]
  1.2239 /work/lpdi/databases/maps/xc/2xcm_C.pds [(35,42), (46,53)]
  1.2894 /work/lpdi/databases/maps/j1/2j12_B.pds [(98,105), (108,115)]
  1.2932 /work/lpdi/databases/maps/ox/2ox5_A.pds [(85,92), (96,103)]
  1.3029 /work/lpdi/databases/maps/im/1im3_D.pds [(5,12), (15,22)]
  1.3302 /work/lpdi/databases/maps/ww/1wwa_X.pds [(76,83), (86,93)]
  1.3532 /work/lpdi/databases/maps/he/1he7_A.pds [(76,83), (86,93)]
  1.3662 /work/lpdi/databases/maps/v8/1v8h_A.pds [(84,91), (95,102)]
  1.3669 /work/lpdi/databases/maps/rj/1rjl_C.pds [(8,15), (19,26)]
  1.3831 /work/lpdi/databases/maps/ww/1wwc_A.pds [(75,82), (85,92)]
  1.3934 /work/lpdi/databases/maps/qp/3qp3_A.pds [(77,84), (87,94)]
  1.4109 /work/lpdi/databases/maps/l6/4l63_B.pds [(25,32), (35,42)]
  1.4296 /work/lpdi/databases/maps/no/4nob_A.pds [(61,68), (73,80)]
  1.4322 /work/lpdi/databases/maps/jp/1jpe_A.pds [(8,15), (18,25)]
  1.4403 /work/lpdi/databases/maps/nj/1njh_A.pds [(46,53), (55,62)]
  1.4573 /work/lpdi/databases/maps/zc/1zc4_B.pds [(33,40), (43,50)]
  1.4817 /work/lpdi/databases/maps/xi/1xiw_A.pds [(1,8), (11,18)]
  1.4901 /work/lpdi/databases/maps/f3/1f3u_A.pds [(39,46), (49,56)]
  1.5211 /work/lpdi/databases/maps/j0/1j0w_A.pds [(58,65), (70,77)]
  1.5357 /work/lpdi/databases/maps/xc/2xcm_C.pds [(61,68), (71,78)]
  1.5374 /work/lpdi/databases/maps/xc/2xcm_C.pds [(25,32), (35,42)]
  1.5376 /work/lpdi/databases/maps/fh/1fhg_A.pds [(78,85), (88,95)]
  1.5499 /work/lpdi/databases/maps/b8/2b8m_A.pds [(15,22), (26,33)]
  1.5754 /work/lpdi/databases/maps/go/4gos_A.pds [(92,99), (102,109)]
  1.5988 /work/lpdi/databases/maps/ze/1ze3_D.pds [(88,95), (100,107)]
  1.6053 /work/lpdi/databases/maps/v6/2v6h_A.pds [(81,88), (91,98)]
  1.6075 /work/lpdi/databases/maps/ll/4lld_B.pds [(82,89), (92,99)]
   1.609 /work/lpdi/databases/maps/v6/2v6h_A.pds [(52,59), (64,71)]
  1.6188 /work/lpdi/databases/maps/n5/4n5u_A.pds [(9,16), (20,27)]
  1.6214 /work/lpdi/databases/maps/ej/1ejf_A.pds [(61,68), (71,78)]
   1.627 /work/lpdi/databases/maps/jt/3jt0_A.pds [(87,94), (99,106)]
  1.6318 /work/lpdi/databases/maps/io/4ios_A.pds [(0,7), (11,18)]
  1.6523 /work/lpdi/databases/maps/p5/1p5t_A.pds [(64,71), (76,83)]
  1.6558 /work/lpdi/databases/maps/qo/3qor_A.pds [(74,81), (85,92)]
  1.6564 /work/lpdi/databases/maps/aa/3aab_A.pds [(83,90), (93,100)]
  1.6576 /work/lpdi/databases/maps/ll/4lld_B.pds [(51,58), (63,70)]
  1.6606 /work/lpdi/databases/maps/g1/1g1c_A.pds [(74,81), (84,91)]
  1.6619 /work/lpdi/databases/maps/v7/2v76_A.pds [(61,68), (73,80)]
  1.6637 /work/lpdi/databases/maps/c7/3c75_A.pds [(85,92), (98,105)]
  1.6643 /work/lpdi/databases/maps/iu/1iu1_A.pds [(92,99), (102,109)]
  1.6684 /work/lpdi/databases/maps/im/1im3_D.pds [(74,81), (84,91)]
  1.6716 /work/lpdi/databases/maps/jv/4jvu_A.pds [(89,96), (99,106)]
  1.6737 /work/lpdi/databases/maps/rg/3rgh_A.pds [(49,56), (60,67)]
  1.6827 /work/lpdi/databases/maps/xe/1xed_A.pds [(55,62), (67,74)]
  1.6922 /work/lpdi/databases/maps/gd/4gd9_A.pds [(43,50), (52,59)]
  1.6955 /work/lpdi/databases/maps/qp/3qp3_A.pds [(52,59), (62,69)]
  1.7022 /work/lpdi/databases/maps/nq/2nqc_A.pds [(46,53), (56,63)]
  1.7039 /work/lpdi/databases/maps/id/1id2_A.pds [(85,92), (98,105)]
  1.7114 /work/lpdi/databases/maps/qc/4qcj_A.pds [(4,11), (15,22)]
  1.7195 /work/lpdi/databases/maps/q8/2q87_A.pds [(54,61), (66,73)]
  1.7242 /work/lpdi/databases/maps/hk/1hkf_A.pds [(56,63), (68,75)]
  1.7262 /work/lpdi/databases/maps/id/1id2_A.pds [(52,59), (65,72)]
  1.7272 /work/lpdi/databases/maps/bv/1bvn_T.pds [(6,13), (16,23)]
  1.7332 /work/lpdi/databases/maps/nj/1njh_A.pds [(55,62), (65,72)]
  1.7341 /work/lpdi/databases/maps/lg/1lgp_A.pds [(46,53), (58,65)]
  1.7356 /work/lpdi/databases/maps/rj/1rjl_C.pds [(21,28), (31,38)]
  1.7441 /work/lpdi/databases/maps/nm/2nms_A.pds [(60,67), (72,79)]
