   1.064 /work/lpdi/databases/maps/oj/2ojl_A.pds [(1,8), (14,26)]
  1.1136 /work/lpdi/databases/maps/t1/1t1j_A.pds [(3,10), (17,29)]
   1.291 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (9,21)]
   1.316 /work/lpdi/databases/maps/h7/3h79_A.pds [(21,28), (34,46)]
  1.3191 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (16,28)]
  1.4098 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (10,22)]
  1.4588 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (12,24)]
  1.4607 /work/lpdi/databases/maps/wz/2wz9_A.pds [(21,28), (34,46)]
  1.5327 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (13,25)]
  1.7445 /work/lpdi/databases/maps/vf/3vfi_A.pds [(17,24), (30,42)]
  1.7823 /work/lpdi/databases/maps/hz/3hz4_A.pds [(21,28), (34,46)]
  1.8335 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (13,25)]
  1.8344 /work/lpdi/databases/maps/hx/3hxs_A.pds [(29,36), (42,54)]
  1.8783 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (17,29)]
  1.8842 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (14,26)]
  1.9086 /work/lpdi/databases/maps/gn/3gnj_A.pds [(22,29), (35,47)]
  1.9173 /work/lpdi/databases/maps/b4/2b4a_A.pds [(91,98), (100,112)]
  1.9409 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (15,27)]
  1.9661 /work/lpdi/databases/maps/d2/3d21_A.pds [(23,30), (36,48)]
  1.9695 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (13,25)]
   1.977 /work/lpdi/databases/maps/f5/2f51_A.pds [(22,29), (35,47)]
  2.0369 /work/lpdi/databases/maps/oj/2ojl_A.pds [(0,7), (14,26)]
  2.1062 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (34,46)]
  2.1209 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (65,77)]
   2.138 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (16,28)]
  2.1475 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (14,26)]
  2.1908 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (12,24)]
  2.2707 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (16,28)]
  2.2762 /work/lpdi/databases/maps/ku/4kun_A.pds [(2,9), (16,28)]
  2.3024 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (14,26)]
  2.3053 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (11,23)]
  2.3121 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (12,24)]
  2.3214 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (67,79)]
   2.341 /work/lpdi/databases/maps/wz/2wz9_A.pds [(20,27), (34,46)]
  2.3458 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,26)]
  2.3498 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (15,27)]
  2.3522 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (30,42)]
  2.3539 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (64,76)]
  2.3571 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (95,107)]
  2.3731 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (34,46)]
  2.3745 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (13,25)]
  2.3789 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (94,106)]
  2.3807 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (10,22)]
  2.4001 /work/lpdi/databases/maps/gn/3gnj_A.pds [(85,92), (95,107)]
  2.4038 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (17,29)]
  2.4047 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (10,22)]
   2.408 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (16,28)]
  2.4179 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (17,29)]
  2.4194 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (9,21)]
  2.4257 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (34,46)]
  2.4276 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (81,93)]
  2.4316 /work/lpdi/databases/maps/fz/3fz4_A.pds [(0,7), (13,25)]
  2.4319 /work/lpdi/databases/maps/b4/2b4a_A.pds [(90,97), (100,112)]
  2.4342 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (9,21)]
  2.4354 /work/lpdi/databases/maps/h7/3h79_A.pds [(20,27), (34,46)]
  2.4418 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (84,96)]
   2.456 /work/lpdi/databases/maps/h7/3h79_A.pds [(92,99), (102,114)]
  2.4582 /work/lpdi/databases/maps/ct/3ctf_A.pds [(15,22), (24,36)]
  2.4683 /work/lpdi/databases/maps/eo/3eod_A.pds [(71,78), (81,93)]
  2.4701 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (27,39)]
