   1.405 /work/lpdi/databases/maps/vv/3vv1_A.pds [(13,20), (26,33)]
  1.4774 /work/lpdi/databases/maps/qu/2quo_A.pds [(86,93), (99,106)]
  1.4911 /work/lpdi/databases/maps/pm/1pm4_A.pds [(67,74), (79,86)]
  1.5167 /work/lpdi/databases/maps/co/2co3_A.pds [(4,11), (14,21)]
  1.5608 /work/lpdi/databases/maps/ej/1ejf_A.pds [(14,21), (24,31)]
  1.6242 /work/lpdi/databases/maps/gu/2gux_A.pds [(84,91), (94,101)]
  1.6843 /work/lpdi/databases/maps/am/1amx_A.pds [(90,97), (104,111)]
  1.6844 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (27,34)]
  1.6908 /work/lpdi/databases/maps/qu/2quo_A.pds [(41,48), (52,59)]
  1.6938 /work/lpdi/databases/maps/x9/1x9r_A.pds [(69,76), (79,86)]
  1.6956 /work/lpdi/databases/maps/j0/2j0t_D.pds [(69,76), (80,87)]
  1.7055 /work/lpdi/databases/maps/v7/1v70_A.pds [(82,89), (94,101)]
  1.7274 /work/lpdi/databases/maps/qu/2quo_A.pds [(39,46), (54,61)]
  1.7316 /work/lpdi/databases/maps/pm/1pm4_A.pds [(67,74), (78,85)]
  1.7694 /work/lpdi/databases/maps/he/2hew_F.pds [(44,51), (56,63)]
  1.7909 /work/lpdi/databases/maps/yh/1yhf_A.pds [(92,99), (102,109)]
  1.8043 /work/lpdi/databases/maps/hq/3hqx_A.pds [(85,92), (97,104)]
  1.8226 /work/lpdi/databases/maps/qu/2quo_A.pds [(88,95), (97,104)]
  1.8269 /work/lpdi/databases/maps/nq/2nqc_A.pds [(22,29), (34,41)]
  1.8279 /work/lpdi/databases/maps/o4/1o4t_A.pds [(93,100), (105,112)]
  1.8304 /work/lpdi/databases/maps/b8/2b8m_A.pds [(81,88), (93,100)]
  1.8539 /work/lpdi/databases/maps/am/1amx_A.pds [(90,97), (105,112)]
  1.8634 /work/lpdi/databases/maps/si/3sik_A.pds [(42,49), (55,62)]
  1.8685 /work/lpdi/databases/maps/oz/2ozj_A.pds [(90,97), (100,107)]
  1.8707 /work/lpdi/databases/maps/ws/1ws7_A.pds [(69,76), (79,86)]
  1.8913 /work/lpdi/databases/maps/sp/1spp_B.pds [(86,93), (100,107)]
  1.8963 /work/lpdi/databases/maps/xc/2xcm_C.pds [(13,20), (25,32)]
  1.8988 /work/lpdi/databases/maps/yr/1yrk_A.pds [(57,64), (69,76)]
  1.9051 /work/lpdi/databases/maps/nq/1nqd_A.pds [(35,42), (45,52)]
  1.9063 /work/lpdi/databases/maps/pa/2pa7_A.pds [(90,97), (102,109)]
  1.9075 /work/lpdi/databases/maps/pa/2pa7_A.pds [(91,98), (102,109)]
  1.9095 /work/lpdi/databases/maps/rs/1rsy_A.pds [(77,84), (89,96)]
  1.9114 /work/lpdi/databases/maps/b1/2b1y_A.pds [(3,10), (16,23)]
  1.9119 /work/lpdi/databases/maps/hq/3hqx_A.pds [(87,94), (97,104)]
  1.9192 /work/lpdi/databases/maps/ok/2okm_A.pds [(85,92), (100,107)]
  1.9242 /work/lpdi/databases/maps/sp/1spp_B.pds [(87,94), (99,106)]
  1.9366 /work/lpdi/databases/maps/bb/3bb6_A.pds [(70,77), (81,88)]
  1.9367 /work/lpdi/databases/maps/jo/1jop_A.pds [(117,124), (129,136)]
  1.9377 /work/lpdi/databases/maps/jq/3jqw_A.pds [(82,89), (92,99)]
  1.9418 /work/lpdi/databases/maps/hq/3hqx_A.pds [(32,39), (44,51)]
  1.9433 /work/lpdi/databases/maps/oz/2ozj_A.pds [(80,87), (91,98)]
  1.9435 /work/lpdi/databases/maps/t3/3t30_A.pds [(72,79), (85,92)]
   1.955 /work/lpdi/databases/maps/hq/3hqx_A.pds [(32,39), (43,50)]
  1.9577 /work/lpdi/databases/maps/hq/3hqx_A.pds [(86,93), (97,104)]
  1.9611 /work/lpdi/databases/maps/nq/1nqd_A.pds [(80,87), (89,96)]
  1.9733 /work/lpdi/databases/maps/sp/1spp_B.pds [(17,24), (27,34)]
  1.9765 /work/lpdi/databases/maps/pm/1pm4_A.pds [(65,72), (79,86)]
  1.9806 /work/lpdi/databases/maps/fd/3fdw_A.pds [(72,79), (84,91)]
  1.9834 /work/lpdi/databases/maps/oy/2oyz_A.pds [(74,81), (86,93)]
  1.9854 /work/lpdi/databases/maps/k5/1k5j_A.pds [(72,79), (85,92)]
  1.9912 /work/lpdi/databases/maps/rg/3rgh_A.pds [(59,66), (73,80)]
  1.9922 /work/lpdi/databases/maps/rs/1rsy_A.pds [(77,84), (90,97)]
  1.9927 /work/lpdi/databases/maps/bi/1bii_B.pds [(63,70), (75,82)]
  1.9958 /work/lpdi/databases/maps/a3/1a3z_A.pds [(54,61), (64,71)]
  1.9961 /work/lpdi/databases/maps/vn/2vnv_A.pds [(10,17), (24,31)]
   1.997 /work/lpdi/databases/maps/v6/2v6h_A.pds [(65,72), (80,87)]
  2.0041 /work/lpdi/databases/maps/o9/4o9e_A.pds [(92,99), (105,112)]
  2.0054 /work/lpdi/databases/maps/py/2pyt_A.pds [(105,112), (115,122)]
  2.0064 /work/lpdi/databases/maps/o9/4o9e_A.pds [(93,100), (105,112)]
  2.0069 /work/lpdi/databases/maps/nq/2nqc_A.pds [(57,64), (67,74)]
