  1.4107 /work/lpdi/databases/maps/yh/1yhf_A.pds [(91,98), (103,110)]
  1.4719 /work/lpdi/databases/maps/o4/1o4t_A.pds [(92,99), (106,113)]
  1.5462 /work/lpdi/databases/maps/qo/3qor_A.pds [(26,33), (42,49)]
  1.5793 /work/lpdi/databases/maps/v7/1v70_A.pds [(81,88), (95,102)]
   1.583 /work/lpdi/databases/maps/sp/1spp_B.pds [(86,93), (100,107)]
  1.6437 /work/lpdi/databases/maps/b8/2b8m_A.pds [(80,87), (94,101)]
   1.683 /work/lpdi/databases/maps/oz/2ozj_A.pds [(89,96), (101,108)]
  1.7499 /work/lpdi/databases/maps/oy/2oyz_A.pds [(22,29), (33,40)]
  1.7654 /work/lpdi/databases/maps/hq/3hqx_A.pds [(31,38), (44,51)]
  1.8121 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (27,34)]
  1.8143 /work/lpdi/databases/maps/o4/1o4t_A.pds [(48,55), (60,67)]
  1.8253 /work/lpdi/databases/maps/x9/1x9r_A.pds [(68,75), (80,87)]
  1.8264 /work/lpdi/databases/maps/pm/1pm4_A.pds [(66,73), (80,87)]
  1.8326 /work/lpdi/databases/maps/sp/1spp_B.pds [(86,93), (101,108)]
  1.8722 /work/lpdi/databases/maps/hq/3hqx_A.pds [(32,39), (44,51)]
  1.8751 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (28,35)]
  1.8863 /work/lpdi/databases/maps/b1/2b1y_A.pds [(4,11), (15,22)]
  1.8909 /work/lpdi/databases/maps/bb/3bb6_A.pds [(71,78), (81,88)]
  1.8942 /work/lpdi/databases/maps/ej/1ejf_A.pds [(13,20), (25,32)]
  1.8998 /work/lpdi/databases/maps/yh/1yhf_A.pds [(48,55), (59,66)]
  1.9011 /work/lpdi/databases/maps/nc/1nc7_A.pds [(76,83), (90,97)]
  1.9043 /work/lpdi/databases/maps/v7/1v70_A.pds [(37,44), (49,56)]
  1.9065 /work/lpdi/databases/maps/xc/2xcm_C.pds [(12,19), (26,33)]
  1.9152 /work/lpdi/databases/maps/nq/1nqd_A.pds [(79,86), (90,97)]
  1.9171 /work/lpdi/databases/maps/nq/2nqc_A.pds [(56,63), (68,75)]
   1.921 /work/lpdi/databases/maps/id/1id2_A.pds [(64,71), (77,84)]
  1.9225 /work/lpdi/databases/maps/pm/1pm4_A.pds [(68,75), (78,85)]
  1.9235 /work/lpdi/databases/maps/je/1jer_A.pds [(72,79), (84,91)]
   1.928 /work/lpdi/databases/maps/pm/1pm4_A.pds [(66,73), (79,86)]
  1.9282 /work/lpdi/databases/maps/hq/3hqx_A.pds [(33,40), (43,50)]
  1.9478 /work/lpdi/databases/maps/tu/1tul_A.pds [(23,30), (33,40)]
  1.9617 /work/lpdi/databases/maps/hq/3hqx_A.pds [(86,93), (96,103)]
  1.9679 /work/lpdi/databases/maps/nq/1nqd_A.pds [(34,41), (46,53)]
  1.9744 /work/lpdi/databases/maps/b8/2b8m_A.pds [(36,43), (47,54)]
  1.9754 /work/lpdi/databases/maps/sp/1spp_B.pds [(85,92), (101,108)]
   1.976 /work/lpdi/databases/maps/sp/1spp_B.pds [(40,47), (55,62)]
  1.9804 /work/lpdi/databases/maps/bb/3bb6_A.pds [(79,86), (92,99)]
   1.988 /work/lpdi/databases/maps/c7/3c75_A.pds [(64,71), (77,84)]
  1.9914 /work/lpdi/databases/maps/zc/2zcz_A.pds [(0,7), (11,18)]
  1.9992 /work/lpdi/databases/maps/pm/1pm4_A.pds [(67,74), (78,85)]
  2.0002 /work/lpdi/databases/maps/o5/1o5u_A.pds [(61,68), (71,78)]
  2.0254 /work/lpdi/databases/maps/oy/2oyz_A.pds [(23,30), (33,40)]
  2.0267 /work/lpdi/databases/maps/v7/1v70_A.pds [(36,43), (49,56)]
  2.0271 /work/lpdi/databases/maps/yh/1yhf_A.pds [(47,54), (59,66)]
  2.0284 /work/lpdi/databases/maps/hq/3hqx_A.pds [(33,40), (44,51)]
  2.0329 /work/lpdi/databases/maps/jp/1jpe_A.pds [(70,77), (85,92)]
  2.0346 /work/lpdi/databases/maps/o4/1o4t_A.pds [(47,54), (60,67)]
  2.0422 /work/lpdi/databases/maps/bb/3bb6_A.pds [(70,77), (81,88)]
  2.0543 /work/lpdi/databases/maps/v6/2v6h_A.pds [(66,73), (79,86)]
  2.0548 /work/lpdi/databases/maps/hq/3hqx_A.pds [(86,93), (97,104)]
  2.0662 /work/lpdi/databases/maps/pm/1pm4_A.pds [(80,87), (94,101)]
  2.0706 /work/lpdi/databases/maps/ne/1neu_A.pds [(79,86), (92,99)]
  2.0706 /work/lpdi/databases/maps/gi/2gim_A.pds [(71,78), (82,89)]
  2.0791 /work/lpdi/databases/maps/sp/1spp_B.pds [(15,22), (28,35)]
  2.0802 /work/lpdi/databases/maps/jq/3jqw_A.pds [(35,42), (47,54)]
  2.0812 /work/lpdi/databases/maps/ib/1iby_A.pds [(46,53), (58,65)]
  2.0822 /work/lpdi/databases/maps/jq/3jqw_A.pds [(22,29), (35,42)]
  2.0859 /work/lpdi/databases/maps/gl/1gl4_B.pds [(52,59), (65,72)]
  2.0889 /work/lpdi/databases/maps/sp/1spp_B.pds [(86,93), (99,106)]
  2.0913 /work/lpdi/databases/maps/nq/2nqc_A.pds [(23,30), (33,40)]
