  1.1387 /work/lpdi/databases/maps/oj/2ojl_A.pds [(1,8), (14,26)]
  1.1731 /work/lpdi/databases/maps/wz/2wz9_A.pds [(21,28), (34,46)]
  1.2105 /work/lpdi/databases/maps/h7/3h79_A.pds [(21,28), (34,46)]
  1.2757 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (16,28)]
  1.4175 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (9,21)]
  1.4511 /work/lpdi/databases/maps/t1/1t1j_A.pds [(3,10), (17,29)]
  1.5944 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (10,22)]
  1.6087 /work/lpdi/databases/maps/hx/3hxs_A.pds [(29,36), (42,54)]
  1.6746 /work/lpdi/databases/maps/vf/3vfi_A.pds [(17,24), (30,42)]
  1.6943 /work/lpdi/databases/maps/hz/3hz4_A.pds [(21,28), (34,46)]
  1.7002 /work/lpdi/databases/maps/b4/2b4a_A.pds [(91,98), (100,112)]
  1.7022 /work/lpdi/databases/maps/f5/2f51_A.pds [(22,29), (35,47)]
  1.7141 /work/lpdi/databases/maps/gn/3gnj_A.pds [(22,29), (35,47)]
  1.7166 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (34,46)]
   1.726 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (13,25)]
  1.7619 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (17,29)]
  1.7621 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (12,24)]
  1.7714 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (13,25)]
  1.7983 /work/lpdi/databases/maps/d2/3d21_A.pds [(23,30), (36,48)]
  1.8856 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (13,25)]
  1.8881 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (14,26)]
  1.9114 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (16,28)]
  1.9191 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (14,26)]
  1.9489 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (15,27)]
   1.977 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (16,28)]
  1.9985 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (34,46)]
  1.9997 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (30,42)]
  2.0214 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (34,46)]
  2.0781 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (67,79)]
  2.0837 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (17,29)]
  2.0909 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (35,47)]
  2.1419 /work/lpdi/databases/maps/hx/3hxs_A.pds [(30,37), (42,54)]
  2.1687 /work/lpdi/databases/maps/d2/3d21_A.pds [(24,31), (36,48)]
  2.1867 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (15,27)]
  2.1935 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (67,79)]
  2.2215 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,26)]
  2.2607 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (17,29)]
  2.2656 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (95,107)]
  2.2808 /work/lpdi/databases/maps/f5/2f51_A.pds [(23,30), (35,47)]
  2.2827 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (9,21)]
  2.2844 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (12,24)]
  2.2851 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (9,21)]
    2.29 /work/lpdi/databases/maps/oj/2ojl_A.pds [(0,7), (14,26)]
  2.2942 /work/lpdi/databases/maps/fz/3fz4_A.pds [(0,7), (13,25)]
  2.3102 /work/lpdi/databases/maps/b4/2b4a_A.pds [(47,54), (60,72)]
  2.3112 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (65,77)]
  2.3361 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (81,93)]
  2.3387 /work/lpdi/databases/maps/wc/2wci_A.pds [(15,22), (28,40)]
  2.3496 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (94,106)]
  2.3498 /work/lpdi/databases/maps/h7/3h79_A.pds [(23,30), (34,46)]
  2.3528 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (64,76)]
   2.367 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (16,28)]
  2.3784 /work/lpdi/databases/maps/b4/2b4a_A.pds [(46,53), (60,72)]
  2.3813 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (10,22)]
  2.3838 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (27,39)]
  2.3878 /work/lpdi/databases/maps/y8/1y81_A.pds [(54,61), (67,79)]
   2.394 /work/lpdi/databases/maps/rh/3rhb_A.pds [(13,20), (22,34)]
  2.3997 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (31,43)]
  2.4007 /work/lpdi/databases/maps/ct/3ctf_A.pds [(15,22), (24,36)]
  2.4055 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (12,24)]
