  1.5954 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (102,109)]
  1.6739 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (103,110)]
  1.7433 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (46,53)]
  1.7528 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (54,61)]
  1.7733 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (104,111)]
  1.8124 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (45,52)]
    1.82 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (91,98)]
  1.9264 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (92,99)]
  1.9422 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (55,62)]
  1.9528 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (75,82)]
  1.9547 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (40,47)]
  1.9849 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (92,99)]
  2.0132 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (40,47)]
  2.0169 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (39,46)]
  2.0774 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (77,84)]
  2.0947 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (73,80)]
  2.1012 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (93,100)]
  2.1644 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (41,48)]
  2.2151 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (93,100)]
  2.2371 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (74,81)]
  2.2745 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (39,46)]
  2.2949 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (47,54)]
  2.3125 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (72,79)]
  2.3537 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (53,60)]
  2.3616 /work/lpdi/databases/maps/hz/1hz5_A.pds [(36,52), (54,61)]
  2.3804 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (72,79)]
  2.3818 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (71,78)]
  2.3887 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (76,83)]
     2.4 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (102,109)]
  2.4137 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (92,99)]
  2.4241 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (38,45)]
  2.4327 /work/lpdi/databases/maps/bk/2bkf_A.pds [(59,75), (77,84)]
  2.4528 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (41,48)]
   2.542 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (104,111)]
  2.5621 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (103,110)]
  2.6051 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (91,98)]
  2.6145 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (42,49)]
  2.6241 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (26,33)]
  2.6832 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (104,111)]
  2.6919 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (94,101)]
  2.6973 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (101,108)]
  2.7061 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (71,78)]
  2.7075 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (74,81)]
  2.7224 /work/lpdi/databases/maps/bk/2bkf_A.pds [(59,75), (78,85)]
  2.7647 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (56,63)]
   2.777 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (62,69)]
  2.7787 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (70,77)]
    2.78 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (93,100)]
  2.7938 /work/lpdi/databases/maps/hz/1hz5_A.pds [(35,51), (54,61)]
  2.7994 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (103,110)]
  2.8112 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (105,112)]
  2.8285 /work/lpdi/databases/maps/hz/1hz5_A.pds [(36,52), (55,62)]
  2.8347 /work/lpdi/databases/maps/vr/1vr7_A.pds [(82,98), (104,111)]
  2.8526 /work/lpdi/databases/maps/hz/1hz5_A.pds [(35,51), (53,60)]
  2.8748 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (27,34)]
  2.8837 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (75,82)]
  2.9416 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (25,32)]
   2.951 /work/lpdi/databases/maps/vr/1vr7_A.pds [(17,33), (41,48)]
  2.9628 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (61,68)]
  2.9724 /work/lpdi/databases/maps/hz/1hz5_A.pds [(33,49), (54,61)]
