  1.1532 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (102,109)]
  1.5307 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (54,61)]
  1.6913 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (45,52)]
   1.746 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (103,110)]
  1.8878 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (53,60)]
  1.9196 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (92,99)]
  1.9288 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (55,62)]
   1.943 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (91,98)]
  1.9478 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (40,47)]
  1.9611 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (46,53)]
  1.9664 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (39,46)]
  2.0053 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (39,46)]
  2.0747 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (74,81)]
  2.1222 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (38,45)]
  2.1514 /work/lpdi/databases/maps/wm/1wmh_A.pds [(56,72), (75,82)]
  2.1557 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (101,108)]
  2.1971 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (102,109)]
  2.1976 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (104,111)]
  2.2338 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (92,99)]
  2.2455 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (72,79)]
  2.2518 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (91,98)]
  2.2543 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (76,83)]
  2.2832 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (77,84)]
  2.3288 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (40,47)]
  2.3361 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (93,100)]
  2.3403 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (71,78)]
  2.3536 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (73,80)]
  2.3804 /work/lpdi/databases/maps/o2/2o2v_B.pds [(53,69), (71,78)]
  2.4023 /work/lpdi/databases/maps/np/2npt_A.pds [(70,86), (93,100)]
  2.4457 /work/lpdi/databases/maps/np/2npt_A.pds [(73,89), (92,99)]
  2.4536 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (41,48)]
  2.4592 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (70,77)]
  2.5153 /work/lpdi/databases/maps/c6/2c60_A.pds [(57,73), (75,82)]
   2.531 /work/lpdi/databases/maps/bk/2bkf_A.pds [(59,75), (77,84)]
  2.5382 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (26,33)]
  2.5698 /work/lpdi/databases/maps/w1/3w1y_A.pds [(7,23), (25,32)]
  2.6467 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (103,110)]
  2.6469 /work/lpdi/databases/maps/np/2npt_B.pds [(52,68), (72,79)]
  2.6573 /work/lpdi/databases/maps/pg/1pgx_A.pds [(27,43), (47,54)]
  2.7072 /work/lpdi/databases/maps/hz/1hz5_A.pds [(36,52), (54,61)]
  2.7301 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (102,109)]
  2.7322 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (103,110)]
  2.7504 /work/lpdi/databases/maps/ii/2iii_A.pds [(82,98), (104,111)]
  2.7754 /work/lpdi/databases/maps/np/2npt_A.pds [(69,85), (91,98)]
  2.8137 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (52,59)]
   2.826 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (101,108)]
  2.8308 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (61,68)]
  2.8415 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (60,67)]
  2.8596 /work/lpdi/databases/maps/hz/1hz5_A.pds [(32,48), (56,63)]
  2.8672 /work/lpdi/databases/maps/vr/1vr7_A.pds [(82,98), (102,109)]
   2.873 /work/lpdi/databases/maps/hz/1hz5_A.pds [(35,51), (53,60)]
  2.8909 /work/lpdi/databases/maps/l4/1l4d_B.pds [(39,55), (62,69)]
  2.9118 /work/lpdi/databases/maps/hz/1hz5_A.pds [(33,49), (53,60)]
  2.9625 /work/lpdi/databases/maps/vr/1vr7_A.pds [(82,98), (103,110)]
  2.9958 /work/lpdi/databases/maps/bk/2bkf_A.pds [(59,75), (78,85)]
  2.9973 /work/lpdi/databases/maps/vr/1vr7_A.pds [(83,99), (104,111)]
  3.0107 /work/lpdi/databases/maps/hz/1hz5_A.pds [(35,51), (54,61)]
  3.0107 /work/lpdi/databases/maps/hz/1hz5_A.pds [(33,49), (54,61)]
  3.0224 /work/lpdi/databases/maps/vr/1vr7_A.pds [(20,36), (41,48)]
  3.0266 /work/lpdi/databases/maps/vr/1vr7_A.pds [(82,98), (104,111)]
