 0.94927 /work/lpdi/databases/maps/f3/4f3j_A.pds [(74,81), (87,91)]
  1.0379 /work/lpdi/databases/maps/gr/1gr3_A.pds [(73,80), (85,89)]
  1.1116 /work/lpdi/databases/maps/ib/1iby_A.pds [(66,73), (78,82)]
  1.1296 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (13,17)]
  1.2216 /work/lpdi/databases/maps/o9/1o91_A.pds [(49,56), (60,64)]
  1.2647 /work/lpdi/databases/maps/o9/1o91_A.pds [(72,79), (84,88)]
     1.3 /work/lpdi/databases/maps/gr/1gr3_A.pds [(50,57), (61,65)]
  1.3024 /work/lpdi/databases/maps/rj/1rj8_A.pds [(55,62), (68,72)]
   1.323 /work/lpdi/databases/maps/u5/1u5x_A.pds [(76,83), (88,92)]
  1.3367 /work/lpdi/databases/maps/qe/2qe3_A.pds [(52,59), (65,69)]
  1.3379 /work/lpdi/databases/maps/st/1stm_A.pds [(43,50), (53,57)]
  1.4235 /work/lpdi/databases/maps/f3/4f3j_A.pds [(51,58), (62,66)]
  1.4311 /work/lpdi/databases/maps/pm/1pm4_A.pds [(31,38), (44,48)]
  1.4496 /work/lpdi/databases/maps/ay/3ay2_A.pds [(29,36), (42,46)]
  1.4525 /work/lpdi/databases/maps/j1/2j12_B.pds [(6,13), (18,22)]
  1.4789 /work/lpdi/databases/maps/bw/4bww_A.pds [(29,36), (42,46)]
    1.48 /work/lpdi/databases/maps/u5/1u5x_A.pds [(47,54), (60,64)]
  1.4838 /work/lpdi/databases/maps/st/1stm_A.pds [(41,48), (55,59)]
  1.4978 /work/lpdi/databases/maps/q9/2q9s_A.pds [(57,64), (69,73)]
  1.5057 /work/lpdi/databases/maps/ov/1ov8_A.pds [(43,50), (53,57)]
  1.5502 /work/lpdi/databases/maps/dw/2dwx_A.pds [(47,54), (59,63)]
  1.5515 /work/lpdi/databases/maps/gr/1grw_A.pds [(12,19), (24,28)]
  1.5633 /work/lpdi/databases/maps/cu/2cua_A.pds [(74,81), (86,90)]
   1.564 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (57,61)]
  1.5776 /work/lpdi/databases/maps/xa/1xau_A.pds [(22,29), (33,37)]
  1.5833 /work/lpdi/databases/maps/gu/1gu3_A.pds [(81,88), (92,96)]
  1.6052 /work/lpdi/databases/maps/jq/3jqw_A.pds [(48,55), (60,64)]
   1.616 /work/lpdi/databases/maps/us/1usq_A.pds [(18,25), (27,31)]
  1.6173 /work/lpdi/databases/maps/nq/1nqd_A.pds [(47,54), (59,63)]
  1.6177 /work/lpdi/databases/maps/ea/3ead_A.pds [(7,14), (16,20)]
  1.6218 /work/lpdi/databases/maps/he/2hev_F.pds [(45,52), (55,59)]
  1.6317 /work/lpdi/databases/maps/aa/2aan_A.pds [(30,37), (39,43)]
  1.6412 /work/lpdi/databases/maps/gl/1gl4_B.pds [(21,28), (32,36)]
  1.6513 /work/lpdi/databases/maps/qe/2qe3_A.pds [(85,92), (96,100)]
  1.6576 /work/lpdi/databases/maps/or/2or8_A.pds [(16,23), (27,31)]
  1.6614 /work/lpdi/databases/maps/ov/1ov8_A.pds [(41,48), (55,59)]
  1.6626 /work/lpdi/databases/maps/p4/1p4p_A.pds [(65,72), (78,82)]
   1.682 /work/lpdi/databases/maps/xa/1xau_A.pds [(8,15), (20,24)]
  1.6863 /work/lpdi/databases/maps/gi/3gin_A.pds [(9,16), (18,22)]
  1.6916 /work/lpdi/databases/maps/v4/3v4h_A.pds [(24,31), (38,42)]
  1.6967 /work/lpdi/databases/maps/q9/2q9s_A.pds [(57,64), (70,74)]
  1.6968 /work/lpdi/databases/maps/r7/1r75_A.pds [(70,77), (82,86)]
   1.697 /work/lpdi/databases/maps/nq/2nqc_A.pds [(36,43), (46,50)]
  1.7022 /work/lpdi/databases/maps/rj/1rj8_A.pds [(80,87), (94,98)]
  1.7091 /work/lpdi/databases/maps/cu/2cua_A.pds [(32,39), (46,50)]
  1.7229 /work/lpdi/databases/maps/dg/1dg6_A.pds [(91,98), (105,109)]
  1.7245 /work/lpdi/databases/maps/gm/1gmi_A.pds [(49,56), (63,67)]
  1.7274 /work/lpdi/databases/maps/t3/3t30_A.pds [(1,8), (14,18)]
  1.7309 /work/lpdi/databases/maps/w0/1w0n_A.pds [(71,78), (81,85)]
   1.735 /work/lpdi/databases/maps/ay/3ay2_A.pds [(1,8), (15,19)]
  1.7372 /work/lpdi/databases/maps/w0/1w0n_A.pds [(70,77), (81,85)]
  1.7384 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (14,18)]
  1.7439 /work/lpdi/databases/maps/jv/4jvu_A.pds [(75,82), (88,92)]
  1.7443 /work/lpdi/databases/maps/a3/1a3z_A.pds [(66,73), (79,83)]
  1.7522 /work/lpdi/databases/maps/aa/2aan_A.pds [(28,35), (41,45)]
  1.7545 /work/lpdi/databases/maps/gk/4gk6_A.pds [(76,83), (86,90)]
   1.764 /work/lpdi/databases/maps/r0/1r0u_A.pds [(77,84), (87,91)]
  1.7644 /work/lpdi/databases/maps/bc/2bcm_A.pds [(17,24), (26,30)]
  1.7686 /work/lpdi/databases/maps/rj/1rj8_A.pds [(80,87), (93,97)]
   1.772 /work/lpdi/databases/maps/ea/3ead_A.pds [(52,59), (65,69)]
