  1.6217 /work/lpdi/databases/maps/ht/2ht9_A.pds [(5,14), (16,23)]
  1.6268 /work/lpdi/databases/maps/l4/3l4n_A.pds [(3,12), (14,21)]
  1.7443 /work/lpdi/databases/maps/wc/2wci_A.pds [(4,13), (15,22)]
  1.8926 /work/lpdi/databases/maps/eo/3eod_A.pds [(83,92), (94,101)]
  1.9063 /work/lpdi/databases/maps/rh/3rhb_A.pds [(3,12), (14,21)]
  1.9235 /work/lpdi/databases/maps/ct/3ctf_A.pds [(5,14), (16,23)]
  2.0216 /work/lpdi/databases/maps/rd/3rdw_A.pds [(13,22), (24,31)]
  2.1068 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (23,30)]
  2.1765 /work/lpdi/databases/maps/wc/2wci_A.pds [(33,42), (44,51)]
   2.185 /work/lpdi/databases/maps/d2/3d21_A.pds [(12,21), (23,30)]
  2.1949 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (22,29)]
  2.2125 /work/lpdi/databases/maps/f5/2f51_A.pds [(11,20), (22,29)]
  2.2201 /work/lpdi/databases/maps/b4/2b4a_A.pds [(15,24), (26,33)]
  2.2771 /work/lpdi/databases/maps/y8/1y81_A.pds [(69,78), (80,87)]
  2.2862 /work/lpdi/databases/maps/eo/3eod_A.pds [(18,27), (29,36)]
  2.2867 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (23,30)]
  2.2916 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (21,28)]
  2.3011 /work/lpdi/databases/maps/r5/1r5p_A.pds [(19,28), (31,38)]
  2.3609 /work/lpdi/databases/maps/rh/3rhb_A.pds [(27,36), (38,45)]
  2.3894 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (24,31)]
  2.3936 /work/lpdi/databases/maps/b4/2b4a_A.pds [(62,71), (73,80)]
  2.4053 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (24,31)]
  2.4118 /work/lpdi/databases/maps/tt/1ttz_A.pds [(13,22), (25,32)]
  2.4274 /work/lpdi/databases/maps/rw/1rw1_A.pds [(13,22), (24,31)]
  2.4309 /work/lpdi/databases/maps/aa/1aaz_A.pds [(17,26), (28,35)]
  2.4565 /work/lpdi/databases/maps/tt/1ttz_A.pds [(35,44), (46,53)]
  2.4702 /work/lpdi/databases/maps/ht/2ht9_A.pds [(29,38), (40,47)]
  2.4741 /work/lpdi/databases/maps/h7/1h75_A.pds [(14,23), (25,32)]
   2.483 /work/lpdi/databases/maps/r5/1r5p_A.pds [(64,73), (80,87)]
  2.4939 /work/lpdi/databases/maps/fz/3fz4_A.pds [(15,24), (26,33)]
  2.4977 /work/lpdi/databases/maps/hs/4hs1_A.pds [(13,22), (24,31)]
   2.522 /work/lpdi/databases/maps/eo/3eod_A.pds [(83,92), (95,102)]
  2.5295 /work/lpdi/databases/maps/y8/1y81_A.pds [(17,26), (28,35)]
   2.548 /work/lpdi/databases/maps/hz/3hz4_A.pds [(40,49), (53,60)]
  2.5544 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (22,29)]
  2.5642 /work/lpdi/databases/maps/y8/1y81_A.pds [(69,78), (81,88)]
  2.5783 /work/lpdi/databases/maps/h7/3h79_A.pds [(43,52), (56,63)]
  2.5812 /work/lpdi/databases/maps/xg/1xg8_A.pds [(32,41), (45,52)]
  2.6023 /work/lpdi/databases/maps/z3/1z3e_A.pds [(14,23), (25,32)]
   2.605 /work/lpdi/databases/maps/f5/2f51_A.pds [(11,20), (23,30)]
   2.607 /work/lpdi/databases/maps/r5/1r5p_A.pds [(19,28), (32,39)]
   2.615 /work/lpdi/databases/maps/wo/1wou_A.pds [(8,17), (21,28)]
  2.6264 /work/lpdi/databases/maps/y8/1y81_A.pds [(92,101), (103,110)]
  2.6362 /work/lpdi/databases/maps/d2/3d21_A.pds [(42,51), (54,61)]
  2.6372 /work/lpdi/databases/maps/rd/3rdw_A.pds [(13,22), (25,32)]
  2.6378 /work/lpdi/databases/maps/r5/1r5p_A.pds [(64,73), (79,86)]
  2.6379 /work/lpdi/databases/maps/eo/3eod_A.pds [(14,23), (30,37)]
  2.6465 /work/lpdi/databases/maps/vf/3vfi_A.pds [(36,45), (49,56)]
  2.6507 /work/lpdi/databases/maps/wz/2wz9_A.pds [(36,45), (52,59)]
  2.6545 /work/lpdi/databases/maps/l4/3l4n_A.pds [(3,12), (15,22)]
  2.6684 /work/lpdi/databases/maps/r4/2r48_A.pds [(21,30), (32,39)]
  2.6716 /work/lpdi/databases/maps/tt/1ttz_A.pds [(13,22), (24,31)]
  2.6741 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (23,30)]
  2.6756 /work/lpdi/databases/maps/r5/1r5p_A.pds [(67,76), (79,86)]
  2.6921 /work/lpdi/databases/maps/b4/2b4a_A.pds [(62,71), (74,81)]
   2.693 /work/lpdi/databases/maps/gm/1gmx_A.pds [(44,53), (56,63)]
  2.6974 /work/lpdi/databases/maps/r5/1r5p_A.pds [(67,76), (78,85)]
  2.7143 /work/lpdi/databases/maps/wo/1wou_A.pds [(47,56), (60,67)]
  2.7286 /work/lpdi/databases/maps/wo/1wou_A.pds [(8,17), (23,30)]
  2.7453 /work/lpdi/databases/maps/f5/2f51_A.pds [(41,50), (53,60)]
