 0.92241 /work/lpdi/databases/maps/nj/1njh_A.pds [(83,90), (93,100)]
  1.0049 /work/lpdi/databases/maps/xc/2xcm_C.pds [(34,41), (47,54)]
  1.0749 /work/lpdi/databases/maps/ze/1ze3_D.pds [(89,96), (99,106)]
    1.09 /work/lpdi/databases/maps/no/4nob_A.pds [(62,69), (72,79)]
  1.1215 /work/lpdi/databases/maps/hk/1hkf_A.pds [(57,64), (67,74)]
  1.1272 /work/lpdi/databases/maps/xe/1xed_A.pds [(56,63), (66,73)]
  1.1638 /work/lpdi/databases/maps/zc/1zc4_B.pds [(32,39), (44,51)]
  1.1986 /work/lpdi/databases/maps/b8/2b8m_A.pds [(14,21), (27,34)]
  1.2053 /work/lpdi/databases/maps/xc/2xcm_C.pds [(36,43), (45,52)]
  1.2262 /work/lpdi/databases/maps/sm/1smo_A.pds [(63,70), (73,80)]
   1.243 /work/lpdi/databases/maps/nm/2nms_A.pds [(61,68), (71,78)]
  1.2558 /work/lpdi/databases/maps/rj/1rjl_C.pds [(7,14), (20,27)]
  1.2793 /work/lpdi/databases/maps/ib/1iby_A.pds [(57,64), (67,74)]
  1.2815 /work/lpdi/databases/maps/q8/2q87_A.pds [(55,62), (65,72)]
  1.3231 /work/lpdi/databases/maps/e7/2e7d_A.pds [(89,96), (99,106)]
  1.3681 /work/lpdi/databases/maps/fh/1fhg_A.pds [(53,60), (62,69)]
  1.3729 /work/lpdi/databases/maps/ox/2ox5_A.pds [(86,93), (95,102)]
  1.3777 /work/lpdi/databases/maps/u5/1u5d_A.pds [(70,77), (79,86)]
   1.383 /work/lpdi/databases/maps/ft/3ft1_A.pds [(64,71), (73,80)]
  1.4168 /work/lpdi/databases/maps/jp/1jpe_A.pds [(7,14), (19,26)]
  1.4237 /work/lpdi/databases/maps/rj/1rjl_C.pds [(9,16), (18,25)]
  1.4603 /work/lpdi/databases/maps/v6/2v6h_A.pds [(53,60), (63,70)]
  1.5002 /work/lpdi/databases/maps/ne/1neu_A.pds [(68,75), (78,85)]
  1.5025 /work/lpdi/databases/maps/nc/1nc7_A.pds [(91,98), (103,110)]
   1.511 /work/lpdi/databases/maps/v8/1v8h_A.pds [(45,52), (58,65)]
  1.5132 /work/lpdi/databases/maps/v8/1v8h_A.pds [(83,90), (96,103)]
  1.5379 /work/lpdi/databases/maps/u5/1u5g_A.pds [(80,87), (89,96)]
  1.5483 /work/lpdi/databases/maps/sy/3syx_A.pds [(69,76), (78,85)]
  1.5646 /work/lpdi/databases/maps/j1/2j12_B.pds [(97,104), (109,116)]
  1.5793 /work/lpdi/databases/maps/n5/4n5u_A.pds [(40,47), (52,59)]
  1.5801 /work/lpdi/databases/maps/v8/1v8h_A.pds [(85,92), (94,101)]
  1.5874 /work/lpdi/databases/maps/nj/1njh_A.pds [(22,29), (35,42)]
  1.5904 /work/lpdi/databases/maps/rc/3rcp_A.pds [(55,62), (64,71)]
  1.6034 /work/lpdi/databases/maps/b8/2b8m_A.pds [(16,23), (25,32)]
  1.6087 /work/lpdi/databases/maps/qp/3qp3_A.pds [(76,83), (88,95)]
  1.6196 /work/lpdi/databases/maps/n5/4n5u_A.pds [(10,17), (19,26)]
  1.6229 /work/lpdi/databases/maps/ww/1wwa_X.pds [(75,82), (87,94)]
  1.6429 /work/lpdi/databases/maps/ox/2ox5_A.pds [(84,91), (97,104)]
  1.6551 /work/lpdi/databases/maps/he/1he7_A.pds [(75,82), (87,94)]
  1.6573 /work/lpdi/databases/maps/im/1im3_D.pds [(4,11), (16,23)]
  1.6602 /work/lpdi/databases/maps/cd/4cdd_A.pds [(56,63), (65,72)]
  1.6624 /work/lpdi/databases/maps/iu/1iu1_A.pds [(91,98), (103,110)]
  1.6688 /work/lpdi/databases/maps/rg/3rgh_A.pds [(50,57), (59,66)]
  1.6864 /work/lpdi/databases/maps/ej/1ejf_A.pds [(35,42), (45,52)]
  1.6942 /work/lpdi/databases/maps/ox/2ox5_A.pds [(46,53), (59,66)]
  1.6983 /work/lpdi/databases/maps/o5/1o5u_A.pds [(44,51), (53,60)]
  1.6992 /work/lpdi/databases/maps/hd/1hdf_A.pds [(55,62), (67,74)]
  1.7055 /work/lpdi/databases/maps/fh/1fhg_A.pds [(77,84), (89,96)]
  1.7182 /work/lpdi/databases/maps/gd/4gd9_A.pds [(97,104), (110,117)]
  1.7232 /work/lpdi/databases/maps/ma/1mai_A.pds [(83,90), (93,100)]
  1.7322 /work/lpdi/databases/maps/yh/1yhf_A.pds [(26,33), (39,46)]
  1.7334 /work/lpdi/databases/maps/oz/2ozj_A.pds [(24,31), (37,44)]
  1.7339 /work/lpdi/databases/maps/p9/2p9r_A.pds [(77,84), (86,93)]
  1.7359 /work/lpdi/databases/maps/io/4ios_A.pds [(10,17), (22,29)]
   1.736 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (32,39)]
  1.7467 /work/lpdi/databases/maps/qo/3qor_A.pds [(75,82), (84,91)]
  1.7506 /work/lpdi/databases/maps/ww/1wwc_A.pds [(74,81), (86,93)]
  1.7535 /work/lpdi/databases/maps/r7/1r75_A.pds [(21,28), (31,38)]
  1.7555 /work/lpdi/databases/maps/nq/2nqc_A.pds [(45,52), (57,64)]
  1.7571 /work/lpdi/databases/maps/dj/3dj9_A.pds [(83,90), (93,100)]
