  1.2799 /work/lpdi/databases/maps/ku/4kun_A.pds [(16,28), (36,43)]
  1.7055 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (32,39)]
  1.7478 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (51,58)]
  1.7646 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (22,29)]
  1.7822 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (53,60)]
  1.8338 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (48,55)]
  1.8848 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (20,27)]
  1.9198 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (59,66)]
  1.9624 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (52,59)]
  1.9779 /work/lpdi/databases/maps/ku/4kun_A.pds [(16,28), (35,42)]
  1.9848 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (60,67)]
  1.9895 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (60,67)]
  2.0146 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (20,27)]
  2.0165 /work/lpdi/databases/maps/wo/1wou_A.pds [(44,56), (59,66)]
  2.0284 /work/lpdi/databases/maps/wo/1wou_A.pds [(41,53), (61,68)]
  2.0347 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (53,60)]
  2.0637 /work/lpdi/databases/maps/wo/1wou_A.pds [(45,57), (59,66)]
  2.0643 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (49,56)]
  2.0671 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (40,47)]
  2.0894 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (53,60)]
  2.1162 /work/lpdi/databases/maps/f5/2f51_A.pds [(35,47), (52,59)]
  2.1532 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (46,53)]
   2.159 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (21,28)]
  2.1741 /work/lpdi/databases/maps/f5/2f51_A.pds [(8,20), (22,29)]
  2.1831 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (45,52)]
  2.1899 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (23,30)]
  2.1926 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (31,38)]
  2.2302 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (54,61)]
   2.235 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (61,68)]
  2.2386 /work/lpdi/databases/maps/hz/3hz4_A.pds [(34,46), (54,61)]
   2.268 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (21,28)]
  2.2777 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (52,59)]
  2.3065 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (39,46)]
   2.309 /work/lpdi/databases/maps/f5/2f51_A.pds [(8,20), (23,30)]
  2.3176 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (54,61)]
  2.3375 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (50,57)]
  2.3644 /work/lpdi/databases/maps/wo/1wou_A.pds [(44,56), (58,65)]
  2.3684 /work/lpdi/databases/maps/r5/1r5p_A.pds [(13,25), (33,40)]
  2.3758 /work/lpdi/databases/maps/f3/1f37_A.pds [(25,37), (45,52)]
  2.3774 /work/lpdi/databases/maps/xg/1xg8_A.pds [(26,38), (44,51)]
  2.3921 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (55,62)]
  2.3929 /work/lpdi/databases/maps/xg/1xg8_A.pds [(30,42), (44,51)]
   2.401 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (50,57)]
   2.402 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (24,31)]
  2.4119 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (21,28)]
  2.4131 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (22,29)]
  2.4146 /work/lpdi/databases/maps/gn/3gnj_A.pds [(35,47), (52,59)]
  2.4317 /work/lpdi/databases/maps/oj/2ojl_A.pds [(14,26), (33,40)]
  2.4515 /work/lpdi/databases/maps/r4/2r48_A.pds [(15,27), (31,38)]
   2.457 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (62,69)]
  2.4619 /work/lpdi/databases/maps/vf/3vfi_A.pds [(30,42), (47,54)]
  2.4671 /work/lpdi/databases/maps/h7/3h79_A.pds [(37,49), (57,64)]
  2.4684 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (22,29)]
   2.476 /work/lpdi/databases/maps/f5/2f51_A.pds [(35,47), (53,60)]
  2.4834 /work/lpdi/databases/maps/y8/1y81_A.pds [(63,75), (80,87)]
  2.4905 /work/lpdi/databases/maps/h7/3h79_A.pds [(37,49), (56,63)]
  2.4964 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (41,48)]
  2.5075 /work/lpdi/databases/maps/oj/2ojl_A.pds [(17,29), (32,39)]
  2.5133 /work/lpdi/databases/maps/hx/3hxs_A.pds [(42,54), (59,66)]
   2.518 /work/lpdi/databases/maps/hz/3hz4_A.pds [(37,49), (52,59)]
