  1.2759 /work/lpdi/databases/maps/r5/1r5p_A.pds [(17,29), (32,39)]
   1.387 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (53,60)]
  1.4396 /work/lpdi/databases/maps/b4/2b4a_A.pds [(60,72), (74,81)]
  1.4783 /work/lpdi/databases/maps/wc/2wci_A.pds [(31,43), (45,52)]
  1.5826 /work/lpdi/databases/maps/ku/4kun_A.pds [(20,32), (36,43)]
  1.6006 /work/lpdi/databases/maps/tt/1ttz_A.pds [(11,23), (25,32)]
  1.6265 /work/lpdi/databases/maps/xg/1xg8_A.pds [(30,42), (46,53)]
   1.642 /work/lpdi/databases/maps/fz/3fz4_A.pds [(13,25), (27,34)]
  1.6607 /work/lpdi/databases/maps/ht/2ht9_A.pds [(27,39), (41,48)]
   1.668 /work/lpdi/databases/maps/ii/1iib_A.pds [(16,28), (30,37)]
  1.6866 /work/lpdi/databases/maps/tt/1ttz_A.pds [(11,23), (26,33)]
  1.7023 /work/lpdi/databases/maps/rd/3rdw_A.pds [(11,23), (25,32)]
  1.7061 /work/lpdi/databases/maps/xg/1xg8_A.pds [(30,42), (45,52)]
  1.7236 /work/lpdi/databases/maps/z3/1z3e_A.pds [(12,24), (26,33)]
  1.7295 /work/lpdi/databases/maps/aa/1aaz_A.pds [(15,27), (29,36)]
  1.7692 /work/lpdi/databases/maps/h7/3h79_A.pds [(41,53), (57,64)]
   1.784 /work/lpdi/databases/maps/y8/1y81_A.pds [(67,79), (81,88)]
  1.7893 /work/lpdi/databases/maps/xg/1xg8_A.pds [(27,39), (46,53)]
  1.7945 /work/lpdi/databases/maps/hs/4hs1_A.pds [(11,23), (25,32)]
  1.7961 /work/lpdi/databases/maps/r4/2r48_A.pds [(15,27), (33,40)]
  1.8131 /work/lpdi/databases/maps/h7/1h75_A.pds [(12,24), (26,33)]
  1.8258 /work/lpdi/databases/maps/rh/3rhb_A.pds [(25,37), (39,46)]
  1.8393 /work/lpdi/databases/maps/wo/1wou_A.pds [(6,18), (22,29)]
  1.8746 /work/lpdi/databases/maps/r4/2r48_A.pds [(19,31), (33,40)]
   1.882 /work/lpdi/databases/maps/f3/1f37_A.pds [(29,41), (46,53)]
  1.8824 /work/lpdi/databases/maps/wo/1wou_A.pds [(7,19), (22,29)]
    1.89 /work/lpdi/databases/maps/d2/3d21_A.pds [(36,48), (55,62)]
  1.8988 /work/lpdi/databases/maps/h7/3h79_A.pds [(38,50), (57,64)]
  1.9018 /work/lpdi/databases/maps/d2/3d21_A.pds [(6,18), (24,31)]
  1.9051 /work/lpdi/databases/maps/oj/2ojl_A.pds [(17,29), (33,40)]
  1.9184 /work/lpdi/databases/maps/b4/2b4a_A.pds [(10,22), (27,34)]
  1.9631 /work/lpdi/databases/maps/xg/1xg8_A.pds [(30,42), (44,51)]
  1.9669 /work/lpdi/databases/maps/wz/2wz9_A.pds [(6,18), (22,29)]
  1.9702 /work/lpdi/databases/maps/h7/3h79_A.pds [(41,53), (56,63)]
  1.9734 /work/lpdi/databases/maps/hx/3hxs_A.pds [(46,58), (60,67)]
  1.9823 /work/lpdi/databases/maps/r4/2r48_A.pds [(15,27), (34,41)]
  1.9867 /work/lpdi/databases/maps/vf/3vfi_A.pds [(34,46), (48,55)]
  1.9902 /work/lpdi/databases/maps/ii/1iib_A.pds [(13,25), (30,37)]
  1.9929 /work/lpdi/databases/maps/rw/1rw1_A.pds [(11,23), (25,32)]
  1.9947 /work/lpdi/databases/maps/b4/2b4a_A.pds [(60,72), (75,82)]
  1.9974 /work/lpdi/databases/maps/gn/3gnj_A.pds [(39,51), (53,60)]
  1.9978 /work/lpdi/databases/maps/f5/2f51_A.pds [(35,47), (54,61)]
  2.0057 /work/lpdi/databases/maps/wo/1wou_A.pds [(45,57), (59,66)]
  2.0165 /work/lpdi/databases/maps/oj/2ojl_A.pds [(18,30), (33,40)]
  2.0267 /work/lpdi/databases/maps/b4/2b4a_A.pds [(13,25), (27,34)]
  2.0427 /work/lpdi/databases/maps/r4/2r48_A.pds [(16,28), (33,40)]
   2.052 /work/lpdi/databases/maps/oj/2ojl_A.pds [(17,29), (34,41)]
  2.0522 /work/lpdi/databases/maps/r5/1r5p_A.pds [(14,26), (33,40)]
  2.0548 /work/lpdi/databases/maps/y8/1y81_A.pds [(64,76), (81,88)]
  2.0576 /work/lpdi/databases/maps/r5/1r5p_A.pds [(17,29), (31,38)]
  2.0629 /work/lpdi/databases/maps/ii/1iib_A.pds [(12,24), (31,38)]
  2.0671 /work/lpdi/databases/maps/f3/1f37_A.pds [(29,41), (45,52)]
   2.069 /work/lpdi/databases/maps/eo/3eod_A.pds [(57,69), (71,78)]
  2.0737 /work/lpdi/databases/maps/eo/3eod_A.pds [(13,25), (30,37)]
  2.0752 /work/lpdi/databases/maps/gm/1gmx_A.pds [(68,80), (82,89)]
  2.0846 /work/lpdi/databases/maps/l4/3l4n_A.pds [(25,37), (42,49)]
  2.1033 /work/lpdi/databases/maps/wz/2wz9_A.pds [(34,46), (52,59)]
   2.122 /work/lpdi/databases/maps/ii/1iib_A.pds [(12,24), (30,37)]
  2.1446 /work/lpdi/databases/maps/eo/3eod_A.pds [(16,28), (30,37)]
  2.1459 /work/lpdi/databases/maps/hz/3hz4_A.pds [(38,50), (53,60)]
