  1.2822 /work/lpdi/databases/maps/ib/1iby_A.pds [(66,73), (76,83)]
  1.4692 /work/lpdi/databases/maps/j1/2j12_B.pds [(6,13), (16,23)]
  1.5352 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (11,18)]
  1.5702 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,16), (19,26)]
  1.6493 /work/lpdi/databases/maps/n0/1n0l_B.pds [(6,13), (20,27)]
   1.669 /work/lpdi/databases/maps/pm/1pm4_A.pds [(31,38), (42,49)]
  1.7025 /work/lpdi/databases/maps/g1/1g1c_A.pds [(9,16), (19,26)]
  1.7055 /work/lpdi/databases/maps/v6/2v6h_A.pds [(9,16), (19,26)]
  1.7153 /work/lpdi/databases/maps/gi/3gin_A.pds [(55,62), (66,73)]
  1.7232 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (55,62)]
  1.7233 /work/lpdi/databases/maps/ou/3oug_A.pds [(85,92), (96,103)]
   1.725 /work/lpdi/databases/maps/fh/1fhg_A.pds [(13,20), (23,30)]
  1.7254 /work/lpdi/databases/maps/qp/3qp3_A.pds [(13,20), (23,30)]
  1.7549 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (12,19)]
  1.7766 /work/lpdi/databases/maps/jv/4jvu_A.pds [(75,82), (86,93)]
  1.7811 /work/lpdi/databases/maps/rj/1rjl_C.pds [(19,26), (33,40)]
  1.7898 /work/lpdi/databases/maps/jv/4jvw_A.pds [(70,77), (81,88)]
  1.8252 /work/lpdi/databases/maps/xa/1xau_A.pds [(8,15), (18,25)]
  1.8398 /work/lpdi/databases/maps/r7/1r75_A.pds [(70,77), (80,87)]
  1.8458 /work/lpdi/databases/maps/ea/3ead_A.pds [(52,59), (63,70)]
  1.8575 /work/lpdi/databases/maps/dj/3dj9_A.pds [(68,75), (79,86)]
  1.8605 /work/lpdi/databases/maps/ib/1iby_A.pds [(35,42), (45,52)]
  1.8808 /work/lpdi/databases/maps/bo/3bov_A.pds [(6,13), (16,23)]
   1.882 /work/lpdi/databases/maps/xe/1xed_A.pds [(4,11), (14,21)]
  1.8875 /work/lpdi/databases/maps/q8/2q87_A.pds [(2,9), (11,18)]
  1.8879 /work/lpdi/databases/maps/ne/1neu_A.pds [(55,62), (67,74)]
   1.888 /work/lpdi/databases/maps/nq/1nqd_A.pds [(22,29), (33,40)]
  1.8893 /work/lpdi/databases/maps/t3/3t30_A.pds [(1,8), (12,19)]
  1.8922 /work/lpdi/databases/maps/nq/1nqd_A.pds [(47,54), (57,64)]
   1.935 /work/lpdi/databases/maps/ib/1iby_A.pds [(67,74), (76,83)]
  1.9449 /work/lpdi/databases/maps/sm/1smo_A.pds [(4,11), (14,21)]
  1.9484 /work/lpdi/databases/maps/jq/3jqw_A.pds [(23,30), (34,41)]
  1.9545 /work/lpdi/databases/maps/gi/3gin_A.pds [(7,14), (18,25)]
  1.9571 /work/lpdi/databases/maps/no/4nob_A.pds [(5,12), (15,22)]
  1.9642 /work/lpdi/databases/maps/jq/3jqw_A.pds [(48,55), (58,65)]
  1.9736 /work/lpdi/databases/maps/pm/1pm4_A.pds [(81,88), (93,100)]
  1.9764 /work/lpdi/databases/maps/sp/1spp_B.pds [(15,22), (29,36)]
  1.9812 /work/lpdi/databases/maps/nm/2nms_A.pds [(6,13), (16,23)]
  1.9813 /work/lpdi/databases/maps/or/2or8_A.pds [(16,23), (25,32)]
  1.9822 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (32,39)]
  1.9915 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (27,34)]
  2.0002 /work/lpdi/databases/maps/ea/3ead_A.pds [(5,12), (16,23)]
  2.0066 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (56,63)]
  2.0222 /work/lpdi/databases/maps/ne/1neu_A.pds [(4,11), (14,21)]
  2.0301 /work/lpdi/databases/maps/gi/2gim_A.pds [(59,66), (68,75)]
  2.0336 /work/lpdi/databases/maps/ea/3ead_A.pds [(50,57), (64,71)]
  2.0382 /work/lpdi/databases/maps/jp/1jpe_A.pds [(34,41), (44,51)]
  2.0599 /work/lpdi/databases/maps/gi/3gin_A.pds [(53,60), (67,74)]
  2.0631 /work/lpdi/databases/maps/g1/1g1c_A.pds [(8,15), (19,26)]
  2.0701 /work/lpdi/databases/maps/sp/1spp_B.pds [(15,22), (28,35)]
  2.0709 /work/lpdi/databases/maps/pt/1pt0_A.pds [(88,95), (100,107)]
  2.0724 /work/lpdi/databases/maps/pp/1ppy_A.pds [(85,92), (97,104)]
  2.0724 /work/lpdi/databases/maps/gi/3gin_A.pds [(8,15), (18,25)]
  2.0804 /work/lpdi/databases/maps/n0/1n0l_B.pds [(7,14), (20,27)]
  2.0862 /work/lpdi/databases/maps/gi/3gin_A.pds [(54,61), (66,73)]
  2.0881 /work/lpdi/databases/maps/go/4gos_A.pds [(5,12), (15,22)]
  2.0919 /work/lpdi/databases/maps/vn/2vnv_A.pds [(12,19), (23,30)]
  2.0951 /work/lpdi/databases/maps/vn/2vnv_A.pds [(36,43), (47,54)]
  2.1043 /work/lpdi/databases/maps/sp/1spp_B.pds [(67,74), (76,83)]
  2.1112 /work/lpdi/databases/maps/wa/1waa_A.pds [(8,15), (19,26)]
