  1.7532 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (36,52)]
  1.9582 /work/lpdi/databases/maps/ii/2iii_A.pds [(73,80), (83,99)]
  1.9924 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (36,52)]
  2.0194 /work/lpdi/databases/maps/pg/1pgx_A.pds [(18,25), (27,43)]
  2.0888 /work/lpdi/databases/maps/ii/2iii_A.pds [(74,81), (83,99)]
  2.2766 /work/lpdi/databases/maps/mg/1mg4_A.pds [(16,23), (29,45)]
  2.4007 /work/lpdi/databases/maps/mg/1mg4_A.pds [(15,22), (29,45)]
  2.4351 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (36,52)]
  2.4367 /work/lpdi/databases/maps/hz/1hz5_A.pds [(21,28), (36,52)]
  2.4539 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (32,48)]
  2.5065 /work/lpdi/databases/maps/vr/1vr7_A.pds [(5,12), (20,36)]
  2.5108 /work/lpdi/databases/maps/pg/1pgx_A.pds [(17,24), (27,43)]
   2.585 /work/lpdi/databases/maps/vr/1vr7_A.pds [(7,14), (20,36)]
  2.5862 /work/lpdi/databases/maps/mg/1mg4_A.pds [(17,24), (29,45)]
    2.59 /work/lpdi/databases/maps/h6/3h6n_A.pds [(16,23), (26,42)]
  2.5925 /work/lpdi/databases/maps/r2/2r2o_A.pds [(13,20), (23,39)]
  2.6111 /work/lpdi/databases/maps/ii/2iii_A.pds [(6,13), (21,37)]
  2.6202 /work/lpdi/databases/maps/t0/1t0q_C.pds [(13,20), (23,39)]
  2.6543 /work/lpdi/databases/maps/vr/1vr7_A.pds [(6,13), (20,36)]
  2.6979 /work/lpdi/databases/maps/h6/3h6n_A.pds [(15,22), (26,42)]
   2.704 /work/lpdi/databases/maps/vr/1vr7_A.pds [(73,80), (83,99)]
  2.7135 /work/lpdi/databases/maps/t0/1t0q_C.pds [(12,19), (23,39)]
  2.7485 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (35,51)]
    2.75 /work/lpdi/databases/maps/r2/2r2o_A.pds [(12,19), (23,39)]
  2.7575 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (35,51)]
  2.7595 /work/lpdi/databases/maps/vr/1vr7_A.pds [(74,81), (83,99)]
   2.792 /work/lpdi/databases/maps/r2/2r2o_A.pds [(14,21), (23,39)]
  2.8363 /work/lpdi/databases/maps/h6/3h6n_A.pds [(17,24), (26,42)]
  2.8539 /work/lpdi/databases/maps/re/2rex_A.pds [(20,27), (30,46)]
  2.8574 /work/lpdi/databases/maps/mg/1mg4_A.pds [(14,21), (29,45)]
  2.8655 /work/lpdi/databases/maps/vr/1vr7_A.pds [(8,15), (20,36)]
  2.8684 /work/lpdi/databases/maps/t0/1t0q_C.pds [(14,21), (23,39)]
  2.8949 /work/lpdi/databases/maps/ii/2iii_A.pds [(7,14), (21,37)]
  2.9083 /work/lpdi/databases/maps/ny/3ny5_A.pds [(13,20), (22,38)]
  2.9168 /work/lpdi/databases/maps/ii/2iii_A.pds [(72,79), (83,99)]
  2.9176 /work/lpdi/databases/maps/re/2rex_A.pds [(21,28), (30,46)]
  2.9355 /work/lpdi/databases/maps/np/2npt_A.pds [(23,30), (32,48)]
  2.9438 /work/lpdi/databases/maps/np/2npt_A.pds [(22,29), (32,48)]
  2.9484 /work/lpdi/databases/maps/vr/1vr7_A.pds [(9,16), (20,36)]
  2.9913 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (35,51)]
  2.9928 /work/lpdi/databases/maps/pk/2pko_A.pds [(18,25), (32,48)]
  2.9987 /work/lpdi/databases/maps/c5/2c5l_C.pds [(16,23), (26,42)]
  3.0119 /work/lpdi/databases/maps/pg/1pgx_A.pds [(16,23), (27,43)]
  3.0123 /work/lpdi/databases/maps/c5/2c5l_C.pds [(15,22), (26,42)]
  3.0125 /work/lpdi/databases/maps/t0/1t0q_C.pds [(11,18), (23,39)]
  3.0172 /work/lpdi/databases/maps/ii/2iii_A.pds [(8,15), (21,37)]
  3.0455 /work/lpdi/databases/maps/re/2rex_A.pds [(19,26), (30,46)]
  3.0466 /work/lpdi/databases/maps/w1/3w1y_A.pds [(49,56), (61,77)]
  3.0539 /work/lpdi/databases/maps/h6/3h6n_A.pds [(14,21), (26,42)]
  3.0659 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (33,49)]
  3.0664 /work/lpdi/databases/maps/np/2npt_A.pds [(21,28), (33,49)]
  3.0911 /work/lpdi/databases/maps/pk/2pko_A.pds [(17,24), (32,48)]
  3.0998 /work/lpdi/databases/maps/c5/2c5l_C.pds [(14,21), (26,42)]
  3.1159 /work/lpdi/databases/maps/np/2npt_A.pds [(21,28), (32,48)]
  3.1162 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (32,48)]
  3.1337 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (33,49)]
  3.1586 /work/lpdi/databases/maps/np/2npt_A.pds [(22,29), (33,49)]
  3.1667 /work/lpdi/databases/maps/bk/2bkf_A.pds [(15,22), (24,40)]
  3.1761 /work/lpdi/databases/maps/fm/1fm0_D.pds [(15,22), (26,42)]
  3.1844 /work/lpdi/databases/maps/l4/1l4d_B.pds [(23,30), (35,51)]
