  1.0585 /work/lpdi/databases/maps/bb/2bbe_A.pds [(10,17), (22,31)]
  1.0739 /work/lpdi/databases/maps/of/1ofu_X.pds [(58,65), (71,80)]
  1.1446 /work/lpdi/databases/maps/y0/1y0h_A.pds [(7,14), (19,28)]
   1.167 /work/lpdi/databases/maps/x7/1x7v_A.pds [(7,14), (19,28)]
  1.1843 /work/lpdi/databases/maps/i5/2i5r_A.pds [(51,58), (64,73)]
  1.2221 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (11,20)]
  1.2442 /work/lpdi/databases/maps/nu/2nuh_A.pds [(53,60), (65,74)]
  1.2811 /work/lpdi/databases/maps/pd/2pd1_A.pds [(7,14), (19,28)]
  1.3425 /work/lpdi/databases/maps/h9/2h9u_A.pds [(31,38), (43,52)]
  1.3446 /work/lpdi/databases/maps/df/3dfe_A.pds [(40,47), (49,58)]
  1.3656 /work/lpdi/databases/maps/ng/3ngk_A.pds [(1,8), (14,23)]
  1.3811 /work/lpdi/databases/maps/h0/1h0x_A.pds [(26,33), (38,47)]
  1.3909 /work/lpdi/databases/maps/gs/3gsd_A.pds [(54,61), (66,75)]
  1.4014 /work/lpdi/databases/maps/ew/2ewh_A.pds [(2,9), (15,24)]
  1.4259 /work/lpdi/databases/maps/cz/2czv_C.pds [(63,70), (75,84)]
  1.4509 /work/lpdi/databases/maps/p2/2p2r_A.pds [(47,54), (59,68)]
   1.451 /work/lpdi/databases/maps/ss/3ssq_A.pds [(3,10), (16,25)]
  1.4778 /work/lpdi/databases/maps/om/2omo_A.pds [(10,17), (22,31)]
  1.4831 /work/lpdi/databases/maps/p5/2p5m_A.pds [(58,65), (71,80)]
  1.4983 /work/lpdi/databases/maps/od/2od4_A.pds [(11,18), (24,33)]
  1.5007 /work/lpdi/databases/maps/a1/2a10_A.pds [(2,9), (15,24)]
  1.5043 /work/lpdi/databases/maps/o6/2o66_A.pds [(53,60), (65,74)]
  1.5055 /work/lpdi/databases/maps/ec/1ec6_A.pds [(50,57), (62,71)]
  1.5109 /work/lpdi/databases/maps/b4/1b4b_A.pds [(13,20), (25,34)]
  1.5212 /work/lpdi/databases/maps/le/3le5_A.pds [(58,65), (70,79)]
  1.5237 /work/lpdi/databases/maps/ec/1ec6_A.pds [(49,56), (62,71)]
  1.5266 /work/lpdi/databases/maps/df/3dfe_A.pds [(4,11), (16,25)]
   1.529 /work/lpdi/databases/maps/oz/4ozj_A.pds [(50,57), (62,71)]
  1.5295 /work/lpdi/databases/maps/ex/3exc_X.pds [(2,9), (11,20)]
  1.5314 /work/lpdi/databases/maps/j5/2j5a_A.pds [(64,71), (73,82)]
  1.5373 /work/lpdi/databases/maps/p7/4p7v_A.pds [(1,8), (10,19)]
  1.5436 /work/lpdi/databases/maps/cz/2cz4_A.pds [(6,13), (18,27)]
  1.5464 /work/lpdi/databases/maps/vk/3vke_A.pds [(45,52), (57,66)]
   1.556 /work/lpdi/databases/maps/cc/1cc7_A.pds [(5,12), (14,23)]
  1.5577 /work/lpdi/databases/maps/f2/4f25_A.pds [(41,48), (50,59)]
  1.5587 /work/lpdi/databases/maps/dh/3dhh_E.pds [(10,17), (23,32)]
  1.5611 /work/lpdi/databases/maps/t6/1t6t_1.pds [(58,65), (71,80)]
  1.5621 /work/lpdi/databases/maps/x1/2x1a_A.pds [(45,52), (54,63)]
  1.5635 /work/lpdi/databases/maps/pd/2pd1_A.pds [(51,58), (60,69)]
  1.5686 /work/lpdi/databases/maps/n9/3n9u_C.pds [(44,51), (53,62)]
  1.5729 /work/lpdi/databases/maps/up/3ups_A.pds [(35,42), (48,57)]
  1.5797 /work/lpdi/databases/maps/j6/2j6b_A.pds [(36,43), (45,54)]
  1.5858 /work/lpdi/databases/maps/dt/1dtj_A.pds [(49,56), (62,71)]
  1.5899 /work/lpdi/databases/maps/ng/3ngk_A.pds [(1,8), (10,19)]
  1.5911 /work/lpdi/databases/maps/a1/2a10_A.pds [(2,9), (11,20)]
  1.5911 /work/lpdi/databases/maps/ew/2ewh_A.pds [(40,47), (52,61)]
  1.5923 /work/lpdi/databases/maps/py/1pyt_A.pds [(7,14), (16,25)]
  1.5948 /work/lpdi/databases/maps/i8/2i8e_A.pds [(3,10), (12,21)]
  1.5972 /work/lpdi/databases/maps/ew/2ewh_A.pds [(2,9), (11,20)]
  1.6052 /work/lpdi/databases/maps/h6/1h6k_X.pds [(40,47), (49,58)]
  1.6055 /work/lpdi/databases/maps/p2/2p2r_A.pds [(46,53), (59,68)]
  1.6142 /work/lpdi/databases/maps/a1/2a10_A.pds [(40,47), (52,61)]
  1.6146 /work/lpdi/databases/maps/zf/2zfh_A.pds [(58,65), (70,79)]
  1.6166 /work/lpdi/databases/maps/nu/2nuh_A.pds [(3,10), (12,21)]
  1.6221 /work/lpdi/databases/maps/iu/1iuj_A.pds [(3,10), (15,24)]
  1.6223 /work/lpdi/databases/maps/b4/1b4b_A.pds [(47,54), (60,69)]
  1.6232 /work/lpdi/databases/maps/pe/2peb_A.pds [(9,16), (20,29)]
  1.6248 /work/lpdi/databases/maps/dt/1dtj_A.pds [(50,57), (62,71)]
   1.634 /work/lpdi/databases/maps/vm/1vm0_A.pds [(28,35), (39,48)]
  1.6342 /work/lpdi/databases/maps/j9/2j9c_A.pds [(60,67), (72,81)]
