  1.4528 /work/lpdi/databases/maps/ti/1tid_B.pds [(47,54), (58,74)]
  1.6675 /work/lpdi/databases/maps/fh/2fhz_A.pds [(63,70), (76,92)]
   1.691 /work/lpdi/databases/maps/fh/2fhz_A.pds [(64,71), (76,92)]
  1.8049 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (14,30)]
  1.8223 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,30)]
   1.881 /work/lpdi/databases/maps/vm/1vm0_A.pds [(1,8), (12,28)]
   1.897 /work/lpdi/databases/maps/fh/2fhz_A.pds [(62,69), (76,92)]
  1.9077 /work/lpdi/databases/maps/l1/1l1s_A.pds [(2,9), (14,30)]
  1.9383 /work/lpdi/databases/maps/l1/1l1s_A.pds [(1,8), (14,30)]
  1.9446 /work/lpdi/databases/maps/vc/1vc1_A.pds [(45,52), (60,76)]
  1.9651 /work/lpdi/databases/maps/ti/1tid_B.pds [(15,22), (28,44)]
  1.9731 /work/lpdi/databases/maps/ha/4has_A.pds [(55,62), (69,85)]
  1.9952 /work/lpdi/databases/maps/h4/1h4x_A.pds [(42,49), (52,68)]
   2.004 /work/lpdi/databases/maps/d1/2d1p_B.pds [(2,9), (16,32)]
  2.0217 /work/lpdi/databases/maps/ar/2ar5_A.pds [(63,70), (79,95)]
  2.0254 /work/lpdi/databases/maps/nb/1nbw_B.pds [(2,9), (13,29)]
  2.0277 /work/lpdi/databases/maps/sv/1svy_A.pds [(39,46), (49,65)]
  2.0485 /work/lpdi/databases/maps/h4/1h4x_A.pds [(9,16), (23,39)]
  2.0523 /work/lpdi/databases/maps/vc/1vc1_A.pds [(45,52), (56,72)]
  2.0528 /work/lpdi/databases/maps/xt/1xtn_A.pds [(59,66), (75,91)]
  2.0594 /work/lpdi/databases/maps/sv/1svy_A.pds [(38,45), (52,68)]
  2.0703 /work/lpdi/databases/maps/id/2idl_A.pds [(68,75), (80,96)]
  2.0764 /work/lpdi/databases/maps/ha/4has_A.pds [(56,63), (65,81)]
  2.0813 /work/lpdi/databases/maps/od/2od0_A.pds [(74,81), (85,101)]
  2.0892 /work/lpdi/databases/maps/kc/1kcq_A.pds [(37,44), (47,63)]
  2.0927 /work/lpdi/databases/maps/xt/1xte_A.pds [(60,67), (76,92)]
  2.0954 /work/lpdi/databases/maps/vc/1vc1_A.pds [(14,21), (26,42)]
  2.1094 /work/lpdi/databases/maps/ti/1tid_B.pds [(48,55), (58,74)]
  2.1096 /work/lpdi/databases/maps/ar/2ar5_A.pds [(65,72), (75,91)]
    2.11 /work/lpdi/databases/maps/ti/1tig_A.pds [(2,9), (15,31)]
  2.1106 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (14,30)]
  2.1378 /work/lpdi/databases/maps/k3/1k3s_A.pds [(76,83), (85,101)]
  2.1394 /work/lpdi/databases/maps/h4/1h4x_A.pds [(10,17), (23,39)]
  2.1396 /work/lpdi/databases/maps/vc/1vc1_A.pds [(44,51), (60,76)]
  2.1428 /work/lpdi/databases/maps/ha/4has_A.pds [(54,61), (69,85)]
  2.1522 /work/lpdi/databases/maps/cx/2cx6_A.pds [(49,56), (65,81)]
  2.1579 /work/lpdi/databases/maps/vc/1vc1_A.pds [(13,20), (26,42)]
  2.1597 /work/lpdi/databases/maps/if/2ifx_A.pds [(61,68), (77,93)]
   2.177 /work/lpdi/databases/maps/od/2od0_A.pds [(73,80), (85,101)]
  2.1866 /work/lpdi/databases/maps/sv/1svy_A.pds [(37,44), (52,68)]
  2.2007 /work/lpdi/databases/maps/h4/1h4x_A.pds [(10,17), (19,35)]
  2.2019 /work/lpdi/databases/maps/h4/1h4x_A.pds [(8,15), (23,39)]
  2.2028 /work/lpdi/databases/maps/cx/2cx6_A.pds [(49,56), (64,80)]
  2.2264 /work/lpdi/databases/maps/h4/1h4x_A.pds [(10,17), (20,36)]
  2.2421 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (95,111)]
  2.2462 /work/lpdi/databases/maps/sv/1svy_A.pds [(39,46), (52,68)]
  2.2485 /work/lpdi/databases/maps/kc/1kcq_A.pds [(38,45), (47,63)]
  2.2876 /work/lpdi/databases/maps/ti/1tid_B.pds [(46,53), (58,74)]
     2.3 /work/lpdi/databases/maps/sv/1svy_A.pds [(40,47), (49,65)]
  2.3026 /work/lpdi/databases/maps/id/2idl_A.pds [(67,74), (80,96)]
  2.3051 /work/lpdi/databases/maps/ar/2ar5_A.pds [(64,71), (79,95)]
   2.306 /work/lpdi/databases/maps/cx/2cx6_A.pds [(50,57), (65,81)]
  2.3143 /work/lpdi/databases/maps/xt/1xtn_A.pds [(61,68), (71,87)]
  2.3177 /work/lpdi/databases/maps/vm/1vm0_A.pds [(2,9), (12,28)]
  2.3185 /work/lpdi/databases/maps/ha/4has_A.pds [(56,63), (69,85)]
  2.3206 /work/lpdi/databases/maps/k3/1k3s_A.pds [(75,82), (88,104)]
  2.3278 /work/lpdi/databases/maps/em/1em8_B.pds [(75,82), (86,102)]
  2.3284 /work/lpdi/databases/maps/rs/2rsl_A.pds [(52,59), (64,80)]
   2.335 /work/lpdi/databases/maps/vc/1vc1_A.pds [(46,53), (56,72)]
  2.3362 /work/lpdi/databases/maps/wc/2wci_A.pds [(77,84), (91,107)]
