  1.2386 /work/lpdi/databases/maps/wo/1wou_A.pds [(8,17), (21,28)]
  1.4286 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (21,28)]
   1.449 /work/lpdi/databases/maps/eo/3eod_A.pds [(14,23), (29,36)]
  1.4803 /work/lpdi/databases/maps/b4/2b4a_A.pds [(11,20), (26,33)]
  1.5106 /work/lpdi/databases/maps/wz/2wz9_A.pds [(36,45), (52,59)]
   1.525 /work/lpdi/databases/maps/r4/2r48_A.pds [(17,26), (32,39)]
  1.5543 /work/lpdi/databases/maps/vf/3vfi_A.pds [(32,41), (49,56)]
  1.5675 /work/lpdi/databases/maps/h7/3h79_A.pds [(43,52), (56,63)]
  1.5687 /work/lpdi/databases/maps/f3/1f37_A.pds [(31,40), (45,52)]
  1.5764 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (23,30)]
  1.5809 /work/lpdi/databases/maps/wc/2wci_A.pds [(33,42), (44,51)]
  1.5953 /work/lpdi/databases/maps/xg/1xg8_A.pds [(32,41), (44,51)]
  1.5998 /work/lpdi/databases/maps/oj/2ojl_A.pds [(19,28), (32,39)]
   1.617 /work/lpdi/databases/maps/f5/2f51_A.pds [(37,46), (53,60)]
  1.6273 /work/lpdi/databases/maps/xg/1xg8_A.pds [(32,41), (45,52)]
  1.6353 /work/lpdi/databases/maps/gn/3gnj_A.pds [(37,46), (54,61)]
   1.639 /work/lpdi/databases/maps/ku/4kun_A.pds [(22,31), (35,42)]
  1.6429 /work/lpdi/databases/maps/ii/1iib_A.pds [(14,23), (30,37)]
  1.6543 /work/lpdi/databases/maps/l4/3l4n_A.pds [(27,36), (41,48)]
  1.6657 /work/lpdi/databases/maps/y8/1y81_A.pds [(65,74), (81,88)]
  1.6894 /work/lpdi/databases/maps/xg/1xg8_A.pds [(28,37), (45,52)]
    1.69 /work/lpdi/databases/maps/gm/1gmx_A.pds [(67,76), (82,89)]
  1.6951 /work/lpdi/databases/maps/hx/3hxs_A.pds [(44,53), (61,68)]
  1.7066 /work/lpdi/databases/maps/b4/2b4a_A.pds [(62,71), (73,80)]
  1.7099 /work/lpdi/databases/maps/hz/3hz4_A.pds [(36,45), (53,60)]
  1.7224 /work/lpdi/databases/maps/wo/1wou_A.pds [(43,52), (60,67)]
  1.7229 /work/lpdi/databases/maps/d2/3d21_A.pds [(38,47), (54,61)]
  1.7269 /work/lpdi/databases/maps/tt/1ttz_A.pds [(9,18), (25,32)]
  1.7335 /work/lpdi/databases/maps/aa/1aaz_A.pds [(13,22), (28,35)]
  1.7454 /work/lpdi/databases/maps/r5/1r5p_A.pds [(19,28), (31,38)]
  1.7593 /work/lpdi/databases/maps/rh/3rhb_A.pds [(23,32), (38,45)]
  1.7632 /work/lpdi/databases/maps/ii/1iib_A.pds [(14,23), (29,36)]
  1.7735 /work/lpdi/databases/maps/wo/1wou_A.pds [(8,17), (22,29)]
  1.7959 /work/lpdi/databases/maps/h7/1h75_A.pds [(10,19), (25,32)]
  1.8054 /work/lpdi/databases/maps/tt/1ttz_A.pds [(9,18), (26,33)]
  1.8122 /work/lpdi/databases/maps/rw/1rw1_A.pds [(9,18), (24,31)]
  1.8177 /work/lpdi/databases/maps/ht/2ht9_A.pds [(25,34), (40,47)]
  1.8253 /work/lpdi/databases/maps/r5/1r5p_A.pds [(15,24), (32,39)]
  1.8561 /work/lpdi/databases/maps/hs/4hs1_A.pds [(9,18), (24,31)]
  1.8619 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (22,29)]
  1.8674 /work/lpdi/databases/maps/oj/2ojl_A.pds [(19,28), (33,40)]
  1.8674 /work/lpdi/databases/maps/wz/2wz9_A.pds [(36,45), (51,58)]
  1.8789 /work/lpdi/databases/maps/tt/1ttz_A.pds [(13,22), (25,32)]
  1.8845 /work/lpdi/databases/maps/ht/2ht9_A.pds [(29,38), (40,47)]
  1.8894 /work/lpdi/databases/maps/r4/2r48_A.pds [(17,26), (33,40)]
   1.893 /work/lpdi/databases/maps/h7/1h75_A.pds [(10,19), (26,33)]
  1.8964 /work/lpdi/databases/maps/l4/3l4n_A.pds [(27,36), (40,47)]
  1.9112 /work/lpdi/databases/maps/aa/1aaz_A.pds [(13,22), (29,36)]
  1.9367 /work/lpdi/databases/maps/z3/1z3e_A.pds [(10,19), (26,33)]
  1.9481 /work/lpdi/databases/maps/eo/3eod_A.pds [(59,68), (70,77)]
  1.9513 /work/lpdi/databases/maps/wc/2wci_A.pds [(29,38), (45,52)]
  1.9524 /work/lpdi/databases/maps/ku/4kun_A.pds [(21,30), (35,42)]
  1.9538 /work/lpdi/databases/maps/fz/3fz4_A.pds [(11,20), (27,34)]
  1.9685 /work/lpdi/databases/maps/b4/2b4a_A.pds [(12,21), (26,33)]
  1.9698 /work/lpdi/databases/maps/ht/2ht9_A.pds [(25,34), (41,48)]
  1.9712 /work/lpdi/databases/maps/xg/1xg8_A.pds [(32,41), (43,50)]
  1.9721 /work/lpdi/databases/maps/oj/2ojl_A.pds [(16,25), (33,40)]
  1.9743 /work/lpdi/databases/maps/ii/1iib_A.pds [(58,67), (70,77)]
  1.9758 /work/lpdi/databases/maps/hs/4hs1_A.pds [(9,18), (25,32)]
  1.9901 /work/lpdi/databases/maps/z3/1z3e_A.pds [(10,19), (25,32)]
