  1.5619 /work/lpdi/databases/maps/wh/1whz_A.pds [(36,43), (49,58)]
   1.684 /work/lpdi/databases/maps/qv/3qvg_B.pds [(14,21), (30,39)]
  1.7483 /work/lpdi/databases/maps/ti/1tid_B.pds [(46,53), (60,69)]
   1.824 /work/lpdi/databases/maps/s7/1s72_O.pds [(71,78), (82,91)]
  1.8902 /work/lpdi/databases/maps/xt/1xtn_A.pds [(60,67), (73,82)]
  1.9362 /work/lpdi/databases/maps/wf/2wfb_A.pds [(66,73), (77,86)]
  1.9485 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (83,92)]
  1.9795 /work/lpdi/databases/maps/xt/1xte_A.pds [(61,68), (74,83)]
    1.98 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (18,27)]
  1.9991 /work/lpdi/databases/maps/kc/1kcq_A.pds [(36,43), (52,61)]
  2.0063 /work/lpdi/databases/maps/ha/4has_A.pds [(56,63), (67,76)]
  2.0093 /work/lpdi/databases/maps/qv/3qvg_A.pds [(11,18), (25,34)]
  2.0256 /work/lpdi/databases/maps/ti/1tig_A.pds [(3,10), (13,22)]
  2.0314 /work/lpdi/databases/maps/wh/1whz_A.pds [(35,42), (49,58)]
  2.0344 /work/lpdi/databases/maps/h4/1h4x_A.pds [(41,48), (54,63)]
  2.0437 /work/lpdi/databases/maps/h4/1h4x_A.pds [(41,48), (57,66)]
  2.0759 /work/lpdi/databases/maps/qv/3qvg_B.pds [(15,22), (30,39)]
  2.0776 /work/lpdi/databases/maps/ha/4has_A.pds [(55,62), (70,79)]
  2.0793 /work/lpdi/databases/maps/h4/1h4x_A.pds [(9,16), (25,34)]
  2.0857 /work/lpdi/databases/maps/cy/2cyj_A.pds [(61,68), (77,86)]
  2.1242 /work/lpdi/databases/maps/of/1ofu_X.pds [(84,91), (95,104)]
  2.1254 /work/lpdi/databases/maps/sv/1svy_A.pds [(38,45), (54,63)]
  2.1284 /work/lpdi/databases/maps/ar/2ar5_A.pds [(64,71), (77,86)]
  2.1359 /work/lpdi/databases/maps/fh/2fhz_A.pds [(63,70), (78,87)]
  2.1395 /work/lpdi/databases/maps/ha/4has_A.pds [(55,62), (67,76)]
  2.1572 /work/lpdi/databases/maps/wh/1whz_A.pds [(37,44), (49,58)]
  2.1716 /work/lpdi/databases/maps/ti/1tig_A.pds [(1,8), (17,26)]
  2.1804 /work/lpdi/databases/maps/y8/1y81_A.pds [(79,86), (92,101)]
  2.2029 /work/lpdi/databases/maps/r5/1r5x_A.pds [(46,53), (60,69)]
  2.2147 /work/lpdi/databases/maps/kc/1kcq_A.pds [(38,45), (48,57)]
  2.2251 /work/lpdi/databases/maps/fi/2fi9_A.pds [(58,65), (74,83)]
  2.2369 /work/lpdi/databases/maps/fn/3fna_A.pds [(17,24), (27,36)]
  2.2627 /work/lpdi/databases/maps/l1/1l1s_A.pds [(1,8), (16,25)]
  2.2658 /work/lpdi/databases/maps/s7/1s72_O.pds [(72,79), (82,91)]
  2.2854 /work/lpdi/databases/maps/em/1em8_B.pds [(74,81), (88,97)]
  2.3014 /work/lpdi/databases/maps/wm/1wmh_B.pds [(13,20), (25,34)]
  2.3036 /work/lpdi/databases/maps/xt/1xtn_A.pds [(59,66), (73,82)]
  2.3037 /work/lpdi/databases/maps/tt/1ttz_A.pds [(53,60), (63,72)]
  2.3144 /work/lpdi/databases/maps/em/1em8_B.pds [(75,82), (88,97)]
  2.3241 /work/lpdi/databases/maps/io/2ioj_A.pds [(67,74), (81,90)]
  2.3309 /work/lpdi/databases/maps/sv/1svy_A.pds [(40,47), (50,59)]
   2.331 /work/lpdi/databases/maps/t1/1t1j_A.pds [(77,84), (91,100)]
  2.3377 /work/lpdi/databases/maps/fh/2fhz_A.pds [(63,70), (77,86)]
  2.3385 /work/lpdi/databases/maps/cx/2cx6_A.pds [(50,57), (66,75)]
   2.346 /work/lpdi/databases/maps/ti/1tid_B.pds [(47,54), (60,69)]
  2.3536 /work/lpdi/databases/maps/fi/2fi9_A.pds [(59,66), (74,83)]
  2.3559 /work/lpdi/databases/maps/r5/1r5x_A.pds [(45,52), (60,69)]
  2.3574 /work/lpdi/databases/maps/wf/2wfb_A.pds [(67,74), (77,86)]
  2.3582 /work/lpdi/databases/maps/o1/1o13_A.pds [(63,70), (74,83)]
    2.38 /work/lpdi/databases/maps/ti/1tid_B.pds [(14,21), (30,39)]
  2.3826 /work/lpdi/databases/maps/x9/2x9a_B.pds [(41,48), (56,65)]
  2.3877 /work/lpdi/databases/maps/k3/1k3s_A.pds [(76,83), (86,95)]
  2.4017 /work/lpdi/databases/maps/io/2ioj_A.pds [(45,52), (56,65)]
  2.4098 /work/lpdi/databases/maps/iu/1iu9_A.pds [(12,19), (28,37)]
  2.4117 /work/lpdi/databases/maps/ha/4has_A.pds [(54,61), (70,79)]
  2.4149 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (97,106)]
  2.4199 /work/lpdi/databases/maps/t1/1t1j_A.pds [(77,84), (90,99)]
   2.423 /work/lpdi/databases/maps/b4/2b4a_A.pds [(92,99), (102,111)]
  2.4233 /work/lpdi/databases/maps/tb/1tbu_A.pds [(10,17), (21,30)]
  2.4263 /work/lpdi/databases/maps/kc/1kcq_A.pds [(37,44), (48,57)]
