  1.2967 /work/lpdi/databases/maps/q8/2q87_A.pds [(2,6), (12,19)]
  1.4414 /work/lpdi/databases/maps/ib/1iby_A.pds [(67,71), (77,84)]
  1.5294 /work/lpdi/databases/maps/vn/2vnv_A.pds [(13,17), (23,30)]
   1.534 /work/lpdi/databases/maps/vn/2vnv_A.pds [(37,41), (46,53)]
  1.5484 /work/lpdi/databases/maps/rj/1rjl_C.pds [(21,25), (32,39)]
  1.5501 /work/lpdi/databases/maps/iu/1iu1_A.pds [(47,51), (54,61)]
  1.6301 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,13), (20,27)]
  1.6361 /work/lpdi/databases/maps/g1/1g1c_A.pds [(9,13), (20,27)]
  1.6407 /work/lpdi/databases/maps/bi/1bii_B.pds [(23,27), (33,40)]
  1.6419 /work/lpdi/databases/maps/xe/1xed_A.pds [(7,11), (13,20)]
  1.6593 /work/lpdi/databases/maps/ib/1iby_A.pds [(69,73), (75,82)]
  1.6647 /work/lpdi/databases/maps/pm/1pm4_A.pds [(32,36), (43,50)]
  1.6801 /work/lpdi/databases/maps/or/2or8_A.pds [(5,9), (11,18)]
  1.6881 /work/lpdi/databases/maps/v6/2v6h_A.pds [(9,13), (20,27)]
  1.6911 /work/lpdi/databases/maps/bo/3bov_A.pds [(9,13), (15,22)]
   1.695 /work/lpdi/databases/maps/q8/2q87_A.pds [(4,8), (10,17)]
  1.6977 /work/lpdi/databases/maps/oz/2ozj_A.pds [(17,21), (23,30)]
  1.6989 /work/lpdi/databases/maps/pm/1pm4_A.pds [(60,64), (66,73)]
  1.7069 /work/lpdi/databases/maps/no/4nob_A.pds [(8,12), (14,21)]
  1.7085 /work/lpdi/databases/maps/wa/1waa_A.pds [(12,16), (18,25)]
  1.7103 /work/lpdi/databases/maps/iu/1iu1_A.pds [(46,50), (56,63)]
  1.7128 /work/lpdi/databases/maps/qp/3qp3_A.pds [(13,17), (24,31)]
  1.7241 /work/lpdi/databases/maps/fh/1fhg_A.pds [(16,20), (22,29)]
  1.7331 /work/lpdi/databases/maps/j1/2j12_B.pds [(9,13), (15,22)]
  1.7374 /work/lpdi/databases/maps/gl/1gl4_B.pds [(9,13), (16,23)]
   1.739 /work/lpdi/databases/maps/g1/1g1c_A.pds [(11,15), (18,25)]
  1.7431 /work/lpdi/databases/maps/iu/1iu1_A.pds [(48,52), (54,61)]
  1.7433 /work/lpdi/databases/maps/p9/2p9r_A.pds [(49,53), (61,68)]
  1.7476 /work/lpdi/databases/maps/f7/1f7d_A.pds [(24,28), (30,37)]
  1.7502 /work/lpdi/databases/maps/r7/1r75_A.pds [(34,38), (41,48)]
  1.7548 /work/lpdi/databases/maps/fh/1fhg_A.pds [(13,17), (24,31)]
   1.757 /work/lpdi/databases/maps/nm/2nms_A.pds [(9,13), (15,22)]
  1.7632 /work/lpdi/databases/maps/v6/2v6h_A.pds [(12,16), (18,25)]
  1.7719 /work/lpdi/databases/maps/yh/1yhf_A.pds [(19,23), (25,32)]
  1.7746 /work/lpdi/databases/maps/vn/2vnv_A.pds [(37,41), (47,54)]
  1.7767 /work/lpdi/databases/maps/nc/1nc7_A.pds [(55,59), (61,68)]
  1.7827 /work/lpdi/databases/maps/v6/2v6h_A.pds [(11,15), (18,25)]
  1.7854 /work/lpdi/databases/maps/kh/3khq_A.pds [(8,12), (15,22)]
  1.7874 /work/lpdi/databases/maps/pm/1pm4_A.pds [(33,37), (41,48)]
   1.792 /work/lpdi/databases/maps/ne/1neu_A.pds [(7,11), (13,20)]
  1.7937 /work/lpdi/databases/maps/wa/1waa_A.pds [(11,15), (18,25)]
   1.794 /work/lpdi/databases/maps/g1/1g1c_A.pds [(12,16), (18,25)]
  1.8042 /work/lpdi/databases/maps/xa/1xau_A.pds [(11,15), (17,24)]
  1.8072 /work/lpdi/databases/maps/lg/1lgp_A.pds [(60,64), (66,73)]
  1.8091 /work/lpdi/databases/maps/ou/3oug_A.pds [(85,89), (97,104)]
  1.8103 /work/lpdi/databases/maps/qp/3qp3_A.pds [(16,20), (22,29)]
  1.8116 /work/lpdi/databases/maps/vn/2vnv_A.pds [(15,19), (21,28)]
  1.8189 /work/lpdi/databases/maps/rj/1rjl_C.pds [(23,27), (30,37)]
  1.8236 /work/lpdi/databases/maps/fh/1fhg_A.pds [(15,19), (22,29)]
  1.8268 /work/lpdi/databases/maps/ib/1iby_A.pds [(67,71), (76,83)]
   1.828 /work/lpdi/databases/maps/qp/3qp3_A.pds [(15,19), (22,29)]
  1.8306 /work/lpdi/databases/maps/j1/2j12_B.pds [(7,11), (17,24)]
  1.8331 /work/lpdi/databases/maps/go/4gos_A.pds [(8,12), (14,21)]
  1.8361 /work/lpdi/databases/maps/pm/1pm4_A.pds [(82,86), (94,101)]
  1.8414 /work/lpdi/databases/maps/nc/1nc7_A.pds [(80,84), (88,95)]
  1.8444 /work/lpdi/databases/maps/cd/1cdc_A.pds [(1,5), (7,14)]
  1.8471 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,20), (28,35)]
   1.849 /work/lpdi/databases/maps/hk/1hkf_A.pds [(4,8), (10,17)]
  1.8638 /work/lpdi/databases/maps/ec/3ecy_A.pds [(32,36), (38,45)]
  1.8654 /work/lpdi/databases/maps/jq/3jqw_A.pds [(25,29), (33,40)]
