   1.748 /work/lpdi/databases/maps/ik/1ikt_A.pds [(1,17), (25,32)]
  1.9294 /work/lpdi/databases/maps/ik/1ikt_A.pds [(1,17), (24,31)]
  1.9315 /work/lpdi/databases/maps/nv/2nvm_A.pds [(5,21), (28,35)]
   1.936 /work/lpdi/databases/maps/pz/1pz4_A.pds [(6,22), (29,36)]
  2.1404 /work/lpdi/databases/maps/f3/1f37_A.pds [(25,41), (46,53)]
  2.1741 /work/lpdi/databases/maps/pz/1pz4_A.pds [(6,22), (28,35)]
  2.2042 /work/lpdi/databases/maps/od/2od6_A.pds [(71,87), (96,103)]
  2.2554 /work/lpdi/databases/maps/od/2od6_A.pds [(71,87), (95,102)]
  2.2614 /work/lpdi/databases/maps/of/1ofu_X.pds [(11,27), (36,43)]
  2.2681 /work/lpdi/databases/maps/od/2od6_A.pds [(19,35), (44,51)]
   2.286 /work/lpdi/databases/maps/c9/2c9w_C.pds [(38,54), (58,65)]
  2.3053 /work/lpdi/databases/maps/ik/1ikt_A.pds [(1,17), (26,33)]
  2.3078 /work/lpdi/databases/maps/ss/3ssq_A.pds [(48,64), (71,78)]
  2.3125 /work/lpdi/databases/maps/ha/4has_A.pds [(34,50), (53,60)]
   2.314 /work/lpdi/databases/maps/c9/2c9w_C.pds [(38,54), (57,64)]
  2.3311 /work/lpdi/databases/maps/vm/1vm0_A.pds [(34,50), (57,64)]
  2.3539 /work/lpdi/databases/maps/f3/1f37_A.pds [(25,41), (45,52)]
  2.3542 /work/lpdi/databases/maps/nz/2nzc_A.pds [(12,28), (33,40)]
  2.3568 /work/lpdi/databases/maps/db/2dbs_A.pds [(33,49), (55,62)]
  2.3578 /work/lpdi/databases/maps/mn/1mnm_A.pds [(20,36), (42,49)]
  2.3664 /work/lpdi/databases/maps/a1/2a10_A.pds [(47,63), (70,77)]
  2.3677 /work/lpdi/databases/maps/ii/2iii_A.pds [(83,99), (102,109)]
  2.3716 /work/lpdi/databases/maps/nv/2nvm_A.pds [(5,21), (29,36)]
  2.3911 /work/lpdi/databases/maps/ej/2ejq_A.pds [(0,16), (23,30)]
  2.3948 /work/lpdi/databases/maps/o5/1o51_A.pds [(58,74), (76,83)]
  2.4056 /work/lpdi/databases/maps/od/2od4_A.pds [(64,80), (87,94)]
  2.4155 /work/lpdi/databases/maps/pz/1pz4_A.pds [(6,22), (30,37)]
   2.419 /work/lpdi/databases/maps/tu/1tuw_A.pds [(13,29), (35,42)]
  2.4218 /work/lpdi/databases/maps/ny/2nyh_A.pds [(22,38), (41,48)]
  2.4446 /work/lpdi/databases/maps/pd/2pd1_A.pds [(17,33), (40,47)]
  2.4498 /work/lpdi/databases/maps/od/2od6_A.pds [(19,35), (43,50)]
  2.4598 /work/lpdi/databases/maps/bk/3bkr_A.pds [(2,18), (25,32)]
  2.4612 /work/lpdi/databases/maps/h7/3h79_A.pds [(34,50), (57,64)]
  2.4615 /work/lpdi/databases/maps/id/2idl_A.pds [(33,49), (57,64)]
  2.4617 /work/lpdi/databases/maps/up/3ups_A.pds [(43,59), (66,73)]
  2.4629 /work/lpdi/databases/maps/ku/4kun_A.pds [(16,32), (36,43)]
  2.4655 /work/lpdi/databases/maps/c9/2c9w_C.pds [(38,54), (59,66)]
  2.4746 /work/lpdi/databases/maps/ng/3ngk_A.pds [(46,62), (67,74)]
  2.4838 /work/lpdi/databases/maps/up/3ups_A.pds [(43,59), (67,74)]
  2.4841 /work/lpdi/databases/maps/ss/3ssq_A.pds [(48,64), (72,79)]
  2.4866 /work/lpdi/databases/maps/od/2od4_A.pds [(63,79), (87,94)]
  2.4869 /work/lpdi/databases/maps/fa/3fau_A.pds [(10,26), (32,39)]
  2.4876 /work/lpdi/databases/maps/vk/1vk8_A.pds [(47,63), (70,77)]
  2.4981 /work/lpdi/databases/maps/mn/1mnm_A.pds [(20,36), (43,50)]
  2.4982 /work/lpdi/databases/maps/p7/4p7v_A.pds [(46,62), (67,74)]
  2.5035 /work/lpdi/databases/maps/a1/2a10_A.pds [(47,63), (71,78)]
  2.5144 /work/lpdi/databases/maps/j2/1j27_A.pds [(62,78), (87,94)]
  2.5155 /work/lpdi/databases/maps/hd/3hds_A.pds [(23,39), (46,53)]
  2.5207 /work/lpdi/databases/maps/cz/2czv_C.pds [(27,43), (50,57)]
  2.5256 /work/lpdi/databases/maps/ii/2iii_A.pds [(21,37), (40,47)]
  2.5276 /work/lpdi/databases/maps/eb/2ebb_A.pds [(33,49), (54,61)]
  2.5324 /work/lpdi/databases/maps/n6/1n6j_A.pds [(18,34), (40,47)]
  2.5346 /work/lpdi/databases/maps/h9/2h9u_A.pds [(37,53), (62,69)]
  2.5553 /work/lpdi/databases/maps/lx/1lxj_A.pds [(51,67), (75,82)]
  2.5617 /work/lpdi/databases/maps/jj/1jjh_A.pds [(9,25), (29,36)]
  2.5715 /work/lpdi/databases/maps/ha/4has_A.pds [(34,50), (52,59)]
  2.5862 /work/lpdi/databases/maps/d0/2d00_A.pds [(28,44), (47,54)]
  2.6013 /work/lpdi/databases/maps/nz/2nzc_A.pds [(12,28), (32,39)]
  2.6034 /work/lpdi/databases/maps/xm/1xmt_A.pds [(48,64), (66,73)]
   2.604 /work/lpdi/databases/maps/iy/2iyg_A.pds [(16,32), (38,45)]
