  1.5771 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (36,52)]
  1.6105 /work/lpdi/databases/maps/ii/2iii_A.pds [(73,80), (83,99)]
  1.8908 /work/lpdi/databases/maps/pg/1pgx_A.pds [(18,25), (27,43)]
  1.9599 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (32,48)]
  2.0626 /work/lpdi/databases/maps/hz/1hz5_A.pds [(21,28), (36,52)]
  2.1748 /work/lpdi/databases/maps/pg/1pgx_A.pds [(17,24), (27,43)]
  2.2055 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (36,52)]
  2.2067 /work/lpdi/databases/maps/ii/2iii_A.pds [(74,81), (83,99)]
  2.3042 /work/lpdi/databases/maps/mg/1mg4_A.pds [(15,22), (29,45)]
  2.4013 /work/lpdi/databases/maps/ii/2iii_A.pds [(72,79), (83,99)]
  2.4513 /work/lpdi/databases/maps/vr/1vr7_A.pds [(73,80), (83,99)]
  2.4737 /work/lpdi/databases/maps/mg/1mg4_A.pds [(16,23), (29,45)]
  2.5029 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (32,48)]
  2.5076 /work/lpdi/databases/maps/pg/1pgx_A.pds [(16,23), (27,43)]
  2.5165 /work/lpdi/databases/maps/vr/1vr7_A.pds [(5,12), (20,36)]
   2.528 /work/lpdi/databases/maps/mg/1mg4_A.pds [(14,21), (29,45)]
  2.6119 /work/lpdi/databases/maps/h6/3h6n_A.pds [(15,22), (26,42)]
  2.6365 /work/lpdi/databases/maps/r2/2r2o_A.pds [(12,19), (23,39)]
  2.6712 /work/lpdi/databases/maps/ny/3ny5_A.pds [(13,20), (22,38)]
  2.7071 /work/lpdi/databases/maps/t0/1t0q_C.pds [(12,19), (23,39)]
  2.7102 /work/lpdi/databases/maps/ii/2iii_A.pds [(6,13), (21,37)]
  2.7382 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (35,51)]
  2.7576 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (35,51)]
  2.7631 /work/lpdi/databases/maps/r2/2r2o_A.pds [(13,20), (23,39)]
   2.764 /work/lpdi/databases/maps/h6/3h6n_A.pds [(14,21), (26,42)]
    2.78 /work/lpdi/databases/maps/vr/1vr7_A.pds [(6,13), (20,36)]
  2.7825 /work/lpdi/databases/maps/t0/1t0q_C.pds [(11,18), (23,39)]
  2.7933 /work/lpdi/databases/maps/h6/3h6n_A.pds [(16,23), (26,42)]
  2.8199 /work/lpdi/databases/maps/vr/1vr7_A.pds [(7,14), (20,36)]
  2.8304 /work/lpdi/databases/maps/vr/1vr7_A.pds [(74,81), (83,99)]
  2.8838 /work/lpdi/databases/maps/t0/1t0q_C.pds [(13,20), (23,39)]
  2.8973 /work/lpdi/databases/maps/pk/2pko_A.pds [(17,24), (32,48)]
  2.8997 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (36,52)]
  2.9184 /work/lpdi/databases/maps/gu/1gua_B.pds [(9,16), (18,34)]
  2.9187 /work/lpdi/databases/maps/io/2io1_B.pds [(11,18), (20,36)]
   2.922 /work/lpdi/databases/maps/pk/2pko_A.pds [(18,25), (32,48)]
  2.9288 /work/lpdi/databases/maps/hz/1hz5_A.pds [(23,30), (33,49)]
  2.9414 /work/lpdi/databases/maps/r2/2r2o_A.pds [(11,18), (23,39)]
   2.947 /work/lpdi/databases/maps/re/2rex_A.pds [(19,26), (30,46)]
  2.9559 /work/lpdi/databases/maps/np/2npt_A.pds [(21,28), (32,48)]
  2.9568 /work/lpdi/databases/maps/ii/2iii_A.pds [(71,78), (83,99)]
  2.9704 /work/lpdi/databases/maps/hz/1hz5_A.pds [(22,29), (33,49)]
  2.9985 /work/lpdi/databases/maps/re/2rex_A.pds [(20,27), (30,46)]
  2.9995 /work/lpdi/databases/maps/np/2npt_A.pds [(22,29), (32,48)]
  2.9998 /work/lpdi/databases/maps/c5/2c5l_C.pds [(14,21), (26,42)]
  3.0067 /work/lpdi/databases/maps/bk/4bkg_A.pds [(10,17), (19,35)]
  3.0185 /work/lpdi/databases/maps/mg/1mg4_A.pds [(17,24), (29,45)]
   3.022 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (35,51)]
  3.0381 /work/lpdi/databases/maps/np/2npt_A.pds [(21,28), (33,49)]
  3.0596 /work/lpdi/databases/maps/w1/3w1y_A.pds [(49,56), (61,77)]
  3.0601 /work/lpdi/databases/maps/bk/2bkf_A.pds [(14,21), (23,39)]
  3.0706 /work/lpdi/databases/maps/vr/1vr7_A.pds [(72,79), (83,99)]
  3.0903 /work/lpdi/databases/maps/ii/2iii_A.pds [(7,14), (21,37)]
   3.101 /work/lpdi/databases/maps/hz/1hz5_A.pds [(24,31), (33,49)]
  3.1104 /work/lpdi/databases/maps/ny/3ny5_A.pds [(12,19), (22,38)]
  3.1149 /work/lpdi/databases/maps/wz/1wz3_A.pds [(14,21), (23,39)]
  3.1231 /work/lpdi/databases/maps/c5/2c5l_C.pds [(15,22), (26,42)]
  3.1495 /work/lpdi/databases/maps/c5/2c5l_C.pds [(13,20), (26,42)]
  3.1708 /work/lpdi/databases/maps/r2/2r2o_A.pds [(14,21), (23,39)]
  3.1769 /work/lpdi/databases/maps/ik/4ikg_A.pds [(12,19), (21,37)]
