  1.1804 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (13,25)]
  1.2093 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (16,28)]
  1.2939 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (17,29)]
  1.5809 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (67,79)]
  1.6015 /work/lpdi/databases/maps/ku/4kun_A.pds [(5,12), (16,28)]
  1.6234 /work/lpdi/databases/maps/oj/2ojl_A.pds [(3,10), (14,26)]
  1.6824 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (16,28)]
  1.7346 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (14,26)]
  1.7372 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (13,25)]
   1.811 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (16,28)]
  1.8149 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (15,27)]
  1.8308 /work/lpdi/databases/maps/b4/2b4a_A.pds [(47,54), (60,72)]
  1.8373 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (98,110)]
  1.8385 /work/lpdi/databases/maps/y8/1y81_A.pds [(0,7), (15,27)]
  1.8479 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,26)]
  1.8978 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (34,46)]
  1.9024 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (13,25)]
  1.9292 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (67,79)]
  1.9353 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (17,29)]
  1.9444 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (14,26)]
  1.9556 /work/lpdi/databases/maps/vf/3vfi_A.pds [(19,26), (30,42)]
    1.97 /work/lpdi/databases/maps/y8/1y81_A.pds [(80,87), (90,102)]
  1.9738 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (35,47)]
  2.0065 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (34,46)]
  2.0251 /work/lpdi/databases/maps/h7/3h79_A.pds [(23,30), (34,46)]
  2.0611 /work/lpdi/databases/maps/y8/1y81_A.pds [(57,64), (67,79)]
  2.0702 /work/lpdi/databases/maps/ku/4kun_A.pds [(3,10), (16,28)]
  2.0734 /work/lpdi/databases/maps/d2/3d21_A.pds [(86,93), (98,110)]
  2.0812 /work/lpdi/databases/maps/wz/2wz9_A.pds [(23,30), (34,46)]
  2.0859 /work/lpdi/databases/maps/wz/2wz9_A.pds [(21,28), (34,46)]
  2.0875 /work/lpdi/databases/maps/b4/2b4a_A.pds [(3,10), (13,25)]
  2.0906 /work/lpdi/databases/maps/oj/2ojl_A.pds [(1,8), (14,26)]
  2.1003 /work/lpdi/databases/maps/gm/1gmx_A.pds [(57,64), (68,80)]
  2.1074 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (95,107)]
  2.1077 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (30,42)]
   2.121 /work/lpdi/databases/maps/tt/1ttz_A.pds [(0,7), (11,23)]
  2.1256 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (17,29)]
  2.1306 /work/lpdi/databases/maps/hz/3hz4_A.pds [(23,30), (34,46)]
  2.1359 /work/lpdi/databases/maps/b4/2b4a_A.pds [(46,53), (60,72)]
  2.1432 /work/lpdi/databases/maps/hx/3hxs_A.pds [(30,37), (42,54)]
  2.1439 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (14,26)]
  2.1478 /work/lpdi/databases/maps/hx/3hxs_A.pds [(31,38), (42,54)]
  2.1534 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (12,24)]
   2.164 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (16,28)]
    2.17 /work/lpdi/databases/maps/b4/2b4a_A.pds [(48,55), (60,72)]
  2.1842 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (12,24)]
  2.2127 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (88,100)]
  2.2135 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (13,25)]
  2.2167 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (34,46)]
  2.2207 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (12,24)]
   2.228 /work/lpdi/databases/maps/gn/3gnj_A.pds [(24,31), (35,47)]
  2.2345 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (95,107)]
  2.2563 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (98,110)]
  2.2576 /work/lpdi/databases/maps/eo/3eod_A.pds [(6,13), (16,28)]
  2.2745 /work/lpdi/databases/maps/rh/3rhb_A.pds [(13,20), (25,37)]
  2.2826 /work/lpdi/databases/maps/b4/2b4a_A.pds [(91,98), (100,112)]
   2.284 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (16,28)]
  2.2902 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (81,93)]
  2.3119 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (15,27)]
   2.312 /work/lpdi/databases/maps/eo/3eod_A.pds [(73,80), (82,94)]
