  1.7493 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (18,27)]
  1.7571 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (83,92)]
  2.0077 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (15,24)]
  2.0161 /work/lpdi/databases/maps/tt/1ttz_A.pds [(53,60), (63,72)]
   2.042 /work/lpdi/databases/maps/b4/2b4a_A.pds [(92,99), (102,111)]
  2.0503 /work/lpdi/databases/maps/y8/1y81_A.pds [(79,86), (92,101)]
  2.0588 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (18,27)]
  2.0964 /work/lpdi/databases/maps/gn/3gnj_A.pds [(87,94), (97,106)]
  2.1115 /work/lpdi/databases/maps/y8/1y81_A.pds [(81,88), (92,101)]
  2.1208 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (18,27)]
  2.1723 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (97,106)]
  2.1787 /work/lpdi/databases/maps/y8/1y81_A.pds [(80,87), (92,101)]
  2.2016 /work/lpdi/databases/maps/wo/1wou_A.pds [(97,104), (109,118)]
  2.2079 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (36,45)]
  2.2101 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (18,27)]
  2.2164 /work/lpdi/databases/maps/t1/1t1j_A.pds [(77,84), (91,100)]
  2.2234 /work/lpdi/databases/maps/t1/1t1j_A.pds [(77,84), (90,99)]
  2.2328 /work/lpdi/databases/maps/ii/1iib_A.pds [(72,79), (86,95)]
  2.2597 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (15,24)]
  2.2599 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (15,24)]
  2.2654 /work/lpdi/databases/maps/eo/3eod_A.pds [(73,80), (83,92)]
  2.2666 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (16,25)]
  2.2697 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (69,78)]
  2.2883 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (15,24)]
  2.3107 /work/lpdi/databases/maps/hx/3hxs_A.pds [(30,37), (44,53)]
  2.3175 /work/lpdi/databases/maps/hx/3hxs_A.pds [(94,101), (104,113)]
  2.3378 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (96,105)]
  2.3396 /work/lpdi/databases/maps/vf/3vfi_A.pds [(82,89), (92,101)]
  2.3583 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (32,41)]
  2.3596 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (19,28)]
  2.3669 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (37,46)]
  2.3717 /work/lpdi/databases/maps/ku/4kun_A.pds [(69,76), (80,89)]
  2.3738 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (16,25)]
  2.3758 /work/lpdi/databases/maps/hx/3hxs_A.pds [(93,100), (104,113)]
  2.3805 /work/lpdi/databases/maps/gn/3gnj_A.pds [(85,92), (101,110)]
  2.4009 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (101,110)]
  2.4188 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (36,45)]
  2.4431 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (36,45)]
  2.4591 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (90,99)]
  2.4625 /work/lpdi/databases/maps/b4/2b4a_A.pds [(46,53), (62,71)]
  2.4844 /work/lpdi/databases/maps/eo/3eod_A.pds [(71,78), (83,92)]
     2.5 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (12,21)]
  2.5001 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (84,93)]
   2.508 /work/lpdi/databases/maps/ii/1iib_A.pds [(49,56), (62,71)]
  2.5097 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (100,109)]
  2.5209 /work/lpdi/databases/maps/r4/2r48_A.pds [(74,81), (90,99)]
  2.5212 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (70,79)]
   2.533 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (19,28)]
  2.5496 /work/lpdi/databases/maps/ii/1iib_A.pds [(48,55), (62,71)]
  2.5564 /work/lpdi/databases/maps/eo/3eod_A.pds [(74,81), (83,92)]
  2.5609 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (19,28)]
  2.5645 /work/lpdi/databases/maps/d2/3d21_A.pds [(24,31), (38,47)]
  2.5675 /work/lpdi/databases/maps/r4/2r48_A.pds [(76,83), (90,99)]
  2.5696 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (12,21)]
  2.5735 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (69,78)]
  2.5844 /work/lpdi/databases/maps/ht/2ht9_A.pds [(75,82), (91,100)]
  2.5881 /work/lpdi/databases/maps/y8/1y81_A.pds [(57,64), (69,78)]
  2.5901 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (17,26)]
  2.6054 /work/lpdi/databases/maps/f5/2f51_A.pds [(23,30), (37,46)]
  2.6148 /work/lpdi/databases/maps/r4/2r48_A.pds [(76,83), (89,98)]
