  1.1116 /work/lpdi/databases/maps/ib/1iby_A.pds [(66,73), (78,82)]
  1.1296 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (13,17)]
  1.4311 /work/lpdi/databases/maps/pm/1pm4_A.pds [(31,38), (44,48)]
  1.4525 /work/lpdi/databases/maps/j1/2j12_B.pds [(6,13), (18,22)]
   1.564 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (57,61)]
  1.5776 /work/lpdi/databases/maps/xa/1xau_A.pds [(22,29), (33,37)]
  1.6052 /work/lpdi/databases/maps/jq/3jqw_A.pds [(48,55), (60,64)]
  1.6173 /work/lpdi/databases/maps/nq/1nqd_A.pds [(47,54), (59,63)]
  1.6177 /work/lpdi/databases/maps/ea/3ead_A.pds [(7,14), (16,20)]
  1.6412 /work/lpdi/databases/maps/gl/1gl4_B.pds [(21,28), (32,36)]
  1.6576 /work/lpdi/databases/maps/or/2or8_A.pds [(16,23), (27,31)]
   1.682 /work/lpdi/databases/maps/xa/1xau_A.pds [(8,15), (20,24)]
  1.6863 /work/lpdi/databases/maps/gi/3gin_A.pds [(9,16), (18,22)]
  1.6968 /work/lpdi/databases/maps/r7/1r75_A.pds [(70,77), (82,86)]
   1.697 /work/lpdi/databases/maps/nq/2nqc_A.pds [(36,43), (46,50)]
  1.7274 /work/lpdi/databases/maps/t3/3t30_A.pds [(1,8), (14,18)]
  1.7309 /work/lpdi/databases/maps/w0/1w0n_A.pds [(71,78), (81,85)]
  1.7372 /work/lpdi/databases/maps/w0/1w0n_A.pds [(70,77), (81,85)]
  1.7384 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (14,18)]
  1.7439 /work/lpdi/databases/maps/jv/4jvu_A.pds [(75,82), (88,92)]
   1.772 /work/lpdi/databases/maps/ea/3ead_A.pds [(52,59), (65,69)]
   1.777 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (33,37)]
  1.7961 /work/lpdi/databases/maps/vn/2vnv_A.pds [(12,19), (24,28)]
  1.8001 /work/lpdi/databases/maps/gi/3gin_A.pds [(55,62), (68,72)]
    1.81 /work/lpdi/databases/maps/dj/3dj9_A.pds [(68,75), (81,85)]
  1.8193 /work/lpdi/databases/maps/pm/1pm4_A.pds [(83,90), (93,97)]
  1.8233 /work/lpdi/databases/maps/ib/1iby_A.pds [(47,54), (59,63)]
  1.8238 /work/lpdi/databases/maps/gi/3gin_A.pds [(57,64), (66,70)]
  1.8291 /work/lpdi/databases/maps/v3/2v33_A.pds [(36,43), (45,49)]
  1.8412 /work/lpdi/databases/maps/n5/4n5u_A.pds [(41,48), (52,56)]
  1.8413 /work/lpdi/databases/maps/f7/1f7d_A.pds [(49,56), (62,66)]
  1.8438 /work/lpdi/databases/maps/sp/1spp_B.pds [(15,22), (29,33)]
  1.8623 /work/lpdi/databases/maps/nc/1ncg_A.pds [(74,81), (88,92)]
  1.8652 /work/lpdi/databases/maps/bi/1bii_B.pds [(22,29), (34,38)]
  1.8669 /work/lpdi/databases/maps/jp/1jpe_A.pds [(34,41), (46,50)]
  1.8683 /work/lpdi/databases/maps/tu/1tul_A.pds [(52,59), (64,68)]
   1.875 /work/lpdi/databases/maps/fh/1fhg_A.pds [(27,34), (37,41)]
  1.8752 /work/lpdi/databases/maps/he/1he7_A.pds [(19,26), (29,33)]
  1.8823 /work/lpdi/databases/maps/nc/1nc7_A.pds [(52,59), (64,68)]
  1.8827 /work/lpdi/databases/maps/ou/3oug_A.pds [(85,92), (98,102)]
  1.8849 /work/lpdi/databases/maps/nc/1nc7_A.pds [(79,86), (89,93)]
  1.8867 /work/lpdi/databases/maps/ww/1wwa_X.pds [(19,26), (29,33)]
  1.8897 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,16), (20,24)]
  1.9051 /work/lpdi/databases/maps/ne/1neu_A.pds [(55,62), (68,72)]
  1.9079 /work/lpdi/databases/maps/gi/3gin_A.pds [(54,61), (68,72)]
  1.9115 /work/lpdi/databases/maps/jq/3jqw_A.pds [(59,66), (73,77)]
  1.9115 /work/lpdi/databases/maps/aa/3aab_A.pds [(52,59), (61,65)]
   1.913 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (34,38)]
   1.914 /work/lpdi/databases/maps/vn/2vnv_A.pds [(60,67), (71,75)]
   1.914 /work/lpdi/databases/maps/ny/1nyc_A.pds [(89,96), (98,102)]
  1.9144 /work/lpdi/databases/maps/zc/2zcz_A.pds [(1,8), (12,16)]
  1.9153 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,16), (21,25)]
  1.9195 /work/lpdi/databases/maps/ww/1wwc_A.pds [(21,28), (31,35)]
  1.9202 /work/lpdi/databases/maps/r7/1r75_A.pds [(33,40), (42,46)]
  1.9214 /work/lpdi/databases/maps/jv/4jvw_A.pds [(23,30), (35,39)]
  1.9262 /work/lpdi/databases/maps/w0/1w0n_A.pds [(71,78), (80,84)]
  1.9311 /work/lpdi/databases/maps/ea/1ean_A.pds [(42,49), (55,59)]
  1.9333 /work/lpdi/databases/maps/b1/2b1y_A.pds [(16,23), (26,30)]
  1.9377 /work/lpdi/databases/maps/kw/3kwt_A.pds [(32,39), (46,50)]
   1.938 /work/lpdi/databases/maps/g1/1g1c_A.pds [(7,14), (21,25)]
