  1.2829 /work/lpdi/databases/maps/o9/1o91_A.pds [(71,78), (83,90)]
  1.3689 /work/lpdi/databases/maps/gr/1gr3_A.pds [(72,79), (84,91)]
  1.5666 /work/lpdi/databases/maps/f3/4f3j_A.pds [(73,80), (86,93)]
  1.5913 /work/lpdi/databases/maps/qe/2qe3_A.pds [(84,91), (95,102)]
   1.599 /work/lpdi/databases/maps/u5/1u5x_A.pds [(75,82), (87,94)]
  1.6173 /work/lpdi/databases/maps/ib/1iby_A.pds [(65,72), (77,84)]
  1.6466 /work/lpdi/databases/maps/f3/4f3j_A.pds [(75,82), (84,91)]
  1.7315 /work/lpdi/databases/maps/st/1stm_A.pds [(42,49), (52,59)]
  1.7393 /work/lpdi/databases/maps/dg/1dg6_A.pds [(91,98), (104,111)]
    1.74 /work/lpdi/databases/maps/a3/1a3z_A.pds [(100,107), (114,121)]
  1.7534 /work/lpdi/databases/maps/q8/2q87_A.pds [(0,7), (12,19)]
  1.7543 /work/lpdi/databases/maps/bw/4bww_A.pds [(79,86), (88,95)]
  1.7564 /work/lpdi/databases/maps/o9/1o91_A.pds [(48,55), (59,66)]
  1.7809 /work/lpdi/databases/maps/pm/1pm4_A.pds [(32,39), (41,48)]
  1.7829 /work/lpdi/databases/maps/p4/1p4p_A.pds [(66,73), (76,83)]
   1.783 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (32,39)]
  1.7833 /work/lpdi/databases/maps/f3/4f3j_A.pds [(50,57), (61,68)]
  1.7917 /work/lpdi/databases/maps/rj/1rj8_A.pds [(79,86), (93,100)]
  1.8033 /work/lpdi/databases/maps/jq/3jqw_A.pds [(24,31), (33,40)]
  1.8104 /work/lpdi/databases/maps/gr/1gr3_A.pds [(49,56), (60,67)]
  1.8172 /work/lpdi/databases/maps/p4/1p4p_A.pds [(65,72), (77,84)]
  1.8287 /work/lpdi/databases/maps/al/1aly_A.pds [(91,98), (102,109)]
  1.8329 /work/lpdi/databases/maps/ay/3ay2_A.pds [(78,85), (87,94)]
  1.8442 /work/lpdi/databases/maps/rj/1rjl_C.pds [(21,28), (31,38)]
  1.8706 /work/lpdi/databases/maps/cm/2cm5_A.pds [(58,65), (72,79)]
  1.8782 /work/lpdi/databases/maps/f3/4f3j_A.pds [(75,82), (85,92)]
  1.8827 /work/lpdi/databases/maps/bw/4bww_A.pds [(28,35), (41,48)]
  1.8943 /work/lpdi/databases/maps/p4/1p4p_A.pds [(64,71), (77,84)]
  1.8981 /work/lpdi/databases/maps/ne/1neu_A.pds [(54,61), (68,75)]
  1.9037 /work/lpdi/databases/maps/cj/2cjt_A.pds [(33,40), (46,53)]
  1.9082 /work/lpdi/databases/maps/g1/1g1c_A.pds [(7,14), (20,27)]
  1.9167 /work/lpdi/databases/maps/wa/1waa_A.pds [(7,14), (20,27)]
  1.9185 /work/lpdi/databases/maps/ov/1ov8_A.pds [(92,99), (101,108)]
  1.9234 /work/lpdi/databases/maps/g1/1g1c_A.pds [(9,16), (18,25)]
  1.9276 /work/lpdi/databases/maps/rs/1rsy_A.pds [(60,67), (74,81)]
  1.9319 /work/lpdi/databases/maps/kw/3kwt_A.pds [(31,38), (45,52)]
  1.9345 /work/lpdi/databases/maps/ay/3ay2_A.pds [(28,35), (41,48)]
  1.9362 /work/lpdi/databases/maps/st/1stm_A.pds [(69,76), (80,87)]
  1.9432 /work/lpdi/databases/maps/fb/3fbk_A.pds [(50,57), (64,71)]
  1.9523 /work/lpdi/databases/maps/qp/3qp3_A.pds [(11,18), (24,31)]
  1.9536 /work/lpdi/databases/maps/rl/1rlw_A.pds [(40,47), (54,61)]
   1.954 /work/lpdi/databases/maps/gr/1grw_A.pds [(11,18), (23,30)]
  1.9574 /work/lpdi/databases/maps/gu/1gu3_A.pds [(80,87), (91,98)]
  1.9598 /work/lpdi/databases/maps/dw/2dwx_A.pds [(46,53), (58,65)]
  1.9717 /work/lpdi/databases/maps/cu/2cua_A.pds [(73,80), (85,92)]
  1.9723 /work/lpdi/databases/maps/jq/3jqw_A.pds [(58,65), (72,79)]
  1.9814 /work/lpdi/databases/maps/p4/1p4p_A.pds [(66,73), (75,82)]
  1.9829 /work/lpdi/databases/maps/dg/1dg6_A.pds [(56,63), (68,75)]
  1.9845 /work/lpdi/databases/maps/st/1stm_A.pds [(40,47), (54,61)]
  1.9882 /work/lpdi/databases/maps/v6/2v6h_A.pds [(9,16), (18,25)]
  1.9891 /work/lpdi/databases/maps/f3/4f3j_A.pds [(73,80), (87,94)]
  1.9909 /work/lpdi/databases/maps/pm/1pm4_A.pds [(30,37), (43,50)]
  1.9984 /work/lpdi/databases/maps/dw/2dwx_A.pds [(47,54), (57,64)]
  1.9984 /work/lpdi/databases/maps/gi/3gin_A.pds [(56,63), (65,72)]
  2.0002 /work/lpdi/databases/maps/pm/1pm4_A.pds [(80,87), (94,101)]
  2.0016 /work/lpdi/databases/maps/en/4en0_A.pds [(53,60), (66,73)]
  2.0041 /work/lpdi/databases/maps/jv/4jvu_A.pds [(74,81), (87,94)]
  2.0056 /work/lpdi/databases/maps/f3/4f3j_A.pds [(74,81), (86,93)]
  2.0076 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (12,19)]
  2.0141 /work/lpdi/databases/maps/gi/2gim_A.pds [(58,65), (69,76)]
