  1.1119 /work/lpdi/databases/maps/sm/1smo_A.pds [(55,59), (65,69)]
  1.1479 /work/lpdi/databases/maps/q8/1q8m_A.pds [(60,64), (70,74)]
  1.1787 /work/lpdi/databases/maps/fh/1fhg_A.pds [(55,59), (62,66)]
   1.211 /work/lpdi/databases/maps/am/1amx_A.pds [(82,86), (90,94)]
  1.2332 /work/lpdi/databases/maps/hs/3hsa_A.pds [(47,51), (57,61)]
  1.2399 /work/lpdi/databases/maps/o6/2o6p_A.pds [(91,95), (101,105)]
  1.2504 /work/lpdi/databases/maps/iu/1iu1_A.pds [(93,97), (103,107)]
  1.2596 /work/lpdi/databases/maps/qp/3qp3_A.pds [(55,59), (61,65)]
  1.2705 /work/lpdi/databases/maps/q9/2q9s_A.pds [(102,106), (112,116)]
  1.2736 /work/lpdi/databases/maps/gq/3gqs_A.pds [(82,86), (92,96)]
  1.2803 /work/lpdi/databases/maps/rs/3rsw_A.pds [(49,53), (59,63)]
  1.2804 /work/lpdi/databases/maps/po/3po8_A.pds [(45,49), (51,55)]
  1.2839 /work/lpdi/databases/maps/qo/3qor_A.pds [(76,80), (86,90)]
  1.2905 /work/lpdi/databases/maps/dp/2dpf_A.pds [(11,15), (21,25)]
  1.2906 /work/lpdi/databases/maps/r0/1r0u_A.pds [(107,111), (117,121)]
  1.2977 /work/lpdi/databases/maps/ej/1ejf_A.pds [(25,29), (35,39)]
  1.2978 /work/lpdi/databases/maps/av/1avg_I.pds [(39,43), (47,51)]
  1.2984 /work/lpdi/databases/maps/o1/2o1a_A.pds [(94,98), (102,106)]
  1.2991 /work/lpdi/databases/maps/rm/1rm1_B.pds [(64,68), (70,74)]
  1.2997 /work/lpdi/databases/maps/ea/1ear_A.pds [(33,37), (43,47)]
  1.3014 /work/lpdi/databases/maps/rs/3rsw_A.pds [(39,43), (49,53)]
  1.3017 /work/lpdi/databases/maps/at/1at0_A.pds [(55,59), (62,66)]
  1.3017 /work/lpdi/databases/maps/gl/1gl4_B.pds [(47,51), (53,57)]
  1.3029 /work/lpdi/databases/maps/wa/1waa_A.pds [(48,52), (58,62)]
  1.3109 /work/lpdi/databases/maps/e7/1e79_H.pds [(66,70), (73,77)]
  1.3131 /work/lpdi/databases/maps/oo/2ooj_A.pds [(81,85), (89,93)]
  1.3144 /work/lpdi/databases/maps/hq/3hqc_A.pds [(56,60), (66,70)]
  1.3148 /work/lpdi/databases/maps/q9/2q9s_A.pds [(80,84), (90,94)]
  1.3159 /work/lpdi/databases/maps/v7/2v76_A.pds [(53,57), (62,66)]
  1.3187 /work/lpdi/databases/maps/nk/1nko_A.pds [(97,101), (103,107)]
   1.321 /work/lpdi/databases/maps/js/1jsg_A.pds [(91,95), (100,104)]
  1.3249 /work/lpdi/databases/maps/r0/1r0u_A.pds [(58,62), (68,72)]
  1.3271 /work/lpdi/databases/maps/po/3po8_A.pds [(78,82), (88,92)]
   1.329 /work/lpdi/databases/maps/rs/3rsw_A.pds [(115,119), (121,125)]
  1.3311 /work/lpdi/databases/maps/hk/1hkf_A.pds [(49,53), (59,63)]
  1.3314 /work/lpdi/databases/maps/si/3sik_A.pds [(97,101), (105,109)]
  1.3349 /work/lpdi/databases/maps/ib/1iby_A.pds [(15,19), (21,25)]
  1.3377 /work/lpdi/databases/maps/q9/2q9s_A.pds [(38,42), (48,52)]
  1.3394 /work/lpdi/databases/maps/da/1dan_U.pds [(23,27), (32,36)]
  1.3441 /work/lpdi/databases/maps/nj/1njh_A.pds [(56,60), (66,70)]
  1.3441 /work/lpdi/databases/maps/xc/2xcm_C.pds [(26,30), (36,40)]
  1.3449 /work/lpdi/databases/maps/rs/3rsw_A.pds [(103,107), (113,117)]
  1.3457 /work/lpdi/databases/maps/q9/2q9s_A.pds [(114,118), (120,124)]
  1.3529 /work/lpdi/databases/maps/fa/1fao_A.pds [(23,27), (29,33)]
  1.3538 /work/lpdi/databases/maps/p5/1p5t_A.pds [(56,60), (65,69)]
  1.3559 /work/lpdi/databases/maps/kh/3khq_A.pds [(50,54), (60,64)]
   1.357 /work/lpdi/databases/maps/cd/4cdd_A.pds [(67,71), (73,77)]
  1.3571 /work/lpdi/databases/maps/vv/3vv1_A.pds [(91,95), (101,105)]
   1.358 /work/lpdi/databases/maps/cd/4cdd_A.pds [(57,61), (67,71)]
   1.358 /work/lpdi/databases/maps/dm/3dmb_A.pds [(21,25), (31,35)]
  1.3583 /work/lpdi/databases/maps/e7/1e79_H.pds [(65,69), (75,79)]
  1.3601 /work/lpdi/databases/maps/dw/2dwx_A.pds [(99,103), (109,113)]
  1.3652 /work/lpdi/databases/maps/bo/3bov_A.pds [(82,86), (89,93)]
  1.3653 /work/lpdi/databases/maps/ht/2hti_A.pds [(63,67), (71,75)]
  1.3685 /work/lpdi/databases/maps/oo/2ooj_A.pds [(49,53), (58,62)]
  1.3702 /work/lpdi/databases/maps/aq/1aqc_A.pds [(80,84), (89,93)]
  1.3705 /work/lpdi/databases/maps/as/2asf_A.pds [(62,66), (68,72)]
   1.373 /work/lpdi/databases/maps/k4/3k41_A.pds [(72,76), (82,86)]
  1.3731 /work/lpdi/databases/maps/gd/4gd9_A.pds [(89,93), (99,103)]
  1.3736 /work/lpdi/databases/maps/fh/2fhq_A.pds [(121,125), (127,131)]
