 0.99076 /work/lpdi/databases/maps/vr/1vr7_A.pds [(50,57), (62,69)]
 0.99902 /work/lpdi/databases/maps/vr/1vr7_A.pds [(62,69), (72,79)]
  1.0117 /work/lpdi/databases/maps/ii/2iii_A.pds [(62,69), (72,79)]
  1.1119 /work/lpdi/databases/maps/ii/2iii_A.pds [(51,58), (62,69)]
  1.3376 /work/lpdi/databases/maps/vr/1vr7_A.pds [(41,48), (50,57)]
  1.3799 /work/lpdi/databases/maps/ii/2iii_A.pds [(42,49), (51,58)]
  1.6432 /work/lpdi/databases/maps/vr/1vr7_A.pds [(39,46), (52,59)]
  1.6792 /work/lpdi/databases/maps/hz/1hz5_A.pds [(11,18), (24,31)]
   1.686 /work/lpdi/databases/maps/bk/2bkf_A.pds [(3,10), (15,22)]
   1.693 /work/lpdi/databases/maps/ii/2iii_A.pds [(40,47), (53,60)]
   1.708 /work/lpdi/databases/maps/np/2npt_A.pds [(12,19), (21,28)]
  1.7707 /work/lpdi/databases/maps/cz/1czp_A.pds [(2,9), (12,19)]
  1.7936 /work/lpdi/databases/maps/hj/2hj1_A.pds [(2,9), (14,21)]
  1.8032 /work/lpdi/databases/maps/a2/4a20_A.pds [(2,9), (13,20)]
  1.8743 /work/lpdi/databases/maps/hz/1hz5_A.pds [(13,20), (22,29)]
  1.9362 /work/lpdi/databases/maps/ii/2iii_A.pds [(61,68), (72,79)]
  1.9468 /work/lpdi/databases/maps/io/2io1_B.pds [(2,9), (11,18)]
  1.9813 /work/lpdi/databases/maps/ii/2iii_A.pds [(51,58), (61,68)]
  2.0174 /work/lpdi/databases/maps/vr/1vr7_A.pds [(61,68), (72,79)]
  2.0265 /work/lpdi/databases/maps/ii/2iii_A.pds [(61,68), (73,80)]
  2.0354 /work/lpdi/databases/maps/pg/1pgx_A.pds [(6,13), (18,25)]
  2.0357 /work/lpdi/databases/maps/vr/1vr7_A.pds [(50,57), (61,68)]
  2.0449 /work/lpdi/databases/maps/ii/2iii_A.pds [(52,59), (61,68)]
  2.0613 /work/lpdi/databases/maps/hz/1hz5_A.pds [(53,60), (63,70)]
  2.0892 /work/lpdi/databases/maps/qq/3qq8_B.pds [(2,9), (15,22)]
  2.0978 /work/lpdi/databases/maps/vr/1vr7_A.pds [(61,68), (73,80)]
  2.1045 /work/lpdi/databases/maps/ii/2iii_A.pds [(41,48), (52,59)]
  2.1193 /work/lpdi/databases/maps/pg/1pgx_A.pds [(45,52), (55,62)]
  2.1223 /work/lpdi/databases/maps/vr/1vr7_A.pds [(51,58), (61,68)]
  2.1306 /work/lpdi/databases/maps/vr/1vr7_A.pds [(40,47), (51,58)]
  2.1309 /work/lpdi/databases/maps/ii/2iii_A.pds [(62,69), (71,78)]
  2.1372 /work/lpdi/databases/maps/vr/1vr7_A.pds [(40,47), (50,57)]
  2.1376 /work/lpdi/databases/maps/bk/4bkg_A.pds [(1,8), (10,17)]
  2.1514 /work/lpdi/databases/maps/wm/1wmh_B.pds [(0,7), (12,19)]
  2.1683 /work/lpdi/databases/maps/vr/1vr7_A.pds [(62,69), (71,78)]
  2.1818 /work/lpdi/databases/maps/ii/2iii_A.pds [(50,57), (62,69)]
  2.1867 /work/lpdi/databases/maps/a2/4a20_A.pds [(2,9), (12,19)]
  2.1966 /work/lpdi/databases/maps/qq/3qq8_B.pds [(4,11), (13,20)]
  2.1987 /work/lpdi/databases/maps/hj/2hj1_A.pds [(3,10), (12,19)]
  2.2124 /work/lpdi/databases/maps/ii/2iii_A.pds [(41,48), (51,58)]
   2.217 /work/lpdi/databases/maps/gu/1gua_B.pds [(0,7), (9,16)]
  2.2221 /work/lpdi/databases/maps/cz/1czp_A.pds [(2,9), (11,18)]
  2.2275 /work/lpdi/databases/maps/a2/4a20_A.pds [(3,10), (12,19)]
   2.233 /work/lpdi/databases/maps/hj/2hj1_A.pds [(2,9), (13,20)]
  2.2521 /work/lpdi/databases/maps/hz/1hz5_A.pds [(11,18), (23,30)]
   2.269 /work/lpdi/databases/maps/hj/2hj1_A.pds [(3,10), (13,20)]
  2.2723 /work/lpdi/databases/maps/vr/1vr7_A.pds [(60,67), (73,80)]
  2.2734 /work/lpdi/databases/maps/vr/1vr7_A.pds [(51,58), (60,67)]
  2.3202 /work/lpdi/databases/maps/bk/2bkf_A.pds [(3,10), (14,21)]
   2.337 /work/lpdi/databases/maps/c5/2c5l_C.pds [(53,60), (64,71)]
  2.3417 /work/lpdi/databases/maps/ii/2iii_A.pds [(50,57), (63,70)]
  2.3443 /work/lpdi/databases/maps/vr/1vr7_A.pds [(49,56), (62,69)]
  2.3444 /work/lpdi/databases/maps/vr/1vr7_A.pds [(39,46), (51,58)]
   2.349 /work/lpdi/databases/maps/ik/4ikg_A.pds [(2,9), (12,19)]
  2.3507 /work/lpdi/databases/maps/ii/2iii_A.pds [(40,47), (52,59)]
  2.3521 /work/lpdi/databases/maps/wm/1wmh_B.pds [(0,7), (11,18)]
   2.389 /work/lpdi/databases/maps/qq/3qq8_B.pds [(2,9), (14,21)]
  2.3993 /work/lpdi/databases/maps/pg/1pgx_A.pds [(6,13), (17,24)]
   2.412 /work/lpdi/databases/maps/np/2npt_A.pds [(10,17), (23,30)]
  2.4171 /work/lpdi/databases/maps/vr/1vr7_A.pds [(61,68), (74,81)]
