   1.214 /work/lpdi/databases/maps/oj/2ojl_A.pds [(3,10), (14,26)]
  1.2349 /work/lpdi/databases/maps/t1/1t1j_A.pds [(5,12), (17,29)]
  1.3566 /work/lpdi/databases/maps/ku/4kun_A.pds [(5,12), (16,28)]
  1.5143 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (13,25)]
  1.5176 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (16,28)]
  1.5206 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (67,79)]
  1.5617 /work/lpdi/databases/maps/b4/2b4a_A.pds [(3,10), (13,25)]
  1.6167 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (13,25)]
  1.6167 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (13,25)]
   1.643 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (16,28)]
  1.6722 /work/lpdi/databases/maps/y8/1y81_A.pds [(57,64), (67,79)]
  1.7066 /work/lpdi/databases/maps/tt/1ttz_A.pds [(0,7), (11,23)]
  1.7213 /work/lpdi/databases/maps/d2/3d21_A.pds [(86,93), (98,110)]
  1.7281 /work/lpdi/databases/maps/b4/2b4a_A.pds [(47,54), (60,72)]
   1.732 /work/lpdi/databases/maps/eo/3eod_A.pds [(6,13), (16,28)]
  1.7336 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (14,26)]
  1.7439 /work/lpdi/databases/maps/b4/2b4a_A.pds [(48,55), (60,72)]
  1.7791 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (17,29)]
  1.8167 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (15,27)]
  1.8209 /work/lpdi/databases/maps/hz/3hz4_A.pds [(85,92), (98,110)]
   1.837 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (16,28)]
  1.8665 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (14,26)]
  1.8972 /work/lpdi/databases/maps/vf/3vfi_A.pds [(19,26), (30,42)]
  1.9225 /work/lpdi/databases/maps/wz/2wz9_A.pds [(23,30), (34,46)]
  1.9385 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (14,26)]
  1.9474 /work/lpdi/databases/maps/h7/3h79_A.pds [(23,30), (34,46)]
  1.9571 /work/lpdi/databases/maps/z3/1z3e_A.pds [(1,8), (12,24)]
  2.0017 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (98,110)]
  2.0073 /work/lpdi/databases/maps/gm/1gmx_A.pds [(57,64), (68,80)]
  2.0107 /work/lpdi/databases/maps/r4/2r48_A.pds [(2,9), (16,28)]
  2.0156 /work/lpdi/databases/maps/r4/2r48_A.pds [(3,10), (15,27)]
   2.019 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (34,46)]
  2.0253 /work/lpdi/databases/maps/h7/1h75_A.pds [(0,7), (12,24)]
  2.0436 /work/lpdi/databases/maps/y8/1y81_A.pds [(80,87), (90,102)]
  2.0493 /work/lpdi/databases/maps/hs/4hs1_A.pds [(0,7), (11,23)]
  2.0851 /work/lpdi/databases/maps/rh/3rhb_A.pds [(13,20), (25,37)]
  2.0906 /work/lpdi/databases/maps/hx/3hxs_A.pds [(31,38), (42,54)]
  2.0975 /work/lpdi/databases/maps/z3/1z3e_A.pds [(0,7), (12,24)]
   2.103 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (14,26)]
   2.111 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (35,47)]
  2.1117 /work/lpdi/databases/maps/hz/3hz4_A.pds [(23,30), (34,46)]
   2.123 /work/lpdi/databases/maps/gn/3gnj_A.pds [(24,31), (35,47)]
  2.1302 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (13,25)]
   2.131 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (12,24)]
  2.1317 /work/lpdi/databases/maps/fz/3fz4_A.pds [(2,9), (13,25)]
   2.136 /work/lpdi/databases/maps/oj/2ojl_A.pds [(4,11), (14,26)]
  2.1375 /work/lpdi/databases/maps/rd/3rdw_A.pds [(0,7), (11,23)]
  2.1509 /work/lpdi/databases/maps/h7/1h75_A.pds [(1,8), (12,24)]
  2.1647 /work/lpdi/databases/maps/y8/1y81_A.pds [(81,88), (90,102)]
  2.1775 /work/lpdi/databases/maps/ii/1iib_A.pds [(0,7), (12,24)]
   2.179 /work/lpdi/databases/maps/rh/3rhb_A.pds [(14,21), (25,37)]
  2.1905 /work/lpdi/databases/maps/wo/1wou_A.pds [(0,7), (10,22)]
  2.1941 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (34,46)]
  2.2107 /work/lpdi/databases/maps/d2/3d21_A.pds [(87,94), (98,110)]
  2.2114 /work/lpdi/databases/maps/ht/2ht9_A.pds [(15,22), (27,39)]
   2.212 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (67,79)]
  2.2133 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (17,29)]
  2.2215 /work/lpdi/databases/maps/t1/1t1j_A.pds [(7,14), (17,29)]
  2.2498 /work/lpdi/databases/maps/gm/1gmx_A.pds [(58,65), (68,80)]
  2.2516 /work/lpdi/databases/maps/y8/1y81_A.pds [(58,65), (67,79)]
