  1.6173 /work/lpdi/databases/maps/ib/1iby_A.pds [(65,72), (77,84)]
  1.7534 /work/lpdi/databases/maps/q8/2q87_A.pds [(0,7), (12,19)]
  1.7809 /work/lpdi/databases/maps/pm/1pm4_A.pds [(32,39), (41,48)]
   1.783 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (32,39)]
  1.8033 /work/lpdi/databases/maps/jq/3jqw_A.pds [(24,31), (33,40)]
  1.8442 /work/lpdi/databases/maps/rj/1rjl_C.pds [(21,28), (31,38)]
  1.8981 /work/lpdi/databases/maps/ne/1neu_A.pds [(54,61), (68,75)]
  1.9082 /work/lpdi/databases/maps/g1/1g1c_A.pds [(7,14), (20,27)]
  1.9167 /work/lpdi/databases/maps/wa/1waa_A.pds [(7,14), (20,27)]
  1.9234 /work/lpdi/databases/maps/g1/1g1c_A.pds [(9,16), (18,25)]
  1.9319 /work/lpdi/databases/maps/kw/3kwt_A.pds [(31,38), (45,52)]
  1.9523 /work/lpdi/databases/maps/qp/3qp3_A.pds [(11,18), (24,31)]
  1.9723 /work/lpdi/databases/maps/jq/3jqw_A.pds [(58,65), (72,79)]
  1.9882 /work/lpdi/databases/maps/v6/2v6h_A.pds [(9,16), (18,25)]
  1.9909 /work/lpdi/databases/maps/pm/1pm4_A.pds [(30,37), (43,50)]
  1.9984 /work/lpdi/databases/maps/gi/3gin_A.pds [(56,63), (65,72)]
  2.0002 /work/lpdi/databases/maps/pm/1pm4_A.pds [(80,87), (94,101)]
  2.0041 /work/lpdi/databases/maps/jv/4jvu_A.pds [(74,81), (87,94)]
  2.0076 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (12,19)]
  2.0141 /work/lpdi/databases/maps/gi/2gim_A.pds [(58,65), (69,76)]
  2.0254 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,16), (18,25)]
  2.0257 /work/lpdi/databases/maps/v6/2v6h_A.pds [(7,14), (20,27)]
  2.0275 /work/lpdi/databases/maps/iu/1iu1_A.pds [(44,51), (56,63)]
  2.0309 /work/lpdi/databases/maps/wa/1waa_A.pds [(8,15), (20,27)]
  2.0322 /work/lpdi/databases/maps/fh/1fhg_A.pds [(11,18), (24,31)]
  2.0382 /work/lpdi/databases/maps/qp/3qp3_A.pds [(13,20), (22,29)]
  2.0413 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (55,62)]
  2.0518 /work/lpdi/databases/maps/q8/2q87_A.pds [(2,9), (11,18)]
  2.0523 /work/lpdi/databases/maps/ea/3ead_A.pds [(53,60), (62,69)]
  2.0548 /work/lpdi/databases/maps/gi/3gin_A.pds [(54,61), (67,74)]
  2.0632 /work/lpdi/databases/maps/rj/1rjl_C.pds [(19,26), (32,39)]
  2.0638 /work/lpdi/databases/maps/fh/1fhg_A.pds [(13,20), (22,29)]
  2.0678 /work/lpdi/databases/maps/dj/3dj9_A.pds [(67,74), (80,87)]
   2.069 /work/lpdi/databases/maps/n0/1n0l_B.pds [(7,14), (19,26)]
    2.07 /work/lpdi/databases/maps/ou/3oug_A.pds [(84,91), (97,104)]
  2.0758 /work/lpdi/databases/maps/rj/1rjl_C.pds [(19,26), (33,40)]
  2.0823 /work/lpdi/databases/maps/jv/4jvw_A.pds [(69,76), (82,89)]
   2.086 /work/lpdi/databases/maps/w0/1w0n_A.pds [(70,77), (80,87)]
  2.0908 /work/lpdi/databases/maps/ea/3ead_A.pds [(51,58), (64,71)]
  2.0991 /work/lpdi/databases/maps/gi/3gin_A.pds [(8,15), (17,24)]
  2.1071 /work/lpdi/databases/maps/j1/2j12_B.pds [(5,12), (17,24)]
  2.1166 /work/lpdi/databases/maps/gi/3gin_A.pds [(54,61), (66,73)]
  2.1192 /work/lpdi/databases/maps/rj/1rjl_C.pds [(21,28), (30,37)]
  2.1197 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (56,63)]
  2.1382 /work/lpdi/databases/maps/ec/3ecy_A.pds [(66,73), (76,83)]
  2.1389 /work/lpdi/databases/maps/ou/3oug_A.pds [(85,92), (96,103)]
  2.1545 /work/lpdi/databases/maps/ea/3ead_A.pds [(50,57), (64,71)]
  2.1545 /work/lpdi/databases/maps/sp/1spp_B.pds [(15,22), (28,35)]
  2.1547 /work/lpdi/databases/maps/ea/3ead_A.pds [(51,58), (63,70)]
  2.1553 /work/lpdi/databases/maps/ib/1iby_A.pds [(67,74), (76,83)]
   2.158 /work/lpdi/databases/maps/iu/1iu1_A.pds [(44,51), (57,64)]
  2.1583 /work/lpdi/databases/maps/q8/2q87_A.pds [(0,7), (13,20)]
  2.1607 /work/lpdi/databases/maps/g1/1g1c_A.pds [(8,15), (20,27)]
  2.1653 /work/lpdi/databases/maps/ea/3ead_A.pds [(6,13), (15,22)]
  2.1718 /work/lpdi/databases/maps/vn/2vnv_A.pds [(11,18), (23,30)]
  2.1743 /work/lpdi/databases/maps/vn/2vnv_A.pds [(13,20), (22,29)]
  2.1793 /work/lpdi/databases/maps/g1/1g1c_A.pds [(8,15), (19,26)]
  2.1844 /work/lpdi/databases/maps/wa/1waa_A.pds [(8,15), (19,26)]
  2.1883 /work/lpdi/databases/maps/ne/1neu_A.pds [(2,9), (15,22)]
  2.1886 /work/lpdi/databases/maps/gi/3gin_A.pds [(53,60), (67,74)]
