  1.1625 /work/lpdi/databases/maps/ib/1iby_A.pds [(66,73), (76,83)]
  1.3135 /work/lpdi/databases/maps/al/1aly_A.pds [(90,97), (103,110)]
  1.3958 /work/lpdi/databases/maps/gr/1gr3_A.pds [(73,80), (83,90)]
  1.5132 /work/lpdi/databases/maps/o9/1o91_A.pds [(72,79), (82,89)]
  1.5302 /work/lpdi/databases/maps/u5/1u5x_A.pds [(76,83), (86,93)]
  1.5306 /work/lpdi/databases/maps/qe/2qe3_A.pds [(83,90), (96,103)]
  1.5461 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,16), (19,26)]
  1.5481 /work/lpdi/databases/maps/en/4en0_A.pds [(87,94), (101,108)]
  1.5494 /work/lpdi/databases/maps/cu/2cua_A.pds [(74,81), (84,91)]
   1.564 /work/lpdi/databases/maps/j1/2j12_B.pds [(6,13), (16,23)]
  1.5729 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (11,18)]
   1.612 /work/lpdi/databases/maps/f3/4f3j_A.pds [(74,81), (85,92)]
  1.6286 /work/lpdi/databases/maps/rj/1rjl_C.pds [(19,26), (33,40)]
  1.6563 /work/lpdi/databases/maps/o9/1o91_A.pds [(49,56), (58,65)]
  1.6626 /work/lpdi/databases/maps/n0/1n0l_B.pds [(6,13), (20,27)]
  1.6647 /work/lpdi/databases/maps/dg/1dg6_A.pds [(92,99), (103,110)]
  1.6838 /work/lpdi/databases/maps/v6/2v6h_A.pds [(9,16), (19,26)]
  1.6897 /work/lpdi/databases/maps/f3/4f3j_A.pds [(51,58), (60,67)]
  1.6909 /work/lpdi/databases/maps/g1/1g1c_A.pds [(9,16), (19,26)]
  1.7008 /work/lpdi/databases/maps/gr/1gr3_A.pds [(50,57), (59,66)]
  1.7017 /work/lpdi/databases/maps/al/1aly_A.pds [(92,99), (101,108)]
  1.7084 /work/lpdi/databases/maps/pm/1pm4_A.pds [(31,38), (42,49)]
  1.7105 /work/lpdi/databases/maps/fh/1fhg_A.pds [(13,20), (23,30)]
  1.7142 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (12,19)]
  1.7151 /work/lpdi/databases/maps/dw/2dwx_A.pds [(47,54), (57,64)]
  1.7275 /work/lpdi/databases/maps/p4/1p4p_A.pds [(64,71), (78,85)]
  1.7297 /work/lpdi/databases/maps/qp/3qp3_A.pds [(13,20), (23,30)]
  1.7357 /work/lpdi/databases/maps/gi/3gin_A.pds [(55,62), (66,73)]
  1.7752 /work/lpdi/databases/maps/rj/1rj8_A.pds [(80,87), (92,99)]
  1.7906 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (55,62)]
  1.7971 /work/lpdi/databases/maps/jv/4jvu_A.pds [(75,82), (86,93)]
  1.8257 /work/lpdi/databases/maps/aa/2aan_A.pds [(78,85), (88,95)]
  1.8262 /work/lpdi/databases/maps/jv/4jvw_A.pds [(70,77), (81,88)]
  1.8394 /work/lpdi/databases/maps/ou/3oug_A.pds [(85,92), (96,103)]
  1.8425 /work/lpdi/databases/maps/ea/3ead_A.pds [(52,59), (63,70)]
  1.8466 /work/lpdi/databases/maps/r7/1r75_A.pds [(70,77), (80,87)]
  1.8535 /work/lpdi/databases/maps/f3/4f3j_A.pds [(74,81), (86,93)]
  1.8539 /work/lpdi/databases/maps/f3/4f3j_A.pds [(73,80), (87,94)]
  1.8584 /work/lpdi/databases/maps/q9/2q9s_A.pds [(57,64), (68,75)]
  1.8624 /work/lpdi/databases/maps/gr/1grw_A.pds [(12,19), (22,29)]
  1.8646 /work/lpdi/databases/maps/ne/1neu_A.pds [(55,62), (67,74)]
   1.865 /work/lpdi/databases/maps/nk/1nko_A.pds [(9,16), (19,26)]
  1.8708 /work/lpdi/databases/maps/pk/1pko_A.pds [(7,14), (17,24)]
  1.8752 /work/lpdi/databases/maps/xe/1xed_A.pds [(4,11), (14,21)]
  1.8793 /work/lpdi/databases/maps/o9/1o91_A.pds [(73,80), (82,89)]
   1.883 /work/lpdi/databases/maps/dj/3dj9_A.pds [(68,75), (79,86)]
  1.8875 /work/lpdi/databases/maps/t3/3t30_A.pds [(1,8), (12,19)]
   1.889 /work/lpdi/databases/maps/f3/4f3j_A.pds [(75,82), (85,92)]
  1.8915 /work/lpdi/databases/maps/st/1stm_A.pds [(41,48), (53,60)]
  1.8966 /work/lpdi/databases/maps/bo/3bov_A.pds [(6,13), (16,23)]
  1.9084 /work/lpdi/databases/maps/bw/4bww_A.pds [(79,86), (89,96)]
  1.9163 /work/lpdi/databases/maps/gu/1gu3_A.pds [(81,88), (90,97)]
  1.9223 /work/lpdi/databases/maps/qu/2quo_A.pds [(76,83), (86,93)]
  1.9245 /work/lpdi/databases/maps/q8/2q87_A.pds [(2,9), (11,18)]
  1.9252 /work/lpdi/databases/maps/nq/1nqd_A.pds [(47,54), (57,64)]
  1.9279 /work/lpdi/databases/maps/p4/1p4p_A.pds [(65,72), (77,84)]
  1.9351 /work/lpdi/databases/maps/ib/1iby_A.pds [(35,42), (45,52)]
  1.9392 /work/lpdi/databases/maps/nm/2nms_A.pds [(6,13), (16,23)]
  1.9452 /work/lpdi/databases/maps/gr/1gr3_A.pds [(74,81), (83,90)]
  1.9486 /work/lpdi/databases/maps/r0/1r0u_A.pds [(77,84), (86,93)]
