  1.5634 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (83,92)]
  1.6233 /work/lpdi/databases/maps/eo/3eod_A.pds [(3,10), (18,27)]
  1.9136 /work/lpdi/databases/maps/tt/1ttz_A.pds [(53,60), (63,72)]
   1.986 /work/lpdi/databases/maps/y8/1y81_A.pds [(79,86), (92,101)]
  2.0029 /work/lpdi/databases/maps/b4/2b4a_A.pds [(92,99), (102,111)]
  2.0031 /work/lpdi/databases/maps/ku/4kun_A.pds [(4,11), (18,27)]
  2.0456 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (97,106)]
  2.0718 /work/lpdi/databases/maps/b4/2b4a_A.pds [(0,7), (15,24)]
  2.1443 /work/lpdi/databases/maps/gn/3gnj_A.pds [(87,94), (97,106)]
  2.1472 /work/lpdi/databases/maps/wz/2wz9_A.pds [(22,29), (36,45)]
  2.1493 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (15,24)]
  2.1769 /work/lpdi/databases/maps/y8/1y81_A.pds [(55,62), (69,78)]
  2.1898 /work/lpdi/databases/maps/ii/1iib_A.pds [(72,79), (86,95)]
   2.207 /work/lpdi/databases/maps/eo/3eod_A.pds [(4,11), (18,27)]
   2.225 /work/lpdi/databases/maps/hx/3hxs_A.pds [(30,37), (44,53)]
  2.2281 /work/lpdi/databases/maps/t1/1t1j_A.pds [(77,84), (90,99)]
  2.2292 /work/lpdi/databases/maps/b4/2b4a_A.pds [(1,8), (15,24)]
  2.2294 /work/lpdi/databases/maps/eo/3eod_A.pds [(71,78), (83,92)]
  2.2344 /work/lpdi/databases/maps/hx/3hxs_A.pds [(93,100), (104,113)]
  2.2357 /work/lpdi/databases/maps/t1/1t1j_A.pds [(4,11), (19,28)]
  2.2376 /work/lpdi/databases/maps/vf/3vfi_A.pds [(82,89), (92,101)]
  2.2403 /work/lpdi/databases/maps/eo/3eod_A.pds [(73,80), (83,92)]
  2.2472 /work/lpdi/databases/maps/vf/3vfi_A.pds [(18,25), (32,41)]
   2.262 /work/lpdi/databases/maps/y8/1y81_A.pds [(80,87), (92,101)]
   2.271 /work/lpdi/databases/maps/wo/1wou_A.pds [(97,104), (109,118)]
  2.2733 /work/lpdi/databases/maps/hx/3hxs_A.pds [(94,101), (104,113)]
  2.2808 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (18,27)]
  2.2821 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (15,24)]
  2.2823 /work/lpdi/databases/maps/t1/1t1j_A.pds [(77,84), (91,100)]
   2.301 /work/lpdi/databases/maps/h7/3h79_A.pds [(22,29), (36,45)]
  2.3103 /work/lpdi/databases/maps/y8/1y81_A.pds [(81,88), (92,101)]
  2.3113 /work/lpdi/databases/maps/gn/3gnj_A.pds [(23,30), (37,46)]
  2.3148 /work/lpdi/databases/maps/oj/2ojl_A.pds [(2,9), (16,25)]
  2.3188 /work/lpdi/databases/maps/hz/3hz4_A.pds [(86,93), (96,105)]
  2.3209 /work/lpdi/databases/maps/hz/3hz4_A.pds [(22,29), (36,45)]
  2.3409 /work/lpdi/databases/maps/ku/4kun_A.pds [(69,76), (80,89)]
  2.3433 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (12,21)]
  2.3469 /work/lpdi/databases/maps/r5/1r5p_A.pds [(1,8), (16,25)]
  2.3889 /work/lpdi/databases/maps/b4/2b4a_A.pds [(46,53), (62,71)]
  2.4096 /work/lpdi/databases/maps/r5/1r5p_A.pds [(2,9), (12,21)]
  2.4176 /work/lpdi/databases/maps/r4/2r48_A.pds [(74,81), (90,99)]
  2.4225 /work/lpdi/databases/maps/gn/3gnj_A.pds [(85,92), (101,110)]
  2.4257 /work/lpdi/databases/maps/r4/2r48_A.pds [(1,8), (17,26)]
  2.4345 /work/lpdi/databases/maps/eo/3eod_A.pds [(72,79), (84,93)]
  2.4522 /work/lpdi/databases/maps/d2/3d21_A.pds [(24,31), (38,47)]
  2.4569 /work/lpdi/databases/maps/gm/1gmx_A.pds [(56,63), (70,79)]
  2.4617 /work/lpdi/databases/maps/ii/1iib_A.pds [(71,78), (86,95)]
  2.4636 /work/lpdi/databases/maps/hx/3hxs_A.pds [(92,99), (104,113)]
  2.4888 /work/lpdi/databases/maps/y8/1y81_A.pds [(54,61), (69,78)]
  2.5365 /work/lpdi/databases/maps/f5/2f51_A.pds [(23,30), (37,46)]
  2.5411 /work/lpdi/databases/maps/ii/1iib_A.pds [(1,8), (11,20)]
  2.5484 /work/lpdi/databases/maps/b4/2b4a_A.pds [(2,9), (12,21)]
  2.5588 /work/lpdi/databases/maps/r4/2r48_A.pds [(75,82), (90,99)]
  2.5612 /work/lpdi/databases/maps/eo/3eod_A.pds [(5,12), (15,24)]
  2.5828 /work/lpdi/databases/maps/t1/1t1j_A.pds [(6,13), (15,24)]
  2.5939 /work/lpdi/databases/maps/y8/1y81_A.pds [(56,63), (69,78)]
  2.5958 /work/lpdi/databases/maps/r5/1r5p_A.pds [(0,7), (16,25)]
  2.6064 /work/lpdi/databases/maps/gn/3gnj_A.pds [(86,93), (101,110)]
  2.6068 /work/lpdi/databases/maps/ku/4kun_A.pds [(68,75), (80,89)]
  2.6075 /work/lpdi/databases/maps/wo/1wou_A.pds [(96,103), (109,118)]
