  1.1625 /work/lpdi/databases/maps/ib/1iby_A.pds [(66,73), (76,83)]
  1.5461 /work/lpdi/databases/maps/wa/1waa_A.pds [(9,16), (19,26)]
   1.564 /work/lpdi/databases/maps/j1/2j12_B.pds [(6,13), (16,23)]
  1.5729 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (11,18)]
  1.6286 /work/lpdi/databases/maps/rj/1rjl_C.pds [(19,26), (33,40)]
  1.6626 /work/lpdi/databases/maps/n0/1n0l_B.pds [(6,13), (20,27)]
  1.6838 /work/lpdi/databases/maps/v6/2v6h_A.pds [(9,16), (19,26)]
  1.6909 /work/lpdi/databases/maps/g1/1g1c_A.pds [(9,16), (19,26)]
  1.7084 /work/lpdi/databases/maps/pm/1pm4_A.pds [(31,38), (42,49)]
  1.7105 /work/lpdi/databases/maps/fh/1fhg_A.pds [(13,20), (23,30)]
  1.7142 /work/lpdi/databases/maps/q8/2q87_A.pds [(1,8), (12,19)]
  1.7297 /work/lpdi/databases/maps/qp/3qp3_A.pds [(13,20), (23,30)]
  1.7357 /work/lpdi/databases/maps/gi/3gin_A.pds [(55,62), (66,73)]
  1.7906 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (55,62)]
  1.7971 /work/lpdi/databases/maps/jv/4jvu_A.pds [(75,82), (86,93)]
  1.8262 /work/lpdi/databases/maps/jv/4jvw_A.pds [(70,77), (81,88)]
  1.8394 /work/lpdi/databases/maps/ou/3oug_A.pds [(85,92), (96,103)]
  1.8425 /work/lpdi/databases/maps/ea/3ead_A.pds [(52,59), (63,70)]
  1.8466 /work/lpdi/databases/maps/r7/1r75_A.pds [(70,77), (80,87)]
  1.8646 /work/lpdi/databases/maps/ne/1neu_A.pds [(55,62), (67,74)]
  1.8752 /work/lpdi/databases/maps/xe/1xed_A.pds [(4,11), (14,21)]
   1.883 /work/lpdi/databases/maps/dj/3dj9_A.pds [(68,75), (79,86)]
  1.8875 /work/lpdi/databases/maps/t3/3t30_A.pds [(1,8), (12,19)]
  1.8966 /work/lpdi/databases/maps/bo/3bov_A.pds [(6,13), (16,23)]
  1.9245 /work/lpdi/databases/maps/q8/2q87_A.pds [(2,9), (11,18)]
  1.9252 /work/lpdi/databases/maps/nq/1nqd_A.pds [(47,54), (57,64)]
  1.9351 /work/lpdi/databases/maps/ib/1iby_A.pds [(35,42), (45,52)]
  1.9392 /work/lpdi/databases/maps/nm/2nms_A.pds [(6,13), (16,23)]
  1.9515 /work/lpdi/databases/maps/nq/1nqd_A.pds [(22,29), (33,40)]
  1.9538 /work/lpdi/databases/maps/no/4nob_A.pds [(5,12), (15,22)]
  1.9561 /work/lpdi/databases/maps/ib/1iby_A.pds [(67,74), (76,83)]
  1.9576 /work/lpdi/databases/maps/xa/1xau_A.pds [(8,15), (18,25)]
  1.9673 /work/lpdi/databases/maps/gi/3gin_A.pds [(7,14), (18,25)]
  2.0002 /work/lpdi/databases/maps/ea/3ead_A.pds [(5,12), (16,23)]
  2.0027 /work/lpdi/databases/maps/or/2or8_A.pds [(16,23), (25,32)]
  2.0115 /work/lpdi/databases/maps/jq/3jqw_A.pds [(48,55), (58,65)]
  2.0141 /work/lpdi/databases/maps/jq/3jqw_A.pds [(23,30), (34,41)]
  2.0167 /work/lpdi/databases/maps/ne/1neu_A.pds [(4,11), (14,21)]
  2.0221 /work/lpdi/databases/maps/g1/1g1c_A.pds [(8,15), (19,26)]
  2.0269 /work/lpdi/databases/maps/pm/1pm4_A.pds [(81,88), (93,100)]
  2.0283 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (32,39)]
  2.0406 /work/lpdi/databases/maps/gi/2gim_A.pds [(59,66), (68,75)]
   2.043 /work/lpdi/databases/maps/ea/3ead_A.pds [(50,57), (64,71)]
  2.0446 /work/lpdi/databases/maps/go/4gos_A.pds [(5,12), (15,22)]
  2.0643 /work/lpdi/databases/maps/gi/3gin_A.pds [(53,60), (67,74)]
  2.0716 /work/lpdi/databases/maps/sp/1spp_B.pds [(15,22), (29,36)]
  2.0738 /work/lpdi/databases/maps/sm/1smo_A.pds [(4,11), (14,21)]
  2.0738 /work/lpdi/databases/maps/wa/1waa_A.pds [(8,15), (19,26)]
  2.0757 /work/lpdi/databases/maps/rj/1rjl_C.pds [(21,28), (31,38)]
  2.0815 /work/lpdi/databases/maps/qp/3qp3_A.pds [(12,19), (23,30)]
  2.0903 /work/lpdi/databases/maps/iu/1iu1_A.pds [(45,52), (56,63)]
   2.093 /work/lpdi/databases/maps/vn/2vnv_A.pds [(36,43), (47,54)]
  2.1032 /work/lpdi/databases/maps/v6/2v6h_A.pds [(8,15), (19,26)]
  2.1039 /work/lpdi/databases/maps/jp/1jpe_A.pds [(34,41), (44,51)]
  2.1094 /work/lpdi/databases/maps/sp/1spp_B.pds [(16,23), (27,34)]
  2.1126 /work/lpdi/databases/maps/gi/3gin_A.pds [(54,61), (66,73)]
  2.1208 /work/lpdi/databases/maps/ib/1iby_A.pds [(66,73), (77,84)]
  2.1212 /work/lpdi/databases/maps/rj/1rjl_C.pds [(20,27), (33,40)]
  2.1257 /work/lpdi/databases/maps/xc/2xcm_C.pds [(36,43), (45,52)]
  2.1325 /work/lpdi/databases/maps/ec/3ecy_A.pds [(30,37), (39,46)]
