  1.5784 /work/lpdi/databases/maps/wc/2wci_A.pds [(4,13), (15,22)]
  1.5874 /work/lpdi/databases/maps/ht/2ht9_A.pds [(5,14), (16,23)]
  1.7489 /work/lpdi/databases/maps/l4/3l4n_A.pds [(3,12), (14,21)]
  1.7494 /work/lpdi/databases/maps/rh/3rhb_A.pds [(3,12), (14,21)]
  1.7588 /work/lpdi/databases/maps/ct/3ctf_A.pds [(5,14), (16,23)]
  1.8297 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (23,30)]
  1.8472 /work/lpdi/databases/maps/rd/3rdw_A.pds [(13,22), (24,31)]
  1.8877 /work/lpdi/databases/maps/eo/3eod_A.pds [(83,92), (94,101)]
  1.9202 /work/lpdi/databases/maps/wc/2wci_A.pds [(33,42), (44,51)]
  2.0126 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (21,28)]
  2.0295 /work/lpdi/databases/maps/d2/3d21_A.pds [(12,21), (23,30)]
  2.0648 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (22,29)]
  2.0753 /work/lpdi/databases/maps/f5/2f51_A.pds [(11,20), (22,29)]
  2.0991 /work/lpdi/databases/maps/rw/1rw1_A.pds [(13,22), (24,31)]
    2.15 /work/lpdi/databases/maps/b4/2b4a_A.pds [(62,71), (73,80)]
  2.1573 /work/lpdi/databases/maps/b4/2b4a_A.pds [(15,24), (26,33)]
  2.1591 /work/lpdi/databases/maps/aa/1aaz_A.pds [(17,26), (28,35)]
  2.1604 /work/lpdi/databases/maps/ht/2ht9_A.pds [(29,38), (40,47)]
  2.1647 /work/lpdi/databases/maps/r5/1r5p_A.pds [(19,28), (31,38)]
  2.1764 /work/lpdi/databases/maps/fz/3fz4_A.pds [(15,24), (26,33)]
  2.1764 /work/lpdi/databases/maps/rh/3rhb_A.pds [(27,36), (38,45)]
   2.196 /work/lpdi/databases/maps/y8/1y81_A.pds [(69,78), (80,87)]
  2.2066 /work/lpdi/databases/maps/eo/3eod_A.pds [(18,27), (29,36)]
  2.2131 /work/lpdi/databases/maps/hs/4hs1_A.pds [(13,22), (24,31)]
  2.2338 /work/lpdi/databases/maps/h7/1h75_A.pds [(14,23), (25,32)]
  2.2347 /work/lpdi/databases/maps/y8/1y81_A.pds [(17,26), (28,35)]
   2.235 /work/lpdi/databases/maps/hz/3hz4_A.pds [(40,49), (53,60)]
  2.2697 /work/lpdi/databases/maps/z3/1z3e_A.pds [(14,23), (25,32)]
  2.2861 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (23,30)]
  2.3129 /work/lpdi/databases/maps/r5/1r5p_A.pds [(64,73), (79,86)]
  2.3223 /work/lpdi/databases/maps/h7/3h79_A.pds [(9,18), (21,28)]
  2.3264 /work/lpdi/databases/maps/d2/3d21_A.pds [(42,51), (54,61)]
  2.3313 /work/lpdi/databases/maps/r5/1r5p_A.pds [(67,76), (78,85)]
  2.3437 /work/lpdi/databases/maps/vf/3vfi_A.pds [(36,45), (49,56)]
  2.3706 /work/lpdi/databases/maps/tt/1ttz_A.pds [(13,22), (25,32)]
  2.3825 /work/lpdi/databases/maps/y8/1y81_A.pds [(92,101), (103,110)]
  2.4015 /work/lpdi/databases/maps/hz/3hz4_A.pds [(40,49), (52,59)]
  2.4104 /work/lpdi/databases/maps/r5/1r5p_A.pds [(67,76), (79,86)]
  2.4217 /work/lpdi/databases/maps/vf/3vfi_A.pds [(36,45), (48,55)]
  2.4243 /work/lpdi/databases/maps/wz/2wz9_A.pds [(8,17), (22,29)]
  2.4244 /work/lpdi/databases/maps/f5/2f51_A.pds [(41,50), (53,60)]
  2.4344 /work/lpdi/databases/maps/h7/3h79_A.pds [(43,52), (56,63)]
  2.4526 /work/lpdi/databases/maps/y8/1y81_A.pds [(14,23), (28,35)]
   2.459 /work/lpdi/databases/maps/r5/1r5p_A.pds [(19,28), (32,39)]
  2.4662 /work/lpdi/databases/maps/d2/3d21_A.pds [(42,51), (53,60)]
  2.4675 /work/lpdi/databases/maps/tt/1ttz_A.pds [(13,22), (24,31)]
  2.4766 /work/lpdi/databases/maps/hx/3hxs_A.pds [(48,57), (61,68)]
  2.5006 /work/lpdi/databases/maps/wo/1wou_A.pds [(8,17), (21,28)]
  2.5093 /work/lpdi/databases/maps/eo/3eod_A.pds [(59,68), (70,77)]
    2.51 /work/lpdi/databases/maps/f5/2f51_A.pds [(10,19), (24,31)]
  2.5173 /work/lpdi/databases/maps/hx/3hxs_A.pds [(48,57), (60,67)]
  2.5183 /work/lpdi/databases/maps/h7/3h79_A.pds [(9,18), (22,29)]
   2.523 /work/lpdi/databases/maps/wo/1wou_A.pds [(47,56), (60,67)]
  2.5263 /work/lpdi/databases/maps/f5/2f51_A.pds [(41,50), (52,59)]
   2.533 /work/lpdi/databases/maps/d2/3d21_A.pds [(8,17), (22,29)]
  2.5362 /work/lpdi/databases/maps/b4/2b4a_A.pds [(62,71), (74,81)]
  2.5379 /work/lpdi/databases/maps/t1/1t1j_A.pds [(66,75), (77,84)]
  2.5403 /work/lpdi/databases/maps/xg/1xg8_A.pds [(32,41), (45,52)]
  2.5446 /work/lpdi/databases/maps/rd/3rdw_A.pds [(10,19), (24,31)]
  2.5531 /work/lpdi/databases/maps/hz/3hz4_A.pds [(10,19), (21,28)]
