 0.98438 /work/lpdi/databases/maps/go/2go8_A.pds [(38,45), (49,56)]
  1.1565 /work/lpdi/databases/maps/cv/2cve_A.pds [(45,52), (55,62)]
  1.2292 /work/lpdi/databases/maps/jn/1jnr_B.pds [(73,80), (83,90)]
  1.2459 /work/lpdi/databases/maps/nz/2nzc_A.pds [(32,39), (44,51)]
  1.2753 /work/lpdi/databases/maps/u8/1u8s_A.pds [(120,127), (130,137)]
  1.2753 /work/lpdi/databases/maps/u8/1u8s_A.pds [(120,127), (130,137)]
  1.3194 /work/lpdi/databases/maps/tu/1tuw_A.pds [(36,43), (46,53)]
  1.3232 /work/lpdi/databases/maps/om/2omo_A.pds [(42,49), (55,62)]
  1.3331 /work/lpdi/databases/maps/u8/1u8s_A.pds [(33,40), (43,50)]
  1.3331 /work/lpdi/databases/maps/u8/1u8s_A.pds [(33,40), (43,50)]
  1.3914 /work/lpdi/databases/maps/cv/2cve_A.pds [(6,13), (16,23)]
   1.403 /work/lpdi/databases/maps/iu/1iuj_A.pds [(35,42), (48,55)]
  1.4081 /work/lpdi/databases/maps/vd/1vdh_A.pds [(57,64), (70,77)]
  1.4099 /work/lpdi/databases/maps/by/2byc_A.pds [(38,45), (48,55)]
  1.4136 /work/lpdi/databases/maps/iy/2iyg_A.pds [(37,44), (47,54)]
  1.4507 /work/lpdi/databases/maps/fd/4fdf_A.pds [(68,75), (78,85)]
  1.4589 /work/lpdi/databases/maps/x7/1x7v_A.pds [(39,46), (52,59)]
  1.4608 /work/lpdi/databases/maps/bb/2bbe_A.pds [(42,49), (55,62)]
  1.4627 /work/lpdi/databases/maps/qq/2qqd_C.pds [(84,91), (97,104)]
  1.4634 /work/lpdi/databases/maps/jn/1jnr_B.pds [(83,90), (94,101)]
  1.4758 /work/lpdi/databases/maps/gf/2gff_A.pds [(35,42), (48,55)]
  1.4788 /work/lpdi/databases/maps/a4/1a41_A.pds [(69,76), (80,87)]
  1.4866 /work/lpdi/databases/maps/hf/2hfn_A.pds [(35,42), (45,52)]
  1.4891 /work/lpdi/databases/maps/ql/2qlx_A.pds [(42,49), (54,61)]
  1.4954 /work/lpdi/databases/maps/ql/2qlw_A.pds [(42,49), (54,61)]
  1.5044 /work/lpdi/databases/maps/q8/1q8b_A.pds [(37,44), (50,57)]
  1.5118 /work/lpdi/databases/maps/cv/1cvj_A.pds [(115,122), (127,134)]
  1.5118 /work/lpdi/databases/maps/cv/1cvj_A.pds [(115,122), (127,134)]
  1.5196 /work/lpdi/databases/maps/y3/2y3y_A.pds [(35,42), (46,53)]
  1.5208 /work/lpdi/databases/maps/pd/2pd1_A.pds [(39,46), (50,57)]
  1.5208 /work/lpdi/databases/maps/hx/3hx9_A.pds [(35,42), (48,55)]
  1.5378 /work/lpdi/databases/maps/f0/2f06_A.pds [(34,41), (44,51)]
  1.5378 /work/lpdi/databases/maps/f0/2f06_A.pds [(34,41), (44,51)]
  1.5451 /work/lpdi/databases/maps/ca/2ca9_A.pds [(80,87), (91,98)]
  1.5506 /work/lpdi/databases/maps/f9/2f9d_A.pds [(34,41), (45,52)]
  1.5536 /work/lpdi/databases/maps/lq/1lq9_A.pds [(45,52), (57,64)]
  1.5621 /work/lpdi/databases/maps/qu/1qup_A.pds [(100,107), (111,118)]
  1.5752 /work/lpdi/databases/maps/qn/2qn6_B.pds [(39,46), (50,57)]
  1.5771 /work/lpdi/databases/maps/y0/1y0h_A.pds [(39,46), (51,58)]
  1.5788 /work/lpdi/databases/maps/q5/1q5v_A.pds [(65,72), (76,83)]
  1.5814 /work/lpdi/databases/maps/ek/2ekn_A.pds [(72,79), (82,89)]
  1.5899 /work/lpdi/databases/maps/in/1in0_A.pds [(33,40), (45,52)]
  1.5899 /work/lpdi/databases/maps/in/1in0_A.pds [(33,40), (45,52)]
  1.5984 /work/lpdi/databases/maps/d2/3d2w_A.pds [(28,35), (37,44)]
  1.6078 /work/lpdi/databases/maps/ul/3ulh_A.pds [(33,40), (46,53)]
  1.6336 /work/lpdi/databases/maps/v0/2v0r_A.pds [(54,61), (66,73)]
  1.6485 /work/lpdi/databases/maps/wd/1wdu_A.pds [(81,88), (91,98)]
  1.6539 /work/lpdi/databases/maps/b8/3b8o_A.pds [(83,90), (93,100)]
  1.6651 /work/lpdi/databases/maps/jm/1jmt_A.pds [(48,55), (61,68)]
  1.6772 /work/lpdi/databases/maps/hw/4hwx_A.pds [(77,84), (87,94)]
  1.6832 /work/lpdi/databases/maps/pc/2pc6_A.pds [(31,38), (43,50)]
  1.6832 /work/lpdi/databases/maps/pc/2pc6_A.pds [(31,38), (43,50)]
  1.6906 /work/lpdi/databases/maps/bj/2bjd_A.pds [(30,37), (41,48)]
  1.7013 /work/lpdi/databases/maps/ei/2ei9_A.pds [(72,79), (84,91)]
  1.7017 /work/lpdi/databases/maps/od/2od4_A.pds [(44,51), (55,62)]
  1.7058 /work/lpdi/databases/maps/f0/2f06_A.pds [(100,107), (110,117)]
  1.7058 /work/lpdi/databases/maps/f0/2f06_A.pds [(100,107), (110,117)]
  1.7226 /work/lpdi/databases/maps/tr/3trg_A.pds [(36,43), (47,54)]
  1.7243 /work/lpdi/databases/maps/v0/2v0r_A.pds [(91,98), (101,108)]
  1.7313 /work/lpdi/databases/maps/qq/2qqd_C.pds [(86,93), (95,102)]
